﻿body {
	font-family:"微软雅黑","宋体",verdana;
	background-color:#8da9c7;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%;
}
.bg-big {
	background:url(images/in-bg.jpg) repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    width:100%
}
.clear {
   clear: both;
   font:0 arial;
   height: 0;
   overflow: hidden;
}
#background {
    position: absolute;
    z-index: 1;
    overflow:hidden;
    left:0;
    top:0;
    width:100%;
}
#scroller {
    height: 100%;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    display:block;
}

#content {
    position:absolute;
    top:20%;
    left:45%;
}
.platform-name {
	font-size:16px;
	font-weight:bold;
	color:#19396f;
}
.login-area {
	margin:78px 0 0 0;
}
#field {
	margin:7px 0 0 0;
}
#field .name {
	margin:5px 5px 0 0;
	font-size:14px;
	color:#10528f;
	font-weight:bold;
	width:45px;
    display: inline-block;
    padding-right:5px;
	float:left;
}
#field .inputarea {
	background:url(images/input-bg.jpg) no-repeat;
	width:195px;
	height:21px;
	padding:5px 0 0 10px;
	float:left;
	display:inherit;
}
#field input {
    width:170px;
    height:15px;
    line-height:15px;
	color:#b4e2ff;
	font-size:14px;
	font-weight:bold;
	border:0;
	background-color:#0854b2;
    font-family: verdana,"微软雅黑";
}
#content .btnarea {
	margin:12px 0 0 0;
	padding-left:60px;
}
a.btn-login,a.btn-retry {
	background:url(images/btn.gif) no-repeat;
	width:76px;
	height:28px;
	float:left;
	margin-right:5px;
}
a.btn-login {
	background-position:0 0;
	display:block;
}
a.btn-login:hover {
	background-position:0 -30px;
}
a.btn-retry {
	background-position:0 -60px;
	display:block;
}
a.btn-retry:hover {
	background-position:0 -90px;
}
.x-form-invalid-icon {
    background: url(images/exclamation.gif) no-repeat 0 2px;
    display: block;
    height: 18px;
    width: 16px;
    float:left;
    margin:5px;
}

#header .api-title {
    color: white;
    background:url(images/head-t-bg.jpg) no-repeat;
    font: 900 14px 宋体,tahoma,arial,sans-serif;
    height: 28px;
    margin: 0 0 0 5px;
    padding: 6px 0 0 115px;
}

.com-msg {
	font-size:12px;
	color:#10528f;
	text-align:center;
	margin:50px;
    position: relative;
    z-index: 100;
    top:450px;
}
.com-msg a {
	color:#0078ff;
	text-decoration:none;
}
.com-msg a:hover {
	color:#0078ff;
	text-decoration:underline;
}








