﻿@charset "utf-8";
/* CSS Document */
body,div,ol,ul,li,p,table,form,img,input,h1,h2,h3,h4,h5,h6{margin:0 auto;padding:0px;border:0px;}
body{font-family: "宋体";font-size: 12px;color: #333333;}
ol,ul,li,img{list-style-type:none;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
body {background:#184180 url("../images/bg.jpg") repeat-x scroll left top;}
ol, ul, li,label {
	margin:0;
	padding:0;
    list-style-type: none;
}

.clearbh:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearbh {
    clear: both;
    display: inline-block;
    font-size: 0;
    height: 0;
    overflow: hidden;
}
.left{float:left;}

/*---main---*/
.main {
	position:relative;
	margin:0 auto;
    background: url("../images/content_bg.jpg") no-repeat left top;
    height: 1000px;
    overflow: hidden;
    width: 980px;
	color:#fff;
}
/*------head------*/
.logo{padding:10px 10px 0 24px;}
.form_login{
	padding-top:20px;
	overflow:auto;zoom:1;
	vertical-align:middle;
	}
.form{
	text-align:center;
	height:40px;
	display:block;
	
	}
.form li{float:left;padding-right:10px;}
.form input{vertical-align:middle; font-size:12px;}
.txtBox1{
	background:url("../images/text_bg.png") no-repeat 0 0;
	width:130px;
	height:26px;
	line-height:26px;
	padding-left:10px;
	}
.txtBox2{
	background:url("../images/code_bg.png") no-repeat 0 0;
	width:70px;
	height:26px;
	line-height:26px;
	padding-left:10px;
	}
.chk{
	margin:5px 10px;
	vertical-align:middle;
	}
.login{
	background:url("../images/btn_login.png") no-repeat 0 0;
	width:101px;
	height:30px;
	cursor: pointer;
	}
.login:hover{
	background:url("../images/btn_login.png") no-repeat 0 -34px;
	width:101px;
	height:30px;
	display:block;
	cursor: pointer;
	}
/*-------content-------*/
.content{
	width:810px;
	height:auto;
	position:absolute;
	top:150px;
	left:160px;
	}	
.col{
	float:left;
	background:url("../images/check_bg.png") no-repeat 0 0;
	width:180px;
	height:290px;
	margin:10px;
	padding-top:10px;

	}
.col h1{
	font-size:16px;
	text-align:center;
	height:34px;
	}
.list{padding-top:10px;width:100%;height:220px;overflow-y: auto;}
.list li{padding:5px 5px 0 16px;line-height:24px;}
.invalidMsg{background: url(../images/exclamation.gif) no-repeat 30px -1px;height: 18px;}