/* CSS Document */
/*----------------------------------Author:lvzhaohua-----------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{padding:0;margin:0 auto;border:0;}
body{font-size:12px;color:#333;background:#174382 url(../images/body-bg1.jpg) left top repeat-x fixed;font-family:"宋体";}
ol,ul,li,img{list-style-type: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
abbr,acronym { border: 0;}
.clearbh:after{height:0;visibility:hidden;display:block;clear:both;content:" ";}
.clearbh{ clear:both;font-size:0; height:0; overflow:hidden;display:inline-block;}
/* fix IE hack \*/
*html .clearbh{height:1%;}
/*--------------------------------全局样式结束------------------------------*/
.f-l{float:left;}
.f-r{float:right;}
.ov-fl{overflow:hidden;}
.wrapbox{width:100%;background:url(../images/body-bg2.jpg) center top no-repeat fixed;}
.wrap{padding-top:80px;_padding-top:20px;}
.header{width:100%;height:61px;position:fixed;top:0px;left:auto;z-index:10000;}
.header-content{width:980px;height:61px;background:#eeeeee url(../images/headerbg.jpg) left top repeat-x fixed;}
.logo{width:229px;padding-top:10px;}
.form-content{height:43px;padding-top:18px;padding-right:10px;background:url(../images/header-line.jpg) 643px 0px no-repeat;}
.form-p1{padding:1px;height:26px;line-height:26px;}
.form-p2,.form-p3,.form-p4,.form-p5{padding:2px 5px;background:url(../images/inputbg.jpg) 0px 0px no-repeat;}
.form-p2,.form-p4{width:122px;height:22px;}
.form-p3,.form-p5{width:38px;height:22px;}
.form-p2{background-position:0px 0px;}
.form-p4{background-position:0px -26px}
.form-p3{background-position:0px -52px;}
.form-p5{background-position:0px -78px;}
.form-p2 input,.form-p3 input,.form-p4 input,.form-p5 input{height:20px;line-height:20px;font-size:12px;color:#333;}
.form-p2 input,.form-p3 input,.form-p5 input{text-align:left;}
a.login{width:65px;height:28px;display:block;background:url(../images/login.jpg) 0px 0px no-repeat;text-decoration:none;}
a.login{background-position:0px 0px;}
a.login:hover,a.login:active{background-position:0px -28px;}
/*--------------------------------start--content------------------------------*/
.content{width:940px;text-align:left;padding:20px 20px 0px 20px;}
.col1{background:url(../images/block_bg.png) no-repeat top center;width:210px; height:315px;margin:0 10px;padding-bottom:20px;float:left;}
.col1 h2{font-size:16px;color:#fff;text-align:center;height:50px;line-height:50px;}
.col1 ul{padding:15px 0 0 10px;color:#8e8e8e;width:200px;height:190px;overflow:auto;}
.col1 ul li{line-height:20px;}
.logo_gray{text-align:right;padding:10px;}
.col2{background:url(../images/dotted_bg.png) no-repeat center top;width:210px; height:315px;float:left;margin:0 10px;padding-bottom:20px;}
.copyright{width:100%;padding:30px 0px;text-align:center;height:24px;display:inline-block;color:#fff;}
input{
	outline: 0;
}