.top-module-abs {
	background-image: url(images/lorry_link.png) !important;
}
.top-module-kbmgr {
	background-image: url(images/database_connect.png) !important;
}
.top-module-botmgr {
	background-image: url(images/status_online.png) !important;
}
.top-module-ommgr {
	background-image: url(images/chart_bar_link.png) !important;
}
.top-module-mktmgr {
	background-image: url(images/mktmgr.png) !important;
}
.top-module-rsmgr {
	background-image: url(images/rsmgr.png) !important;
}
.top-module-authmgr {
	background-image: url(images/authmgr.png) !important;
}
.top-module-x {
	background-image: url(images/module-x.gif) !important;
}
.top-module-matmgr {
	background-image: url(images/matmgr.png) !important;
}
.top-module-acsmgr {
	background-image: url(images/acsmgr.png) !important;
}
.top-module-segment {
	background-image: url(desk/images/connect.png) !important;
}