/*!
 * Ext JS Library 3.4.0
 * Copyright(c) 2006-2011 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
.images-view .images-view-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
.images-view .thumb{
	background: #dddddd;
	padding: 3px;
}
.images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
.images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.images-view .x-view-over{
    border:1px solid #dddddd;
	padding: 4px;
}

.images-view .x-view-selected{
	border:1px solid #99bbe8;
	padding: 4px;
}
.images-view .x-view-selected .thumb{
	background:transparent;
}

.images-view .loading-indicator {
	font-size:11px;
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}