/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form {
	margin: 0;
	padding: 0
}

ul {
	list-style: none;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	height: 0px;
}

a {
	outline: none;
	blr: expression(this.onFocus = this.blur () );
}

a:hover {
	color: #000;
}

img {
	vertical-align: top;
	border: 0
}

html {
	height: 100%;
	width: 100%;
	overflow:hidden;
}
/***********************通用代码结束**************************/
.multiToolId {
	height: 150px;
	width: 150px;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index:999;
}

.tips {
	height: 150px;
	width: 150px;
	background: url(images/multifunbg.png) no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	_background: url(images/multifunbg.png) no-repeat !important;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,
		sizingMethod=noscale, src="images/multifunbg.png" );
	z-index: 999999;
}

.tips a {
	position: relative;
}

.tips .ico1 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 35px;
	top: 25px;
}

.tips .ico1:hover {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 37px;
	top: 25px;
}

.tips .ico2 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 80px;
	top: 20px;
}

.tips .ico2:hover {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 82px;
	top20px;
}

.tips .ico3 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 105px;
	top: 62px;
}

.tips .ico3:hover {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 107px;
	top: 62px;
}

.tips .ico4 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 84px;
	top: 107px;
}

.tips .ico4:hover {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 86px;
	top: 107px;
}

.tips .ico5 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 40px;
	top: 107px;
}

.tips .ico5:hover {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 42px;
	top: 107px;
}

.tips .ico6 {
	width: 43px;
	height: 43px;
	position: absolute;
	left: 51px;
	top: 55px;
}

.tips1 {
	width: 43px;
	height: 43px;
	left: 51px;
	top: 55px;
	position: absolute;
	z-index: 999999;
}
.tips_quan{position:relative;}