.icon-add {
	background-image: url(images/add.png) !important;
}

.icon-save {
	background-image: url(images/disk.png) !important;
}

.icon-edit {
	background-image: url(images/application_edit.png) !important;
}

.icon-delete {
	background-image: url(images/delete.gif) !important;
}

.icon-refresh {
	background-image: url(images/refresh.gif) !important;
}

.icon-search {
	background-image: url(images/search.png) !important;
}

.icon-setup {
	background-image: url(images/cog.png) !important;
}

.icon-cancel {
	background-image: url(images/cancel.png) !important;
}

.icon-ok {
	background-image: url(images/accept.png) !important;
}

.icon-upload {
	background: url('images/image_add.png') no-repeat 0 0 !important;
}

.icon-upload-lib {
	background: url('images/database_add.png') no-repeat 0 0 !important;
}

.icon-upload-excel {
	background: url('images/page_white_excel.png') no-repeat 0 0 !important;
}

.icon-export {
	background-image: url(images/export.png) !important;
}

.icon-import {
	background-image: url(images/import.png) !important;
}

.icon-emot-icon {
	background-image: url(images/images.png) !important;
}

.icon-business-lib {
	background-image: url(images/database.png) !important;
}

.icon-business-lib-reload {
	background-image: url(images/database_refresh.png) !important;
}

.icon-dynamic-platform {
	background-image: url(images/sitemap_color.png) !important;
}

.icon-message-resource {
	background-image: url(images/table_gear.png) !important;
}

.icon-simple-dialog {
	background-image: url(images/comments.png) !important;
}

.icon-robot-acc {
	background-image: url(images/robot.png) !important;
}

.icon-dynamic-platform0 {
	background-image: url(images/information.png) !important;
}

.icon-stop {
	background-image: url(images/control_pause.png) !important;
}

.icon-stop-all {
	background-image: url(images/control_pause_blue.png) !important;
}

.icon-start {
	background-image: url(images/control_play.png) !important;
}

.icon-start-all {
	background-image: url(images/control_play_blue.png) !important;
}

.icon-advertise {
	background-image: url(images/transmit_blue.png) !important;
}

.icon-notice {
	background-image: url(images/application_view_tile.png) !important;
}

.icon-robot-plat {
	background-image: url(images/application_view_tile.png) !important;
}

.icon-robot-msn {
	background-image: url(images/robotview/msn_thumb.png) !important;
}

.icon-robot-web {
	background-image: url(images/robotview/web_thumb.png) !important;
}

.icon-robot-cmpp {
	background-image: url(images/robotview/cmpp_thumb.png) !important;
}

.icon-robot-qqcrm {
	background-image: url(images/robotview/qqcrm_thumb.png) !important;
}

.icon-robot-fetion {
	background-image: url(images/robotview/fetion_thumb.png) !important;
}

.icon-robot-fetionrobot {
	background-image: url(images/robotview/fetionrobot_thumb.png) !important;
}

.icon-robot-tqq {
	background-image: url(images/robotview/tqq_thumb.png) !important;
}

.icon-robot-tsina {
	background-image: url(images/robotview/tsina_thumb.png) !important;
}

.icon-robot-wbfan {
	background-image: url(images/robotview/wbfan_thumb.png) !important;
}

.icon-robot-alipay {
	background-image: url(images/robotview/alipay_thumb.png) !important;
}

.icon-robot-gtalk {
	background-image: url(images/robotview/gtalk_thumb.png) !important;
}

.icon-robot-ios {
	background-image: url(images/robotview/ios_thumb.png) !important;
}

.icon-robot-weixin {
	background-image: url(images/robotview/weixin_thumb.png) !important;
}

.icon-robot-qqhttp {
	background-image: url(images/robotview/qqhttp.png) !important;
}

.icon-robot-yixin {
	background-image: url(images/robotview/yixin_thumb.png) !important;
}

.icon-robot-tv {
	background-image: url(images/robotview/tv_thumb.png) !important;
}

.icon-robot-androidvm {
	background-image: url(images/robotview/android.vm_thumb.png) !important;
}

.icon-robot-android {
	background-image: url(images/robotview/android_thumb.png) !important;
}

.icon-robot-mqq {
	background-image: url(images/robotview/mqq_thumb.png) !important;
}

.icon-robot-line {
	background-image: url(images/robotview/line_thumb.png) !important;
}

.icon-report {
	background-image: url(images/table.png) !important;
}

.icon-blocklist-mgr {
	background-image: url(images/report_user.png) !important;
}

.icon-preview {
	background-image: url(images/zoom.png) !important;
}

.icon-robot-menu {
	background-image: url(images/icon-sysprop.png) !important;
}

.icon-push-msg {
	background-image: url(images/sound.png) !important;
}

.icon-edit-group {
	background-image: url(images/group_edit.png) !important;
}

.icon-robot-friend {
	background-image: url(images/user_edit.png) !important;
}