.icon-audio {
	background-image: url(images/audio.png) !important;
}

.icon-image {
	background-image: url(images/image.png) !important;
}

.icon-imgmsg {
	background-image: url(images/imgmsg.png) !important;
}

.icon-video {
	background-image: url(images/video.png) !important;
}

.icon-p4 {
	background-image: url(images/p4.png) !important;
}

.icon-app {
	background-image: url(images/app.png) !important;
}

.icon-add {
	background-image: url(images/add.gif) !important;
}

.icon-save {
	background-image: url(images/disk.png) !important;
}

.icon-delete {
	background-image: url(images/delete.gif) !important;
}

.icon-refresh {
	background-image: url(images/refresh.gif) !important;
}

.icon-export {
	background-image: url(images/ontology_export.png) !important;
}

.icon-import {
	background-image: url(images/ontology_import.png) !important;
}