.phones {
	background-color: #fff;
	text-shadow: #fff 0 1px 0;
}

.phones ul {
	position: relative;
	display: block;
	height: auto;
	font-size: 85%;
}

.phones ul li img {
	margin-bottom: 1px;
}

.phones ul li {
	float: left;
	padding: 8px 17px;
	margin: 5px;
	/*    margin: 10px 0 0 25px;*/
	text-align: center;
	line-height: 1.25em;
	color: #333;
	font-family: "Helvetica Neue", sans-serif;
	height: 100px;
	width: 100px;
	overflow: hidden;
	border-top: 1px solid transparent;
	cursor: pointer;
}

.phones ul li .links {
	text-align: left;
}

.phones ul li .mask {
	position: absolute;
	top: -5px;
	left: -12px;
	-moz-opacity: 0.5;
	opacity: .5;
	filter: alpha(opacity = 50);
	height: 150px;
	width: 140px;
	z-index: 100;
}

.phones ul li .wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

/*.phones ul li.phone-hover {
    background-color: #eee;
}*/
.phones ul li.x-view-selected {
	background-color: rgba(100, 100, 100, .15);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top: 1px solid rgba(0, 0, 0, .15);
}

.phones ul li img { /*    display: block;*/
	
}

.phones li strong {
	color: #000;
	display: block;
	font : 12px tahoma, arial, sans-serif;
}

.phones li span {
	color: #15428b;
	font : 12px tahoma, arial, sans-serif;
	text-decoration: underline;
	padding: 3px;
}

.phones li span.disabled {
	color: gray !important;
	font : 12px tahoma, arial, sans-serif;
	text-decoration: none;
	padding: 3px;
}

.x-slider-horz .x-slider-thumb {
	background-image: url(images/slider-thumb.png);
}