@charset "utf-8";
/* CSS Document */

/*----------------------Author:lvzhaohua--------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{padding:0;margin:0 auto;border:0;}
body{font-size:12px;font-family:"宋体";color:#333;background:#184180 url(../images/bg.jpg) left top repeat-x;}
ol,ul,li{list-style-type: none;}
table {border-collapse: collapse;border-spacing: 0;}
img{list-style:none;list-style-type:none;}
.clearbh:after{height:0;visibility:hidden;display:block;clear:both;content:" ";}
.clearbh{ clear:both;font-size:0; height:0; overflow:hidden;display:inline-block;}
/* fix IE hack \*/
*html .clearbh{height:1%;}



/*--------------------------------------全局样式结束------------------------*/
.warp{width:780px;height:653px;background:url(../images/content_bg.jpg) left top no-repeat;overflow:hidden;zoom:1;}
.top_content{padding:160px 0 0 230px;float:left;width:340px;color:#dcfaff;font-weight:bold;}

.middle_content{width:357px;height:170px;padding:90px 0px 0px 265px;float:left;}
.middle_content tbody{color:#fff;}
.input_cn1{float:left;width:173px;height:24px;line-height:24px;border:1px solid #0b83ff;border-color:#0b83ff #0057b0 #0057b0 #0b83ff;font-size:12px;color:#333;padding:0 5px;}

a.login_bt1,a.login_bt2{width:72px;height:32px;display:block;background:url(../images/button.jpg) 0 0 no-repeat;text-decoration:none;}
a.login_bt1{background-position:left top;}
a.login_bt1:hover,a.login_bt1:active{background-position:left -32px;}
a.login_bt2{background-position:-80px top;}
a.login_bt2:hover,a.login_bt2:active{background-position:-80px -32px;}

a.login_bt1_utf,a.login_bt2_utf{width:72px;height:32px;display:block;background:url(../images/button_utf.jpg) 0 0 no-repeat;text-decoration:none;}
a.login_bt1_utf{background-position:left top;}
a.login_bt1_utf:hover,a.login_bt1_utf:active{background-position:left -32px;}
a.login_bt2_utf{background-position:-80px top;}
a.login_bt2_utf:hover,a.login_bt2_utf:active{background-position:-80px -32px;}

.copyright_content{width:780px;text-align:center;padding:135px 0px 0px 0px;color:#dcfaff;float:left;}
.copyright_content a{color:#dcfaff;text-decoration:underline;}
.copyright_content a:hover,.copyright_content a:active{text-decoration:none;}

#usernameInvalidIcon,#passwordInvalidIcon,#captchaInvalidIcon {background: url(../images/exclamation.gif) no-repeat 0 2px;display: none;height: 18px;width: 16px;float:left;margin:3px 5px;}

/*----------------------Author:lvzhaohua--------------------------*/