.su1 {
	width: 774px;
	padding: 0 20px;
	height: 100%;
	clear: both;
}

ul {
	list-style: none;
}

.scgl_title {
	margin-top: -2px;
	width: 754px;
	height: auto;
	padding: 10px;
	padding-bottom: 10px;
	display: inline-block;
	position: relative;
	background: #eee;
}

.scgl_title_con {
	float: left;
	background: #EEE;
}

.scgl_title_con li {
	float: left;
	height: 40px;
	line-height: 40px;
}

.scgl_title_con li p {
	float: left;
	width: auto;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	margin-right: 30px;
}

.scgl_title_con ul {
	width: 722px;
	padding: 2px 2px;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
}

.scgl_title_con li a {
	width: auto;
	font-size: 12px;
	height: 40px;
	padding: 0 5px;
	line-height: 40px;
	display: block;
	color: #545454;
	text-decoration: none;
	float: left;
}

.scgl_title_con li a:hover,.scgl_title_con li a:active {
	color: #1986de;
	text-decoration: underline;
}

.scgl_title_con li:hover p {
	background: #ffd493;
	float: left;
	width: auto;
	margin-right: 30px;
	cursor: pointer;
	font-size: 12px;
	height: 24px;
	padding: 0 5px;
	line-height: 24px;
	display: block;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.scgl_title_con li:hover p a {
	float: left;
	padding: 0;
}

.scgl_title_con li:hover p span {
	background: url(images/new_sucai_x.jpg) no-repeat;
	width: 20px;
	height: 24px;
	margin-right: 7px;
	float: left;
}

.scgl_title_an {
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.scgl_title_an a {
	color: #1986de;
	font-size: 12px;
	font-weight: 900;
	text-decoration: none;
	padding-right: 18px;
	background: url(images/new_sucai_ico1.jpg) no-repeat right bottom;
}

.scgl_title_an a:hover,.scgl_title_an a:active {
	text-decoration: underline;
}

.sou {
	width: 100%;
	height: 32px;
	text-align: center;
}

.sousuo {
	width: 740px;
	height: 30px;
	border: 1px solid #ccc;
	float: left;
}

.sousuo input {
	width: 679px;
	height: 30px;
	line-height: 30px;
	padding: 0px 4px;
	overflow: hidden;
	color: #ccc;
	float: left;
	background: #fff;
	border: none;
}

.sousuo span {
	padding: 7px 7px 0px 5px;
	float: right;
	height: 23px;
	width: 40px;
	background: #ddd;
	border-left: 1px solid #ccc;
}

.scgl_title_con li span {
	float: left;
	font-size: 12px;
	color: #1986de;
	font-weight: bold;
}

#imgmsgImgFile {
	position: relative;
	width: 80px;
	height: 30px;
}
#imgmsgImgFile a{
	background: url(../images/buttonInput.gif) no-repeat;
	width:80px;
	height:30px;
	line-height:30px;
	color:white;
	display:block;
}
#imgmsgImgFile a input{
	background:none;
	line-height:28px;
	color:white;
	border:0;
	font-weight: 900;
	font-size:13px;
}
#imgmsgImgFile a:hover{
	background: url(../images/buttonInputHo.gif) no-repeat;
	width:80px;
	height:30px;
	line-height:30px;
	color:white;
}
#imgmsgImgFile input {
	margin-left: 2px;
	position: absolute;
	top: 0px;
	/* left: 8px; */
	width: 79px;
	height: 29px;
}

#imgmsgImgImage {
	FILTER: alpha(opacity = 0);
	opacity: 0;
	-moz-opacity: 0
}

.btn_b{
	width: 100px;
	height: 30px;
	background: url(../images/buttonSave.gif) no-repeat;
	text-align: center;
	line-height: 30px;
	margin: 3px 0;
}
.btn_b:hover{
	display:block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: url(../images/buttonHo.gif) no-repeat;
}

.msg-editer a:hover{
	text-decoration: underline;
}
