body { /* 	overflow-y: auto;
	overflow-x: hidden; */
	
}

label {
	vertical-align: top
}

form { /* margin: 0px; */
	
}

.content {
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
	line-height: 1.5;
	font-size: 14px;
	color: #222;
	background-color: #ffffff;
}

p,dd,dl,dt,ul,ol,li,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0
}

img {
	border: 0;
	display: inline-block;
	text-decoration: none;
}

a:visited,a:link,a:hover {
	text-decoration: none
}

.left {
	float: left;
	/*margin-left: 150px;*/
}

.edit-img-msg-left {
	float: left;
	margin-left: 10px;
}

.show-img-msg-left {
	float: left;
}

.right {
	float: right
}

.clr {
	clear: both
}

.float-p {
	overflow: hidden
}

* zoom    :                                                1 .float-p:after
	{
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden
}

.b-dib {
	display: inline-block; *
	display: inline; *
	zoom: 1
}

.oh { /*overflow: hidden*/
	
}

.group:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}

.vt {
	vertical-align: top
}

.vb {
	vertical-align: bottom
}

.poi {
	cursor: pointer
}

.f0 {
	font-size: 0
}

.n {
	font-weight: normal;
	font-style: normal
}

.b {
	font-weight: bold
}

.i {
	font-style: italic
}

.tc {
	text-align: center
}

.z { *
	zoom: 1;
	margin: 0 auto;
	width: 772px;
	margin-bottom: 5px;
}

.oh {
	overflow: hidden;
}

.msg-btn {
	width: 100%;
	display: inline-block;
	border-top: 1px solid #E6E6E6;
	padding-top: 2px;
}

.vm {
	vertical-align: middle
}

.tr {
	text-align: right
}

.tl {
	text-align: left
}

.tj {
	text-align: justify; *
	text-justify: distribute
}

.td-none {
	text-decoration: none
}

.text-hide {
	text-indent: -999em
}

.th {
	line-height: 150px;
	overflow: hidden
}

.f12 {
	font-size: 12px
}

.f14 {
	font-size: 14px
}

.f16 {
	font-size: 16px
}

.f18 {
	font-size: 18px
}

.f24 {
	font-size: 24px
}

.h2 {
	font-size: 18px;
	font-weight: bold
}

.lh14 {
	line-height: 14px
}

.lh18 {
	line-height: 18px
}

.lh20 {
	line-height: 20px
}

.lh24 {
	line-height: 24px
}

.c-b {
	color: #000
}

.c-w {
	color: #fff
}

.c-gA {
	color: #aaa
}

.c-g9 {
	color: #999
}

.c-g6 {
	color: #666
}

.c-h1 {
	color: #4c7b0b
}

.c-h2 {
	color: #4d5d2c
}

.c-l {
	color: #4d5d2c
}

.c-r {
	color: #f00
}

.c-opr {
	color: #1e5494
}

.rel {
	position: relative
}

.abs {
	position: absolute;
}

.fixed {
	position: fixed
}

.none {
	display: none
}

.block {
	display: block
}

.dib {
	display: inline-block
}

input[type="text"]:-moz-placeholder,textarea[placeholder]:-moz-placeholder
	{
	color: #aaa
}

input[type="text"]:-ms-input-placeholder,textarea[placeholder]:-ms-input-placeholder
	{
	color: #aaa
}

input[type="text"]:-webkit-input-placeholder,textarea[placeholder]:-webkit-input-placeholder
	{
	color: #aaa
}

.icon18 {
	background: url('../images/icon18.png') no-repeat scroll 0 0 transparent;
	width: 18px;
	height: 18px;
	display: block
}

.icon28 {
	background: url('../images/icon28.png') no-repeat scroll 0 0 transparent;
	width: 28px;
	height: 28px;
	display: block
}

.icon28C {
	background: url('../images/icon28.png') no-repeat scroll 0 0 transparent;
	padding-left: 28px
}

.icon18C {
	background: url('../images/icon18.png') no-repeat scroll 0 0 transparent;
	padding-left: 18px
}

.iconNew {
	background: url('../images/new.png') no-repeat scroll 0 0 transparent;
	width: 43px;
	height: 20px;
	display: inline-block;
	margin-left: 5px;
	vertical-align: top
}

.iconAddS {
	background-position: 0 -112px
}

.iconEdit {
	background-position: 0 -139px
}

.iconEdit:hover {
	background-position: -28px -139px
}

.iconDel {
	background-position: 0 -195px
}

.iconDel:hover {
	background-position: -28px -195px
}

.iconEditB {
	background-position: 0 -337px
}

.iconDelB {
	background-position: 0 -368px
}

.btnS {
	padding: 2px 5px 2px 5px
}

/* .btnGreen {
	border: 1px solid #3d810c;
	box-shadow: 0 1px 1px #aaa;
	-moz-box-shadow: 0 1px 1px #aaa;
	-webkit-box-shadow: 0 1px 1px #aaa;
	padding: 5px 20px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	overflow: visible;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; *
	zoom: 1;
	background-color: #5ba607;
	background-image: linear-gradient(bottom, #4d910c 3%, #69b310 97%, #fff 100%);
	background-image: -moz-linear-gradient(bottom, #4d910c 3%, #69b310 97%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #4d910c 3%, #69b310 97%, #fff 100%);
	color: #fff;
} */
.label {
	font-size: 14px;
	color: #4c7e05
}

.selectPlugin {
	margin: 0 5px 0 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #f9f9f9;
	background-image: linear-gradient(bottom, #f0f0f0 3%, #f9f9f9 97%, #fff 100%);
	background-image: -moz-linear-gradient(bottom, #f0f0f0 3%, #f9f9f9 97%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #f0f0f0 3%, #f9f9f9 97%, #fff 100%);
	padding: 5px;
	border: 1px solid #d3d3d3
}

.tips {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%
}

.tips .tipContent {
	background-color: #68af02;
	width: 250px;
	margin: 0 auto;
	color: #fff;
	padding: 5px 30px;
	border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	text-align: center;
	text-shadow: 0 -1px -1px #333;
	border-top: 0
}

.tips .suc {
	background-color: #68af02;
	border: 1px solid #5a851d
}

.tips .err {
	background-color: #eaa000
}

.newTips a {
	display: block;
	color: #743e04
}

.listItem {
	padding: 10px;
	border-bottom: 1px solid #d3d3d3
}

.container {
	margin: 0 auto;
	width: 773px;
	height: 99% /*
	display: inline-block;
	background-color: #FFFFFF;
	padding: 5px 0 0 0;
	width: 99.5%;
	*/                                                              
		          /*margin: 0 auto*/
}

.container .containerBox {
	display: inline-block;
	/* box-shadow: 0 3px 3px #ddd; */
	/* -moz-box-shadow: 0 3px 3px #ddd;
	-webkit-box-shadow: 0 3px 3px #ddd; */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #FFF;
	width: 100%;
	overflow: auto;
}

.container .containerBox .boxHeader h2 {
	font-size: 14px;
	line-height: 35px
}

.container .containerBox .content {
	width: 100%;
	float: left;
}

/* .appMsgList .btnGreen {
	margin-right: 5px
} */

.pageNavigator span {
	vertical-align: middle
}

.pageNavigator .go {
	display: inline-block
}

.pageNavigator .go input,.pageNavigator .go button {
	vertical-align: middle
}

.msg-item-wrapper {
	position: relative;
	margin-bottom: 26px;
	border: 1px solid #b8b8b8;
	background-color: #f4f4f4;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 300px;
	margin-bottom: 26px;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
}

.msg-item {
	padding: 2px 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	width: 300px;
}

.msg-t a {
	color: #333
}

.cover .msg-t a {
	color: #fff
}

.msg-meta {
	margin: 0 14px 6px;
	font-size: 13px
}

.msg-text {
	margin: 0 14px;
	font-size: 14px;
	line-height: 1.6;
	padding-bottom: 8px;
	text-align: left
}

.multi-msg .msg-meta {
	margin: 0 14px;
	line-height: 28px
}

.cover {
	margin: 0 10px 3px;
	position: relative;
	font-size: 0;
	height: 160px;
	overflow: hidden;
}

.cover .msg-t {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	margin: 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.6) !important;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
}

.cover .i-title {
	display: block;
	padding-left: 4px;
	padding-right: 4px;
	width: 272px;
	color: #ffffff;
}

.cover img {
	width: 280px;
}

.msg-t {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 28px;
}

.default-tip {
	width: 100%;
	display: block;
	text-align: center;
	background-color: #ececec;
	text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
}

.cover .default-tip {
	font-size: 22px;
	color: #aaa;
	line-height: 160px;
}

.sub-msg-item {
	padding: 12px 14px;
	overflow: hidden;
	zoom: 1;
	border-top: 1px solid #c6c6c6
}

.sub-msg-item .msg-t { /*margin-left: 0px;
	margin-right: 85px;*/
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 12px;
	line-height: 20px;
	max-height: 100%;
	font-size: 14px;
	overflow: hidden
}

.thumb {
	float: right;
	font-size: 0
}

.thumb img {
	width: 70px;
	height: 70px;
	border: 1px solid #b2b8bd
}

.thumb .default-tip {
	font-size: 16px;
	color: #c0c0c0;
	width: 70px;
	line-height: 70px;
	border: 1px solid #b2b8bd
}

.edit-btn {
	border-right: 1px solid #a3a3a3
}

.del-btn {
	border-left: 1px solid #fefefe
}

.opr-icon {
	width: 18px;
	height: 18px;
	background: transparent url('../images/icon18.png') no-repeat
}

.edit-icon {
	background-position: 0 -139px
}

.del-icon {
	background-position: 0 -195px
}

.opr-btn:hover .edit-icon {
	background-position: -28px -139px
}

.opr-btn:hover .del-icon {
	background-position: -28px -195px
}

.msg-mask {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6) !important;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
}

.msg-selected-tip {
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent url('../images/selected-icon.png') no-repeat 50%
		50%
}

.msg-selected .msg-mask {
	display: block
}

.msg-hover-mask {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6) !important;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
}

.msg-hover .msg-hover-mask {
	display: block
}

.sub-msg-opr {
	top: 0;
	left: 100%;
	height: 100%;
	width: 100%;
	/*background-color: #e5e5e5;
	background: rgba(229, 229, 229, 0.85);*/
}

.sub-msg-opr-show .sub-msg-opr {
	left: 0
}

.sub-msg-opr-item {
	margin: 40px 20px 0;
	font-size: 0
}

.cover .sub-msg-opr-item {
	margin-top: 70px
}

.sub-msg-opr-access {
	width: 18px;
	height: 18px;
	background: transparent url('../images/icon18.png') no-repeat
}

.sub-msg-edit {
	background-position: 0 -139px
}

.sub-msg-edit:hover {
	background-position: -28px -139px
}

.sub-msg-del {
	background-position: 0 -195px
}

.sub-msg-del:hover {
	background-position: -28px -195px
}

.add-btn:hover {
	color: #d9d9d9;
	background-position: 50% -42px
}

.add-btn-show .add-btn {
	display: inline-block
}

.add-btn-show .add-tip {
	display: none
}

.sub-add {
	padding: 12px 14px;
	border-top: 1px solid #c6c6c6
}

.sub-add-btn {
	line-height: 70px;
	color: #222;
	border: 2px dotted #b8b8b8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.sub-add-icon {
	width: 18px;
	height: 18px;
	margin-right: 5px;
	background: transparent url('../images/icon18.png') no-repeat 0 -83px
}

.msg-editer {
	border: 1px solid #B4B8AD;
	float: right;
	text-align: left;
	padding: 0 0 0 5px;
	width: 410px;
	background-color: #F6F7F7;
	margin-right: 10px;
	display: inline;
}

.a-out {
	border-color: transparent #b8b8b8 transparent transparent;
	border-width: 12px 14px 12px 0;
	right: 426px;
	top: 43px;
}

.a-in {
	border-color: transparent #f8f8f8 transparent transparent;
	border-width: 11px 13px 11px 0;
	right: 426px;
	top: 44px;
}

.msg-arrow {
	border-style: dashed solid dashed dashed;
	font-size: 0;
	height: 0;
	width: 0;
}

.msg-edit-area { /*zoom: 1*/
	float: right;
}

.imgmsg-item-mask {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6) !important;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
	z-index: 100;
}

.imgmsg-item-click {
	display: none;
	top: 10;
	z-index: 9999;
	background: url(../images/selected-icon.png ) no-repeat scroll 50% 50%
		transparent;
	background-color: rgba(0, 0, 0, 0.6) !important;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
	width: 100%;
	height: 100%;
	position: absolute;
}

}
#appmsgItemShow {
	display: none;
}

.create_access {
	border: 3px dashed #B8B8B8;
	border-radius: 5px;
	display: block;
	font-size: 0;
	height:150px;
	line-height: 150px;
	margin-bottom: 20px;
	text-align: center;
	width: 290px;
}

.create_access a {
	color: #D9D9D9;
	display: none;
	font-size: 14px;
	line-height: normal;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

.create_access a strong {
	display: block;
	font-style: normal;
	font-weight: 400;
}

.create_access:hover .add_gray {
	display: none;
}

.create_access:hover a {
	display: inline-block;
}

.icon42_common {
	width: 42px;
	height: 42px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden;
}

.icon42_common.add_gray {
	background: url("../images/addImgmsgButton.jpg") no-repeat;
	display: inline-block;
	margin: 54px 0;
}

.icon_appmsg_create {
	display: inline-block;
	vertical-align: middle;
	height: 56px;
	width: 50px;
	display:inline-block;
}

.create_access i {
	cursor: pointer;
}

.icon_appmsg_create {
	width: 50px;
	height: 56px;
	vertical-align: middle;
	display: inline-block;
}

.icon_appmsg_create.multi {
	isplay: inline-block;
	height: 56px;
	vertical-align: middle;
	display:inline-block;
	width: 50px;
}

i,cite,em,var,address,dfn {
	font-style: italic;
}

.appmsgItem {
	cursor: pointer;
}

.rel.sub-msg-item.appmsgItem.sub-msg-opr-show.edit-msg-opr-show:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1) !important;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
}
