/* CSS Document */
/* CSS Document */
/*----------------------------------Author:lvzhaohua-----------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{padding:0;margin:0 auto;border:0;}
body,body a,input,textarea{font-family:微软雅黑,Helvetica Neue,Helvetica,Arial,sans-serif;}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
body{background-color:#fff;padding-top:56px;}
input,textarea{outline:0 none;}
ol,ul,li,img{list-style-type: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
.clear{ clear:both;font-size:0; height:0;}
/* fix IE hack \*/
*html .clear{height:1%;}

/*--------------------------------全局样式结束------------------------------*/
.fl{float:left;}
.fr{float:right;}

.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}

.fw{font-weight:bold;}

.ov{overflow:hidden;}

.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}

.p10{padding:10px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}

.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}

.bfb{width:100%;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}

.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}

.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}

.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.pst{position:relative;}

.dsp{display:inline-block;}
.dspn{display:none;}

.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
.lh34{line-height:34px;}

.btline{border-bottom:1px solid #ccc;}


.cl1{color:#fff;}
.cl2{color:#999;}
.cl3{color:#888;}
.cl4{color:#666;}
.cl5{color:#333;}
.cl6{color:#111;}
.cl7{color:#ff8a00;}
.cl8{color:#f73508;}

.vta{vertical-align:middle;}

.bgcol-01{background-color:#f6f6f6;}
.bgcol02{background-color:#f9f9f9;}

a.link1,a.link2,a.link3{text-decoration:none;}
a.link1:hover,a.link1:active,a.link2:hover,a.link2:active,a.link3:hover,a.link3:active{text-decoration:underline;}
a.link1,a.link2:hover,a.link2:active{color:#0d7af6;}
a.link1,a.link2{font-size:14px;}
a.link2{color:#aaa;}

*, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button[disabled]{cursor:default;}

.container{padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;}

/*---------header style start----------*/
.header{width:100%;height:56px;background-color:#1b62b7;position:fixed;left:0;top:0;z-index:1000;}
.header-content{height:56px;}
@media(min-width:768px){.container,.footer .footer-content{width:750px;}}
@media(min-width:992px){.container,.footer .footer-content{width:970px;}}
@media(min-width:1200px){.container,.footer .footer-content{width:1170px;}}
.header:before,.header:after,.container:before,.container:after{display:table;content:"";}
.header{margin-bottom:20px;}
.container>.header-content,.container>.navbar{margin-left:-15px;margin-right:-15px;}
@media(min-width:768px){.container>.header-content,.container>.navbar-content{margin-left:0;margin-right:0;}}
@media(min-width:768px){.header-content{float:left;}}
@media(min-width:768px){.headercn,.navbar{min-height:56px;overflow:visible!important;}}
.header-content:before,.header-content:after,.navbar:before,.navbar:after{display:table;content:"";}
@media(min-width:768px){.header>.container .header-logo{margin-left:-15px;margin-right:-15px;}}
@media(min-width:768px){.navbar-content{display:block!important;}}

/*----------"logo" content start----------*/
.header-logo img{padding:10px 0 0 15px;}
@media(min-width:768px){.navbar-login,.navbar-user{margin-right:0px;float:right;}}
.navbar-login{color:#fff;padding-top:14px;}
.navbar-login a{font-size:14px;text-decoration:none;color:#fff;}
.navbar-login a:hover,navbar-login a:active{text-decoration:underline;}
/*----------"logo" content end----------*/

/*---"用户信息模块"---*/
.navbar-user{width:160px;}
.container>.navbar-content .navbar-user{background:#ff8b23 url(../images/user_icon.png) 8px 15px no-repeat;border-left:1px solid #093870;border-right:1px solid #093870;}
.btn-user{font-size:14px;color:#fff;background-color:#ff8b23;background-image:none;height:54px;border:1px solid transparent;outline:none;cursor:pointer; vertical-align:middle;}
.btn-user::-moz-focus-inner{border-color:transparent!important;}
.caret{display:inline-block;width:0;height:0;border-top:5px solid;border-left:5px solid transparent;border-right:5px solid transparent;}
@media(min-width:768px){.navbar-user{height:56px;padding:0 5px 0 26px;}}
.user-arrow{color:#fff;padding:14px 3px 0 0;float:right;}
/*---"用户信息模块"---*/

/*---------"nav" content start-------*/
.navbar-nav{padding-right:10px;padding-left:30px;}
.navbar-nav > li{position:relative;display:block;}
.navbar-nav > li > a{color:#cceeff;text-decoration:none;padding:10px 15px;line-height:20px;font-size:16;display:block;}
.navbar-nav li a:hover{color:#fff;}
.navbar-nav > .active > a{color:#fff;background-color:#094996;}
@media(min-width:768px){.navbar-nav{float:left;margin:0;}}
@media(min-width:768px){.navbar-nav > li{float:left;}}
@media(min-width:768px){.navbar-nav > li > a{padding-top:18px;padding-bottom:18px;}}
.navbar-nav:before,.navbar-nav:after{display:table;content:"";}
/*--------"nav" content end---------*/

/*---------header style end----------*/


/*----sidebar style start----*/
.sidebar-menu,.wrapcontent{position:relative;min-height:1px;}
@media(min-width:768px){.sidebar-menu,.sidebar-menu>.sidebar{width:150px;float:left;}}
@media(min-width:992px){.sidebar-menu,.sidebar-menu>.sidebar{width:150px;float:left;}}
@media(min-width:1200px){.sidebar-menu,.sidebar-menu>.sidebar{width:150px;float:left;}}
.sidebar-menu:before,.sidebar-menu:after{display:table;content:"";}
.sidebar{position:fixed;top:70px;z-index:1000;}
.sidebar{background-color:#f7f8f9;padding-top:20px;padding-bottom:200px;}
@media(min-width:768px){
.sidebar > ul{width:100%;}
.sidebar > ul > li{height:30px;margin:4px 0;position:relative;}
.sidebar > ul > li img{position:absolute;top:4px;z-index:100;padding-left:6px;}
.sidebar > ul > li > a{color:#6b6d7a;text-decoration:none;height:30px;line-height:30px;text-align:left;padding:0 10px 0 15px;display:block;font-size:14px;}
.sidebar > ul > li > a span{list-style:none;}
.sidebar > ul > li > a:hover{background-color:#e6e9eb;color:#333;}
.sidebar > ul > .active{color:#0d83e7;background-color:#4ca8fd;padding-left:4px;}
.sidebar > ul > .active > a{width:100%;padding:0;}
.sidebar > ul > .active > a > span{width:100%;color:#333;display:block;height:30px;line-height:28px;padding-left:11px;background-color:#fff;border-top:1px solid #dbeeff;border-bottom:1px solid #dbeeff;font-size:14px;}
}
/*----sidebar style end----*/


/*---------form-control style start----------*/
.form-control{width: 50%;height: 34px;padding: 6px 8px;font-size: 14px;line-height: 1.428571429;color: #555;vertical-align: middle;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;margin-left:10px;}
.form-control:focus {border-color: #66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6)}
.form-control:-moz-placeholder {color:#999}
.form-control::-moz-placeholder {color:#999;opacity:1}
.form-control:-ms-input-placeholder {color:#999}
.form-control::-webkit-input-placeholder {color:#999}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {cursor: not-allowed;background-color: #eee}
/*---------form-control style end----------*/

/*---------footer style start----------*/
.footer,.footer-content{padding:0 15px;}
.footer.location{position:fixed;bottom:0px;z-index:99;}
.footer{width:100%;padding:20px 0 30px 0;background-color:#eee;}
.footer-content{color:#b0b0b0;font-size:14px;}
.footer-content a{text-decoration:none;color:#b0b0b0;}
.footer-content a:hover,.footer-content a:active{text-decoration:underline}
/*---------footer style end----------*/


/*---------button style style----------*/
.btn{display:inline-block;padding:6px 15px;font-size:14px;font-weight:normal;text-align:center;border-radius:4px;cursor:pointer;background:none; vertical-align:middle;border:1px solid transparent;white-space:nowrap; -moz-user-select:none;-webkit-user-select:none;user-select:none;outline:none;font-family:"微软雅黑";}
.btn:hover,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger{color:#fff;}
.btn:hover{text-decoration:none;}
.btn:active{background-image:none;box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);}
.btn-primary{background-color:#428bca;border-color:#357ebd;}
.btn-success{background-color:#5cb85c;border-color:#4cae4c;}
.btn-info{background-color:#5bc0de;border-color:#46b8da;}
.btn-warning{background-color: #f0ad4e;border-color: #eea236;}
.btn-danger{background-color: #d9534f;border-color: #d43f3a;}
.btn-primary:active,.btn-primary:active,.btn-success:active,.btn-info:active,.btn-warning:active,.btn-danger:active{text-shadow:1px 1px 1px rgba(0,0,0,0.8);}
.btn-default,.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active{color: #333;background-color: #fff;border-color: #adadad;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {color: #fff;background-color: #3276b1;border-color: #285e8e;}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {background-color: #428bca;border-color: #357ebd;}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {pointer-events: none;cursor:not-allowed;opacity: .65;filter: alpha(opacity=65);-webkit-box-shadow: none;box-shadow: none;}
/*---------button style end----------*/


/*---------comentbox style start----------*/
.row{margin-left:-15px;margin-right:-15px;}
.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
@media(min-width:768px){.container>.row .wrap{margin:15px;}}
.wrap{border:1px solid #ededed;border-radius:4px;box-shadow:0 0 5px rgba(232,232,232,0.75);background-color:#fff;padding:10px;}
.row>.wraptwo{background-color:#fff;}
@media(min-width:768px){.container>.row .wraptwo{margin:15px;}}
.wrapcontent{width:auto;margin-left:170px;}
/*---------comentbox style end----------*/