/* CSS Document */
/*----"模态框"----*/
.modal{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 9999;display: none;overflow: auto;overflow-y: scroll}

.modal.fade .modal-dialog {-webkit-transform: translate(0, -25%);-ms-transform: translate(0, -25%);transform: translate(0, -25%);-webkit-transition: -webkit-transform .3s ease-out;-moz-transition: -moz-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out}
.modal.in .modal-dialog {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0)}
.modal-dialog {position: relative;z-index: 1050;}

.modal-content01 {position: relative;background-color:none;border: 1px solid rgba(0,0,0,0.15555);}

.modal-backdrop {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1030;background-color: #000}
.modal-backdrop.fade {opacity: 0;filter: alpha(opacity=0)}
.modal-backdrop.in {opacity: .5;filter: alpha(opacity=50)}

@media screen and (min-width:768px) {
.modal-dialog {}
.modal-content01 {}
}
.close {font-size: 26px;font-weight:normal;line-height: 1;color: #fff;text-shadow: 1px 1px 0 #000;outline:0;opacity: .8;filter: alpha(opacity=80);}
.close:hover, .close:focus {color: #ff;text-decoration: none;cursor: pointer;opacity: .5;filter: alpha(opacity=50);}
.close {padding: 0;cursor: pointer;background: transparent;border: 0;-webkit-appearance: none;position:absolute;right:15px;top:10px;z-index:111;font-family:Verdana, Geneva, sans-serif;}

.modal-footercn1{width:100%;height:60px;line-height:60px;background-color:#e2eaf5;border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
.modaltab01{width:100%;height:41px;background:#2c79d6 url(../images/modal/tab-line.png) left bottom repeat-x;border-top-left-radius:6px;border-top-right-radius:6px;}
.modal-tab{padding-left:10px;width:auto;display:inline-block;height:41px;}
.modal-tab li{width:90px;height:41px;padding-top:4px;float:left;}
.modal-tab > li.active{background:url(../images/modal/tab-line01.png) right top repeat-y;}

.modal-tab > li>a,.modal-tab > li>p{display:inline-block;text-decoration:none;text-align:left;padding:6px 0 0 42px;font-size:14px;}

.modal-tab > li>a{width:90px;height:37px;color:#fff;}
.modal-tab > li>p{width:88px;height:37px;background-color:#fff;border-width:1px 1px 0 1px;border-style:solid;border-color:#225cc5;border-top-left-radius:6px;border-top-right-radius:6px;color:#0689f3;}

.modal-tab > li>a.tab01,.tab01,.modal-tab > li>a.tab02,.tab02,.modal-tab > li>a.tab03,.tab03,.modal-tab > li>a.tab04,.tab04,.modal-tab > li>a.tab05,.tab05{background:url(../images/modal/spritetwo.png) no-repeat;}
.modal-tab > li>a.tab01{background-position:-108px 9px;}
.modal-tab > li>a.tab02{background-position:-108px -39px;}
.modal-tab > li>a.tab03{background-position:-108px -90px;}
.modal-tab > li>a.tab04{background-position:-108px -138px;}
.modal-tab > li>a.tab05{background-position:-108px -183px;}

.tab01{background-position:11px 8px;}
.tab02{background-position:11px -40px;}
.tab03{background-position:11px -91px;}
.tab04{background-position:11px -139px;}
.tab05{background-position:11px -184px;}



.modal-cn01{width:100%;background-color:#fff;padding:0 0;}
.modal-text{width:100%;padding:10px;}
.modal-text>.modal-textfooter{padding:10px 0;width:100%;display:inline-block;}
.modal-text>.modal-textfooter>p{float:left;text-align:left;padding-left:20px;}
.modal-text>.modal-textfooter>div{float:right;font-size:14px;color:#666;text-align:right;padding-right:20px;}
.modal-text>.modal-textfooter>div>span{font-size:16px;color:#ff4200;}

.modal-imagetext,.modal-language,.modal-video,.modal-image{width:100%;padding:0 10px;}
.modal-imagetext>.modal-imagetextul{padding:10px;width:100%;}
.modal-imagetext>.modal-imagetextul>li{background-color:#f2f2f2;border:1px solid #d4d9db;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;padding:10px;margin-bottom:10px;position:relative;}
.modal-imagetext>.modal-imagetextul>li:hover{border-color:#66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);cursor:pointer;}

.modal-imagetextul02{width:260px;}
.modal-imagetextul03{width:94%;}
.modal-imagetextul02,.modal-imagetextul03{background-color:#fff;border-width:1px 1px 0 1px;border-style:solid;border-color:#ccc;}
.modal-imagetextul02>li,.modal-imagetextul03>li{width:100%;height:30px;line-height:30px;border-bottom:1px solid #ccc;padding-left:10px;}
.modal-imagetextul02>li a,.modal-imagetextul03>li a{font-size:14px;color:#666;text-decoration:none;}
.modal-imagetextul02>li a:hover,.modal-imagetextul02>li a:active,.modal-imagetextul03>li a:hover,.modal-imagetextul03>li a:active{color:#2e7dc6;text-decoration:underline;}
.modal-imagetextul02>li.active{background:url(../images/modal/arrow_icon01.png) 240px center no-repeat;}
.modal-imagetextul03>li.active{background:url(../images/modal/arrow_icon01.png) 96% center no-repeat;}
.modal-imagetextul02>li.active>a,.modal-imagetextul03>li.active>a{font-size:14px;color:#2e7dc6;text-decoration:none;}
.modal-imagetextul02>li.active>a:hover,.modal-imagetextul03>li.active>a:hover{text-decoration:underline;}
.modal-imgtextp1{width:26px;height:26px;position:absolute;right:10px;top:30%;z-index:100;}



.modal-language>.modal-languageul,.modal-video>.modal-videoul,.modal-image>.modal-imageul{padding:0 10px;}
.modal-language>.modal-languageul>li,.modal-video>.modal-videoul>li,.modal-image>.modal-imageul>li{height:40px;line-height:40px;background:url(../images/modal/modal_icon04.png) 8px 10px no-repeat;text-align:left;border-bottom:1px solid #d8d8d8;}
.modal-language>.modal-languageul>li{background:url(../images/modal/modal_icon04.png) 8px 10px no-repeat;padding:0 10px 0 36px;}
.modal-video>.modal-videoul>li{background:url(../images/modal/modal_icon05.png) 8px 10px no-repeat;padding:0 10px 0 46px;}
.modal-image>.modal-imageul>li{background:url(../images/modal/modal_icon03.png) 8px 10px no-repeat;padding:0 10px 0 46px;}

.modal-language>.modal-languageul>li>a,.modal-video>.modal-videoul>li>a,.modal-image>.modal-imageul>li>a{font-size:14px;color:#2e7dc6;text-decoration:none;}
.modal-language>.modal-languageul>li>a:hover,.modal-language>.modal-languageul>li>a:active,.modal-video>.modal-videoul>li>a:hover,.modal-video>.modal-videoul>li>a:active,.modal-image>.modal-imageul>li>a:hover,.modal-image>.modal-imageul>li>a:active{text-decoration:underline;}



.modal-fanyecn{padding:10px 10px 0 10px;}
.modal-fanyecnpcn1{padding:1px;position:absolute;left:10px;top:15px;z-index:100;}
.modal-fanyecnpcn1>a{font-size:12px;color:#2e7dc6;height:20px;line-height:20px;display:inline-block;text-decoration:none;background:url(../images/modal/refurbish02.png) 0 0 no-repeat;padding-left:22px;}



/*-------------切换标签公共样式至此结束----------------
#Tab1{}
.Menuboxone{width:100%;height:41px;background:#2c79d6 url(../images/modal/tab-line.png) left bottom repeat-x;border-top-left-radius:6px;border-top-right-radius:6px;}
.Menuboxone ul{width:auto;float:left;padding-left:20px;}
.Menuboxone ul li{width:90px;height:37px;float:left;display:inline-block;cursor:pointer;color:#fff;padding-top:4px;}
.Menuboxone ul li.hover1{width:90px;height:37px;line-height:37px;color:#2c79d6;font-weight:bold;}
.Menuboxone ul li.hover1{border-top-left-radius:6px;border-top-right-radius:6px;border-width:1px 1px 0 1px;border-style:solid;border-color:#225cc5;background-color:#fff;}
.Contentboxone{width:100%;background-color:#fff;clear:both;float:left;margin-top:0px; padding-top:0px;}
.Contentboxone .Contentboxonediv{width:100%;float:left;overflow:hidden;padding:10px 0px;}
-------------切换标签公共样式至此结束----------------*/



/*----"模态框"----*/
