<!--
body{
	 margin:0 auto; font-family:tahoma,Arial,Helvetica,sans-serif; font-size:12px; color:#666;}
body{font-size:12px;color:#333;background:#f1f1f1 url(../images/body_bg.jpg) 0px 0px repeat;}
-->
img{
	border:0;}
.c {
	clear:both;}
.left {
	float:left;}
.right {
	float:right}
<!--
a {
	color:#0376eb; TEXT-DECORATION: underline;}
a:hover {
	COLOR: #0376eb; TEXT-DECORATION: none;}
-->
p{
    font-family:tahoma,Arial,Helvetica,sans-serif; font-size:12px; color:#000; line-height:22px; }
td{
    line-height:18px; overflow:hidden; word-wrap:break-word; padding:2px 0;}
input{
    padding-left:3px; height:18px;}
span{
    color:#333333;}
.top_bg{
    width:100%; height:49px; background-color:#1986de; margin:0 auto;}
.con{
    width:1000px; margin:0 auto;}
.title_mid{
    background:url(../images/title_mid.gif) repeat-x; height:25px; padding-top:4px; line-height:20px; font-weight:bold; color:#000;}
.left_con{
    text-align:center; border:1px solid #e3e3e3; background-color:#fff; padding:10px 0;}
.left_con ul{
    width:180px; margin:0; padding:0; border:0;}
.left_con ul li{
    list-style:none;}
.left_con ul li a{
    font-family:tahoma,Arial,Helvetica,sans-serif; font-size:12px; color:#1986de; line-height:18px; text-decoration:underline;}
.left_con ul li a:hover{
    text-decoration:none;}
.right_con{
    border:1px solid #e3e3e3; background-color:#fff; padding:10px 0;display: inline-block;}
.btn_b{
    width:72px; height:23px; background:url(../images/btn_b.gif) no-repeat; text-align:center; line-height:20px; margin:3px 0;}
.btn_g{
    width:72px; height:23px; background:url(../images/btn_g.gif) no-repeat; text-align:center; line-height:20px;}
.row{
    padding-left:20px; text-align:left;}
.pic_box{
    width:96px; height:96px; border:1px solid #a5acb2; background-color:#fff;}
.toggle{
	float : right;
	cursor: pointer;
	margin-top: 2px;
	*margin-top : -18px;
}
.tdline1{}
.tdline2{
	border-bottom: 1px solid #EBEBEB;
    border-right: 1px solid #FFFFFF;
}
.footer{display: inline-block;width: 100%;line-height:60px;background-color:#ececec;text-align:center;font-size:14px;color:#999;font-family:"微软雅黑","STHeitiSC-Light",Verdana,Arial,Tahoma;}
.footer a{font-size:14px;color:#999;text-decoration:none;}
.footer a:hover,.footer a:active{color:#666;text-decoration:underline;}

.ui-datepicker-trigger{padding-left:5px;}