.icon-cs-tab {
	background-image: url(../images/dialog.png) !important;
}
.header-leave-tab {
	background: #999999;
}
.header-point-tab {
	background: red;
}
.header-default-tab {
	background: #dfe8f6;
}
