.icon-upload {
	background: url('images/image_add.png') no-repeat 0 0 !important;
}

.icon-add {
	background-image: url(images/add.png) !important;
}

.icon-save {
	background-image: url(images/disk.png) !important;
}

.icon-edit {
	background-image: url(images/application_edit.png) !important;
}

.icon-delete {
	background-image: url(images/delete.gif) !important;
}

.icon-refresh {
	background-image: url(images/refresh.gif) !important;
}

.icon-preview {
	background-image: url(images/zoom.png) !important;
}

.icon-search {
	background-image: url(images/search.png) !important;
}

.icon-cancel {
	background-image: url(images/cancel.png) !important;
}

.icon-ok {
	background-image: url(images/accept.png) !important;
}

.icon-statistic {
	background-image: url(images/calculator.png) !important;
}

.icon-report {
	background-image: url(images/table.png) !important;
}

.icon-arrow-up {
	background-image: url(images/col-move-bottom.gif) !important;
}

.icon-arrow-down {
	background-image: url(images/col-move-top.gif) !important;
}

.icon-table-edit {
	background-image: url(images/table_edit.png) !important;
	display: inline-block;
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	padding-right: 2px;
}

.icon-backspace {
	background-image: url(images/arrow_left.png) !important;
}

.icon-dynamic-menu {
	background-image: url(images/sitemap_color.png) !important;
}

.dynamic-menu-nonactive .x-tree-node-anchor span {
	color: red;
}

.dynamic-menu-active .x-tree-node-anchor span {
	color: black;
}

.icon-push-msg {
	background-image: url(images/sound.png) !important;
}

.icon-push-msg-list {
	background-image: url(images/sound_add.png) !important;
}

.icon-push-msg-history {
	background-image: url(images/sound_delete.png) !important;
}

.icon-user-attr {
	background-image: url(images/user_comment.png) !important;
}

.icon-vote {
	background-image: url(images/text_list_numbers.png) !important;
}

.icon-sign-act {
	background-image: url(images/comment_edit.png) !important;
}

.icon-hot-question {
	background-image: url(images/lightbulb.png) !important;
}

.icon-hot-question-auto {
	background-image: url(images/lightbulb_off.png) !important;
}

.icon-hot-question-cus {
	background-image: url(images/lightbulb_add.png) !important;
}

.icon-business-lib {
	background-image: url(images/database.png) !important;
}

.icon-message-resource {
	background-image: url(images/table_gear.png) !important;
}

.icon-simple-dialog {
	background-image: url(images/comments.png) !important;
}

.x-grid3-cell-inner {
	overflow: visible;
	padding: 3px 3px 3px 5px;
	white-space: normal;
}

.ux-mselect {
	overflow: auto;
	background: white;
	position: relative; /* for calculating scroll offsets */
	zoom: 1;
	overflow: auto;
}

.x-list-body dt em {
	font-size: 12px;
}

.icon-ontology-export {
	background-image: url(images/ontology_export.png) !important;
}

.icon-ontology-import {
	background-image: url(images/ontology_import.png) !important;
}

.x-form-field-wrap .x-form-attachment-trigger {
	cursor: pointer;
	background-image: url(images/attachment-trigger.gif);
}

.icon-flow-line {
	background-image: url(images/flow_line.png) !important;
}

.icon-flow-line-lr {
	background-image: url(images/flow_line_lr.png) !important;
}

.icon-flow-line-ud {
	background-image: url(images/flow_line_ud.png) !important;
}

.icon-flow-branch {
	background-image: url(images/flow_branch.png) !important;
}

.icon-flow-code {
	background-image: url(images/flow_code.png) !important;
}

.icon-flow-procedure {
	background-image: url(images/flow_procedure.png) !important;
}

.icon-flow-procedure-cfg {
	background-image: url(images/flow_procedure_cfg.png) !important;
}

.icon-eraser {
	background-image: url(images/eraser.png) !important;
}

.icon-prev {
	background-image: url(images/control_start_blue.png) !important;
}

.icon-next {
	background-image: url(images/control_end_blue.png) !important;
}

.btn-align-left .x-btn-mc {
	text-align: left
}

.icon-notice {
	background-image: url(images/application_view_tile.png) !important;
}

.icon-upload-excel {
	background: url('images/page_white_excel.png') no-repeat 0 0 !important;
}

.x-form-field-wrap .x-form-spinner-trigger {
	background: transparent url('images/spinner.gif') no-repeat 0 0;
}

.x-form-field-wrap .x-form-spinner-overup {
	background-position: -17px 0;
}

.x-form-field-wrap .x-form-spinner-clickup {
	background-position: -34px 0;
}

.x-form-field-wrap .x-form-spinner-overdown {
	background-position: -51px 0;
}

.x-form-field-wrap .x-form-spinner-clickdown {
	background-position: -68px 0;
}

.x-trigger-wrap-focus .x-form-spinner-trigger {
	background-position: -85px 0;
}

.x-trigger-wrap-focus .x-form-spinner-overup {
	background-position: -102px 0;
}

.x-trigger-wrap-focus .x-form-spinner-clickup {
	background-position: -119px 0;
}

.x-trigger-wrap-focus .x-form-spinner-overdown {
	background-position: -136px 0;
}

.x-trigger-wrap-focus .x-form-spinner-clickdown {
	background-position: -153px 0;
}

.x-trigger-wrap-focus .x-form-trigger {
	border-bottom: 1px solid #7eadd9;
}

.x-form-field-wrap .x-form-spinner-splitter {
	line-height: 1px;
	font-size: 1px;
	background: transparent url('images/spinner-split.gif') no-repeat 0 0;
	position: absolute;
	cursor: n-resize;
}

.x-trigger-wrap-focus .x-form-spinner-splitter {
	background-position: -14px 0;
}

.x-selectable, .x-selectable * {   
 -moz-user-select: text!important ;   
 -khtml-user-select: text!important ;
 -webkit-user-select: text!important ;
}

.x-form-field-wrap .x-form-add-trigger {
	cursor: pointer;
	background-image: url(images/add-trigger.gif);
}