.Apply-twocn {
	width: 754px;
	padding: 10px;
}

.Apply-twoform {
	width: 752px;
	border: 1px solid #ebebeb;
	background-color: #fff;
}

.Apply-twoform h3 {
	width: 742px;
	height: 30px;
	line-height: 30px;
	background-color: #f6f9fb;
	color: #0b7cd7;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
}

.Apply-twoformcn1 {
	width: 742px;
	padding-top: 10px;
}

.Apply-twoformp1 {
	width: 160px;
	height: 24px;
	line-height: 24px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	padding-right: 10px;
}

.Apply-twoformp2 {
	width: 560px;
	text-align: left;
	line-height: 24px;
	color: #666;
	padding-left: 10px;
}

.Ap01 {
	height: 22px;
	line-height: 22px;
	padding-right: 10px;
}
