@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.top_bg{
    width:100%; height:49px; background-color:#1986de; margin:0 auto;}

.docu-bg {
    padding: 10px 0;
}

.main-wrap {
    width: 100%;
}

.Fix:after, .header:after, .index-mian:after, .hd:after, .user:after, .infros:after, .page-main:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.sidebg {
    background: url(../images/blank.png) repeat-y scroll left 3px #FFFFFF;
}
.page-main {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 #ECECEC;
    margin: 0 auto;
    overflow: hidden;
    padding: 3px 0 0;
    width: 1000px;
}

.colaside {
    float: left;
    padding: 25px 0;
    width: 220px;
}

ul, ol, li {
    list-style: none outside none;
}

.side-nav li {
    line-height: 38px;
}
.side-nav a, .side-nav .multilevel {cursor:pointer;  display:block; width:159px; padding-left:60px; line-height:32px; border: 1px solid #fcfcfc;  font-size: 15px; color:#2595b7; background:none;}
.side-nav .multilevel:hover{color: #595959; font-weight:bold}
.side-nav .cur a,.side-nav a:hover {color:#424242;  background-color:#ffffff; border: 1px solid #f2f2f2; border-left: 1px solid #fff; color: #595959; background-position:-248px -108px; text-decoration:none; font-weight:bold;}
.side-nav .cur a{border-right:1px solid #fff;}
.side-nav .nav-btn { width: 8px;display: inline-block;height: 5px; margin: 0 0 3px 6px; }
.side-nav .expanded .multilevel:hover .nav-btn{background: url(../images/arrow-up-hover.png) 11px 10px;}
.side-nav .expanded .nav-btn{ background: url(../images/arrow-up.png) 11px 10px; }
.side-nav .collapsed .nav-btn{ background: url(../images/arrow-down.png) 11px 10px; }
.side-nav .collapsed .multilevel:hover .nav-btn{ background: url(../images/arrow-down-hover.png) 11px 10px; }
.side-nav .expanded ul{ display:block }
.side-nav .collapsed ul{ display:none }
.side-nav ul li a{text-indent: 1em;font-size: 12px;}

i, em {
    font-style: normal;
}

a {
    color: #3399CC;
    outline: 0 none;
    text-decoration: none;
}

.doc-body {
    line-height: 20px;
    width: 660px;
}
.hd {
    margin-bottom: 10px;
    position: relative;
}
.hd h2 {
    font-size: 15px;
    padding: 0 0 10px 3px;
}
.hd h2, .hd h3 {
    border-bottom: 1px solid #E2E2E2;
    font-weight: bold;
}
.colmain {
    display: table-cell;
    padding: 25px 35px;
	float:left;
}

.item-list {
    margin-left: 50px;
    padding-bottom: 20px;
}

.item-list ul {
    padding-bottom: 10px;
}

.item-list li {
    line-height: 300%;
}

.doc-part {
    padding-bottom: 20px;
}

.colmain .bd {
    padding: 15px 0 15px 15px;
}

.doc-part .bd li {
    padding-bottom: 5px;
}
.main-wrap li {
    line-height: 180%;
}
.btn-txt, .medi-btn {
    background: url("../images/apibtn.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
}
.medi-btn {
    background-position: right -276px;
    padding-right: 1px;
}

.medi-btn .btn-txt {
    background-position: 0 -276px;
    color: #FFFFFF;
}
.medi-btn .btn-txt, .medi-btn-ash .btn-txt, .medi-btn-shallow .btn-txt, .medi-btn-disb .btn-txt, .medi-btn-ashdisb .btn-txt, .medi-btn-shallowdisb .btn-txt {
    font: bold 12px/30px "Simsun";
    height: 30px;
    padding: 0 13px 0 15px;
}
.btn-txt {
    background-position: 0 0;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 0;
    overflow: visible;
    padding: 0 8px 0 10px;
}
.form-chk {
    padding: 10px 0 20px;
}

.form-chk .tit {
    float: left;
    font-size: 13px;
    line-height: 29px;
    margin-left: -115px;
    text-align: right;
    width: 110px;
}
.form-chk .f-part {
    margin-right: 2px;
    position: relative;
}
.f-part, .f-msg, .f-msg span, .top-banner .btn-box a, .f-part .pic-btn .pic, .f-part .pic-btn .btn, .form-box .notc-msg, .form-box .m-succ .icon-succ {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.form-chk .itxt-l {
    width: 360px;
}
.input-plain {
    margin: 0;
    padding: 5px 6px;
}
.input-major, .input-plain, .input-other {
    border: 1px solid #CCCCCC;
    height: 17px;
    line-height: 17px;
    margin: 5px 0;
    padding: 6px 7px;
    width: 140px;
}
textarea, input {
    outline: medium none;
    resize: none;
}
button, input, select, textarea {
    font-size: 100%;
    outline: medium none;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 Helvetica,Arial,sans-serif;
}
.f-msg .m-err, .m-err {
    background-color: #FFF2F2;
    border: 1px solid #FFB6B6;
    color: #FF5243;
    padding: 2px 10px 3px;
}
.f-msg span {
    background-color: #FFFCEB;
    border: 1px solid #ECECD5;
    left: 0;
    padding: 2px 10px 3px;
    position: relative;
    top: 0;
    width: 120px;
}
.output-txt {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    margin-right: 15px;
    padding: 5px 6px 4px;
    position: relative;
    width: 100px;
}
.output-txt {
    display: inline-block;
}
.tar-plain {
    height: auto;
    width: 360px;
}
.tar-major, .tar-plain, .tar-other {
    height: 35px;
    overflow-y: hidden;
    padding: 7px;
    width: 260px;
}
textarea {
    border: 1px solid #CCCCCC;
    resize: none;
}

.form-chk li {
    padding: 8px 0 8px 115px;
    position: relative;
}
.Hide {
    display: none !important;
}
.apioper .btn {
    padding: 0;
}
.apioper li {
    float: left;
}
.form-chk .btn-box {
    padding: 10px 0 10px 115px;
}
.btn-box {
    padding: 10px 0;
}
hr {
    background-color: #E9E9E9;
    border: medium none;
    height: 1px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.doc-part th {
    border: 1px solid #CCCCCC;
    font-weight: bolder;
    line-height: 20px;
    text-align: center;
}

.doc-part td {
    border: 1px solid #CCCCCC;
    line-height: 25px;
    padding-left: 5px;
    text-align: left;
}

.doc-part pre {
    background-color: #F9F9F9;
    border: 1px dashed #2F6FAB;
    color: black;
    line-height: 1.1em;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em;
    width: 95%;
}

.content p {
    text-indent: 2em;
}
.micro-btn {
    background-position: right 0;
    padding-right: 1px;
	display: inline-block;
	background: url("../images/apibtn2.png") no-repeat right top;
	border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
	line-height: 1.5;
}