/* CSS Document */
/*----------------------------------Author:lvzhaohua-----------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,th,td,img{padding:0;margin:0 auto;border:0;}
body{font-size:12px;color:#333;background-color:#f6f6f6;font-family:"宋体";}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
input{outline:0 none;}
ol,ul,li,img{list-style-type: none;}
.clearbh:after{height:0;visibility:hidden;display:block;clear:both;content:" ";}
.clearbh{ clear:both;font-size:0; height:0; overflow:hidden;display:inline-block;}
/* fix IE hack \*/
*html .clearbh{height:1%;}
/*--------------------------------全局样式结束------------------------------*/
.f_l{float:left;}
.f_r{float:right;}
.fs-14{font-size:14px;}
.ov_fl{overflow:hidden;}
.t-l{text-align:left;}
.t-c{text-align:center;}
.t-r{text-align:right;}
.fm01,a.link1,.login-cn,.header,.function-cn1 p,.header2,.login-cn1p1,.login-content h2{font-family:"微软雅黑";}
.c1{color:#e66a00;}
.c2{color:#bca300;}
.c3{color:#0072d0;}
.p-l2{padding-left:200px;}
.w-980{width:980px;}
.p-t20{padding-top:20px;}
.p-t10{padding-top:10px;}
a.link1,.login-cn{font-size:14px;}
a.link2{font-size:12px;}
a.login-button,a.login-button2{height:41px;line-height:41px;display:block;background:url(../images/login_button.jpg) 0px 0px no-repeat;}
a.login-button{width:111px;}
a.login-button2{width:330px;}
a.login-button{background-position:0px 0px;}
a.login-button:hover,a.login-button:active{background-position:0px -41px;}
a.login-button2{background-position:0px -82px;font-size:14px;font-weight:bold;color:#fff;text-shadow:1px 1px 0px #754c3b;text-decoration:none;}
a.login-button2:hover,a.login-button2:active,a{background-position:0px -123px;text-decoration:none;}
.menubox a,.menubox a:hover{text-decoration:none;}
.menubox a{color:#444444;}
.menubox {color:#008dff;}
.menubox a:hover{color:#008dff;}
.menubox {font-size:15px;font-weight:bold;float:left;padding:27px 30px 0;}

.login-cn{width:329px;height:41px;float:left;padding-bottom:10px;}
.login-p1,.login-p2{width:259px;height:31px;line-height:40px;padding:5px 10px 20px 60px;*padding:0px 10px 20px 60px;float:left;_padding:5px 10px 19px 60px;}
.login-p1{background:url(../images/input_bg01.jpg) left top no-repeat;}
.login-p2{background:url(../images/input_bg02.jpg) left top no-repeat;}
.login-input1,.login-input2{padding-left:10px;width:249px;height:30px;line-height:30px;font-size:14px;color:#666666;text-align:left;}
.header{height:70px;background:url(../images/header_bg.jpg) left top repeat-x;}
.header2{height:80px;background:url(../images/header_bg2.png) left top repeat-x;}
.header-content{width:980px;padding:0px 10px;}
.header-content p{line-height:70px;text-align:right;}
.function{width:940px;padding:20px;}
.function-cn1{width:186px; text-align:center;}
.function-cn1 img{width:126px;height:126px;}
.function-cn1 h2{width:186px;padding-top:10px;font-size:16px;color:#666;text-align:center;font-weight:700;}
.function-cn1 p{width:200px;line-height:22px;color:#999;padding-top:10px;font-size:13px;text-align:center;}
.footer{line-height:60px;background-color:#ececec;text-align:center;font-size:14px;color:#999;font-family:"微软雅黑","STHeitiSC-Light",Verdana,Arial,Tahoma;}
.footer a{font-size:14px;color:#999;text-decoration:none;}
.footer a:hover,.footer a:active{color:#666;text-decoration:underline;}
.login-content{width:978px;border:1px solid #ccc;background-color:#fff;padding-bottom:60px;display:inline-block;}
.login-content h2{width:958px;line-height:40px;background-color:#f5f5f5;padding-left:20px;font-weight:normal;}
.login-content h2{font-size:16px;color:#1986de;text-align:left;}
.login-cn1{width:900px;padding-top:20px;padding-left:30px;}
.login-cn1p1{width:160px;font-size:14px;color:#888;font-weight:700;line-height:34px;}
.login-c1{width:540px;padding-left:20px;}
.logincn-input1,.logincn-input2{height:32px;line-height:32px;border:1px solid #ccc;font-size:14px;color:#666;text-align:left;}
.logincn-input1{padding:0px 10px;}
.logincn-input2{}
.login-cp1,.login-cp2{text-align:left;font-size:12px;float:left;padding:10px 0px 5px 0px;}
.login-cp1{width:470px;background:url(../images/icon_1.jpg) 3px 10px no-repeat;padding-left:30px;color:#df3a01;}
.login-cp2{width:500px;color:#999;}
.login-cnp{line-height:41px;padding:0px 10px;}
.line1{width:960px;height:40px;background:url(../images/line_bg2.jpg) left center repeat-x;display:inline-block;margin-left:10px;}
.service{width:920px;padding:30px 0px 0px 10px;margin:0 auto;}
.service p{height:200px;border:1px solid #ccc;padding:0px 0px 0px 10px;font-size:12px;color:#666;text-align:left;line-height:22px;overflow-x:hidden;overflow-y:scroll;}
.function-content{width:773px;padding-top:10px;overflow:hidden;}
.function-cn{width:240px;padding:0px 5px 0px 10px;overflow:hidden;float:left;}
.function-content1{position:relative;border:1px solid #ff5a00;}
.function-content1 .function-hot{width:58px;height:58px;position:absolute;left:0;top:0;z-index:1000;}
.function-img{width:238px;text-align:center;padding-top:10px;}
.function-img p{line-height:40px;background:url(../images/line_bg1.jpg) center bottom no-repeat;font-size:16px;font-family:"微软雅黑";}
.function-p1,.function-p2{width:218px;padding:5px 10px;line-height:20px;font-size:12px;}
.function-p1{color:#999;text-align:left;}
.function-p2{text-align:center;color:#666;}
.function-line{width:238px;height:10px;background:url(../images/line_bg2.jpg) left center repeat-x;}
.function-table{height:105px;width:218px;padding:5px 10px 0px 10px;font-size:12px;color:#444;display:inline-block;}
.function-tablep1,.function-tablep2{line-height:22px;text-align:left;}
.function-tablep1{width:178px;float:left;}
.function-tablep2{width:178px;float:left;}
.f-c1{color:#f73a03;}
.f-c2{color:#df3a01;}
.function-button1{width:218px;padding:0px 10px;position:absolute;left:0px;bottom:10px;z-index:9999;}
a.fc-bt1,a.fc-bt2{width:218px;height:34px;line-height:34px;text-align:center;display:block;background:url(../images/button_bg1.jpg) 0px 0px no-repeat;font-size:14px;font-weight:bold;text-decoration:none;}
a.fc-bt1{text-shadow:1px 1px 0px #8e2f00;}
a.fc-bt2{text-shadow:1px 1px 0px #fff;}
a.fc-bt1{background-position:0px 0px;color:#fff;}
a.fc-bt1:hover,a.fc-bt1:active{background-position:0px -34px;text-decoration:none;}
a.fc-bt2{background-position:0px -68px;color:#0270a3;}
a.fc-bt2:hover,a.fc-bt2:active{background-position:0px -102px;color:#fff;text-shadow:1px 1px 0px #00679a;}
.function-content2{border:1px solid #ccc;position:relative;}
.clause{width:860px;padding:20px 50px;font-size:14px;font-family:'微软雅黑';color:#666;text-align:left;line-height:2em;font-weight:300;}
.clause h3{width:860px;text-align:left;font-size:16px;color:#555;font-weight:700;padding:10px 0px;}
.clause p{width:860px;text-align:left;font-size:14px;color:#888}


/*---弹层样式--*/
.tanceng{width:496px;border:2px solid #008aff;background-color:#fff;overflow:hidden;padding-bottom:20px;position:relative;}
.tanceng h2{line-height:40px;background-color:#f3f3f3;text-align:center;color:#0086f2;font-weight:normal;font-size:16px;font-family:"微软雅黑";}
.close{width:29px;height:29px;position:absolute;top:5px;right:10px;z-index:9999;}
a.close-button{width:29px;height:29px;text-decoration:none;background:url(../images/close1.jpg) 0px 0px no-repeat;display:block;}
a.close-button:hover,a.close-button:active{background:url(../images/close2.jpg) 0px 0px no-repeat;}
.tanceng-cn1{width:490px;padding-top:20px;display:inline-block;}
.tanceng-cnp1{width:140px;text-align:right;font-size:12px;color:#333;line-height:34px;float:left;}
.tanceng-cn2{width:310px;padding-left:10px;float:left;}
.tanceng-cn2p1{width:300px;line-height:34px;float:left;}
.tanceng-input1{height:32px;line-height:32px;border:1px solid #ccc;text-align:left;padding:0px 6px;font-size:14px;color:#666;}
.tanceng-cn2p2{width:270px;background:url(../images/icon_1.jpg) 3px 10px no-repeat;line-height:34px;text-align:left;color:#dc3803;font-size:12px;padding-left:30px;float:left;}
.tanceng-line{height:20px;width:96%;background:url(../images/line_bg2.jpg) left center repeat-x;}
/*---弹层样式--*/

.function-p3{width:198px;padding:0px 10px;line-height:20px;font-size:12px;color:blue;}
.function-p4{width:218px;padding:0px 10px;line-height:20px;font-size:12px;color:red;}
.login-content02{width:auto;background:url(../images/icon_2.jpg) 0px 130px no-repeat;font-size:14px;color:#666;text-align:left;line-height:24px;padding:150px 20px 100px 100px;display: inline-block;}
.login-content03{width:auto;text-align: left;background:url(../images/icon_3.jpg) 0px 130px no-repeat;font-size:14px;color:#666;line-height:24px;padding:150px 20px 100px 100px;display: inline-block;}
.function-content1,.function-content2{width:238px;height:485px;background-color:#f9f9f9;}

.question-title{width:820px;height:56px;background:url(../images/question_titlebg.jpg) left bottom no-repeat;}
.question-title h2{font-size:20px;font-weight:normal;font-family:"微软雅黑";color:#fff;padding:10px 10px 0px 26px;}
.question-content{width:780px;background:url(../images/question_bg.jpg) left top repeat-y;padding:20px;}
.question-bt{width:820px;height:56px;background:url(../images/question_bt.png) left bottom no-repeat;}
.qs-cn1{width:770px;padding:10px 0px;display:inline-block;}
.qs-p1{width:200px;height:30px;line-height:30px;text-align:right;color:#111;float:left;color:rgb(102,102,102);font-family: Arial, Helvetica, sans-serif;font-size:12px}

.qs-input1{height:30px;line-height:28px;border:1px solid #ccc;text-align:left;padding-left:5px;font-size:12px;color:#333;float:left;}
.qs-line{width:auto;height:20px;background:url(../images/line_bg2.jpg) left center repeat-x;}
a.qs-buton1,a.qs-buton2{width:200px;height:44px;display:block;text-decoration:none;float:left;}
a.qs-buton1{background:url(../images/button_01.jpg) 0px 0px no-repeat;}
a.qs-buton1{background-position:0px 0px;}
a.qs-buton1:hover,a.qs-buton1:active{background-position:0px -44px;}
a.qs-buton2,a.qs-buton2:hover,a.qs-buton2:active{background:url(../images/button_02.gif) 0px 0px no-repeat;}
.qs-mic{width:222px;height:222px;background:url(../images/microphone.gif) left top no-repeat;}
.qs-testarea1{border: 1px solid #CCCCCC;color: #333333;float: left;font-size: 12px;padding-left: 5px;text-align: left;}
.btn-txt, .medi-btn{background: url("../images/apibtn.png") no-repeat scroll 0 0 transparent;display: inline-block;}
.medi-btn{background-position: right -276px;padding-right: 1px;}
.medi-btn .btn-txt{background-position: 0 -276px;color: #FFFFFF;}
.medi-btn .btn-txt{font: bold 12px/30px "Simsun";height: 30px;padding: 0 13px 0 15px;}
.btn-txt {background-position: 0 0;border: 0 none;color: #FFFFFF;cursor: pointer;display: inline-block;height: 22px;line-height: 22px;margin: 0;overflow: visible;padding: 0 8px 0 10px;}

/*-----------------------main-detils-------------------------------*/
.main-content{width:980px;overflow:auto;height:auto;background:#fff;margin-top:10px;margin-bottom:10px;}
/*-----------------------main-left-nav-------------------------------*/
.main-left-nav{width:180px;}
.menu_content{width:178px;padding:10px 0px 200px 0px;background-color:#fff;background:url("../images/line_stand.jpg") no-repeat 176px 20px;}
.menu_nav1{width:135px;height:30px;line-height:30px;padding-left:33px;border-bottom:1px solid #f0f0f0;}
.menu_nav1 a,.mn_gray a{color:#444;}
.menu_nav1 a:hover{color:#008dff;}
.mn_ic1{background:url(../images/icon_grey1.jpg) 15px center no-repeat;}
.mn_ic2{background:url(../images/icon_grey2.jpg) 15px center no-repeat;}
.mn_ic3{background:url(../images/icon_red.jpg) 15px center no-repeat;}
/*-----------------------end-main-left-nav-------------------------------*/
.main-right-content{width:780px;margin:0 0 10px 10px;}
.title_content{height:31px;background:url(../images/title_linebg.jpg) center bottom no-repeat;padding-top:10px;}
.title_content p{background:url(../images/icon_02.jpg) 10px center no-repeat; color:#008DFF;hieght:30px;font-size:14px;font-weight:bold;padding:10px 30px;}
.title-content_2{font-size:14px;color:#444;padding:20px 0;line-height:20px;}
.title-content_3{font-size:14px;color:#444;padding:0 10px 20px 0;line-height:20px;}
.explain{padding:10px 0;color:#F00;}
.menu_nav3 li{width:126px;height:30px;line-height:30px;padding:0px 0 0 42px;border-bottom:1px dotted #dddddd;}
.mn_tran{color:#008dff;}
.right-con-1{padding-top:10px;margin-right:10px;}
.yellow{color:#ff9900;}
.pad_10{padding:10px 0;}
.pad_bt_10{padding:10px 0;}
.para_28{line-height:28px;}
.indent_2{text-indent:2em;line-height:20px;}
.f_bold{font-weight:bold;}
.w715px{width:750px; margin-left:0;}
.w715px pre{font-size:14px;overflow:auto;}
.border_dot{border:1px dashed #ccc;}
.pad_2{padding:10px;}
.td_border_r{border-right:1px solid #ccc;}
.td_border_b{border-bottom:1px solid #ccc;}
.table_1{border:1px solid #ccc;color:#666;}
.table_1 td{padding:10px;line-height:20px;}
/*-----------------------end-main-detils-------------------------------*/

/*--------------------用户认证信息样式---------------------*/
.message{width:753px;padding:10px 10px 30px 10px;background-color:#fff;}
.msg-content1,.msg-cn1{width:750px;}
.msg-cnp1,.msg-cnp2{font-size:12px;color:#444;line-height:30px;}
.msg-cnp1{width:160px;}
.msg-cnp2{width:300px;}
.msg-cn2{width:670px;line-height:40px;padding:0px 10px 0px 73px;background:#fafafa url(../images/icon_1.jpg) 40px center no-repeat;}
.p-b10{padding-bottom:10px;}
.p-b20{padding-bottom:20px;}
.p-b30{padding-bottom:30px;}
.login-cn1p2{width:160px;font-size:12px;color:#444;line-height:34px;font-family:"宋体";}
.line2{width:100%;height:40px;background:url(../images/line_bg2.jpg) left center repeat-x;display:inline-block;}
a.msg-button1{width:73px;height:20px;line-height:20px;background:url(../images/select_btn.jpg) 0px 0px no-repeat;display:inline-block;}
a.msg-button1{font-size:12px;color:#fff;text-align:center;text-decoration:none;}
a.msg-button1{background-position:0px 0px;}
a.msg-button1:hover,a.msg-button1:active{background-position:0px -20px;}
/*--------------------用户认证信息样式---------------------*/

/*--自定义知识库样式---*/
.KBcontent{width:776px;background:url(../images/imgbg.jpg) left top no-repeat;padding:30px 0px 0px 224px;display:inline-block;}
.kb-content{width:554px;padding:0px 0px 10px 10px;overflow:hidden;position:relative;display:inline-block;_float:left;}
.kb-title-icon{height:23px;position:absolute;z-index:10000;right:15px;top:4px;}
a.kb-icon1,a.kb-icon2{width:20px;height:20px;float:left;display:block;background:url(../images/kb_icon1.jpg) 0px 0px no-repeat;text-decoration:none;margin-left:10px;}
a.kb-icon1{background-position:0px 0px;}
a.kb-icon1:hover,a.kb-icon1:active{background-position:0px -20px;}
a.kb-icon2{background-position:0px -40px;}
a.kb-icon2:hover,a.kb-icon2:active{background-position:0px -60px;}
.kb-title1,.kb-title2,.kb-title3{width:554px;height:29px;overflow:hidden;}
.kb-title1{background:url(../images/kb_title_bg.jpg) left top repeat-x;}
.kb-title2{background:url(../images/kb_title_left.jpg) left top no-repeat;}
.kb-title3{background:url(../images/kb_title_right.jpg) right top no-repeat;}
.kb-title3 h2{width:100%;line-height:29px;text-align:center;font-weight:bold;color:#008af9;font-size:12px;}
.kb-cn01,.kb-cn02,.kb-cn03,.kb-cn04{overflow:hidden;display:inline-block;}
.kb-cn03{background-color:#fff;margin:2px 0px;padding:2px;width:530px;}
.kb-cn04{border:2px solid #ff9140;background-color:#fffff7;margin:0px 0px;padding:2px;width:530px;}
.kb-cnleft{width:215px;float:left;overflow:hidden;}
.kb-cnleftp2{width:215px;float:left;}
.kb-cnleftp1{width:215px;height:24px;display:inline-block;}
.kb-time1,.kb-time2{line-height:24px;font-size:12px;color:#666;text-align:left;font-family:"宋体";}
.kb-time1{padding-right:10px;}
.kb-time2{background:url(../images/time_icon2.jpg) left 5px no-repeat;}
.kb-p1{height:30px;line-height:30px;text-align:left;padding:0px 10px 0px 10px;margin-bottom:10px;}
.kb-p2{border:1px solid #cccccc;background-color:#fdfeff;padding:4px 6px;margin:0px 0px 10px 0px;}
.kb-p3{width:10px;height:28px;float:left;}
.kb-p6{display: inline-block;float: left;height: 25px;padding: 0 5px 2px 120px;position: relative;width: 420px;}
.kb-p7{display: inline-block;padding: 2px 20px 2px 3px;position: relative;background-color: #FFFFFF;border: 1px solid #FDD1A6;margin-right:5px;}
.kb-p8{display: inline-block;padding: 2px 20px 2px 3px;position: relative;background-color: #FFFFFF;border: 1px solid #CCC;margin-right:5px;}
.kb-p2cn1{line-height:20px;}
.kb-p6cn1{line-height:20px;padding-right:5px;}
.kb-p2cn2{width:16px;height:18px;overflow:hidden;padding-top:2px;}
.kb-p6cn2{height: 18px;overflow: hidden;padding-top: 2px;position: absolute;right: 5px;top: 0;width: 16px;}
.kb-cnright{width:247px;height:54px;float:right;border:1px solid #cccccc;background-color:#fdfeff;padding-left:8px;font-size:12px;color:#555;text-align:left;line-height:20px;resize: none;}
.kb-line1,.kb-line2{width:100%;display:inline-block;}
.kb-line1{height:10px;background:url(../images/line_bg3.jpg) left center repeat-x;}
.kb-line2{height:0px;background:url(../images/line_bg3.jpg) left bottom repeat-x;padding:5px 0px;}
.hold-all1{width:327px;height:800px;}
.hold-all1{position:absolute;right:-115px;top:13px;}
.hold-bottom{width:327px;height:20px;display:block;background:url(../images/holdall_bottombg.png) left top no-repeat;}
.hold-yuyi01,.hold-yuyi02{width:262px;display:block;margin-left:0; margin-top:10px;z-index:10000;}
.hold-yuyi01{border:1px solid #e6e6e6;background-color:#fff;}
.hold-yuyi02{border:1px solid #ff9140;background-color:#fffff7;}
.yuyi-title{width:262px;height:28px;background-color:#f8f8f8;}
.yuyi-title h2{width:180px;line-height:28px;padding-left:10px;float:left;}
.yuyi-title h2{font-size:12px;font-weight:bold;color:#666;text-align:left;}
.yuyi-title p{width:20px;padding:3px 10px 0px 10px;float:right;}
.yuyi-content{width:242px;padding:0px 10px 10px 10px;}
.yuyi-content dt{width:240px;line-height:24px;color:#333;text-align:left;padding-top:5px;word-wrap: break-word;overflow: hidden;}
.yuyi-content dd{width:230px;height:24px;line-height:24px;text-align:left;color:#999;background:url(../images/icon_5.jpg) left center no-repeat;padding-left:10px;}
.c4{color:#f31d00;}
.c5{color:#1d9aff;}
.c6{color:#d505d3;}
.c7{color:#003b6a;}
.c8{color:#2cac04;}
.c9{color:#6b3e22;}
.c10{color:#88573a;}
.hold-menu{width:28px;height:480px;background-color:#f6fafd;overflow:hidden;}
.hold-menu li{width:10px;padding:15px 8px;margin-bottom:1px;text-align:center;overflow:hidden;}
.menu-link{background-color:#dff1ff;color:#023a69;cursor:pointer;}
.menu-hover{background-color:#0989ee;color:#fff;font-weight:bold;}
.menu2-link{background-color:#FFF6CA;color:#023a69;cursor:pointer;}
.menu2-hover{background-color:#FF7F22;color:#fff;font-weight:bold;}
.hold-word{width:258px;height:470px;overflow-x:hidden;overflow-y:scroll; padding:10px 10px 0 0;}

/*-------------!!!!!!!!!!!!!!!!!!!!!!!!!!!----------------*/
.hold-table{width:248px;}
.hold_table_btn{background:#FAFAFA;border:1px solid #ccc;overflow:auto;zoom:1;padding:2px 5px 2px 8px;}
.hold_sav1{padding:3px 3px 0 0;}
.hold_sav1 a{background:url(../images/new_btn_c.png) no-repeat 0 0;width:20px;height:20px;cursor: pointer;display:block;}
.hold_sav1 a:hover{background:url(../images/new_btn.png) no-repeat 0 0;width:20px;height:20px;}
.hold_sav2{padding:3px 10px 0 0;}
.hold_sav2 a{background:url(../images/save_btn_c.png) no-repeat 0 0;width:20px;height:20px;cursor: pointer;display:block;}
.hold_sav2 a:hover{background:url(../images/save_btn.png) no-repeat 0 0;width:20px;height:20px;}
.hold_content_list a{background:url(../images/save_btn_c.png) no-repeat 0 0;width:20px;height:20px;cursor: pointer;display:block;float:right;}
.hold_content_list a:hover{background:url(../images/save_btn.png) no-repeat 0 0;width:20px;height:20px;float:right;}
.hold_write{padding:3px 10px 0 0;}
.hold_write a{background:url(../images/kb_icon1.png) no-repeat 0 0;width:20px;height:20px;cursor: pointer; display:block;}
.hold_write a:hover{background:url(../images/kb_icon1.png) no-repeat 0 -20px;width:20px;height:20px;}
.hold_content_more{height:18px;background:url(../images/more_btn.jpg) no-repeat right -18px;line-height:18px;text-align:right;margin-bottom:10px;}
.hold_content_more a{color:#fff;padding:0 10px;}
.hold_content_more:hover{background:url(../images/more_btn.jpg) no-repeat right top;}
.hold_search_wapper{padding:3px 2px 0 0;}
.hold_search_wapper2{padding:1px 0px 0 0;}
.hold_search_wapper select{width:50px;height:20px;}
.hold_search{float:left;width:68px;height:20px;line-height:20px;border:1px solid #ccc;padding:0 5px;}
.btn_search{background:url(../images/search.png) no-repeat 0px 0px;width:24px;height:25px;cursor: pointer;float:right;}
.btn_search:hover{background:url(../images/search.png)no-repeat 0px -24px;width:24px;height:25px;}
.btn_search2{background: url('../images/search.png') no-repeat scroll 0 0 transparent;cursor: pointer;height: 25px;width: 24px;}
.btn_search2:hover{background: url('../images/search.png') no-repeat scroll 0 -24px transparent;cursor: pointer;height: 25px;width: 24px;}
.hold_content{border:1px solid #e6e6e6;background-color:#fff;width:240px;margin-bottom:7px;}
/*--.hold_content{border:1px solid #ccc;margin-bottom:10px;}--*/
.hold_content_list{line-height:25px;padding:5px;width:230px;overflow:auto;}
.hold_context{line-height:25px;padding:5px;border-top:1px solid #ccc;}
.hold-yuyi03,.hold-yuyi04,.hold-yuyi05,.hold-yuyi06{width:240px;margin-bottom:7px;}
.hold-yuyi03{border:1px solid #e6e6e6;background-color:#fff;}
.hold-yuyi04{border:1px solid #ff9140;background-color:#fffff7;}
/*--.hold-yuyi05{border:1px solid #F8E564;background-color:#FFFFBB;}--*/
.hold-yuyi05,.hold-yuyi06{border:1px solid #ff9140;background-color:#fffff7;}
.n_text{line-height:26px;padding:0px 2px;height:20px;font-size:12px;width:100px;float:left;}
.n_text2{line-height:26px;padding:0px 2px;height:20px;font-size:12px;border:1px solid #ccc;width:70px;float:left;background-color:#fffff7;}
.hold_context_text{wline-height:20px;font-size:12px;border:0;padding:5px;max-width:215px;min-width:215px;width:215px;}
.hold_context_text2{wline-height:20px;font-size:12px;border:1px solid #ccc;padding:5px;max-width:215px;min-width:215px;width:215px;background-color:#fffff7;}
.hold_context_text3{wline-height:20px;font-size:12px;border:0;padding:5px;max-width:215px;min-width:215px;width:215px;}
/*-------------!!!!!!!!!!!!!!!!!!!!!!!!!!!----------------*/

/*-------------切换标签公共样式----------------*/
.Menubox{width:317px;height:33px;float:left;padding-left:10px;}
.Menubox{background:url(../images/holdall_topbg.png) left bottom no-repeat;}
.Menubox ul{width:300px;float:left;padding-left:10px;}
.Menubox li{width:64px;height:25px;float:left;display:block;cursor:pointer;color:#f6fbff;text-align:center;padding-top:8px;margin-right:3px;}
.Menubox li.hover{width:64px;height:25px;background:url(../images/holdall_tabbg.jpg) left bottom no-repeat;}
.Menubox li.hover{padding-top:8px;color:#0178d6;font-weight:bold;cursor:pointer;}
.Contentbox{width:305px;height:480px;padding:0px 11px;overflow:hidden;clear:both;background:url(../images/holdall_bg.png) left top repeat-y;}
.Contentbox .Contentboxdiv1{width:292px;height:480px;padding-left:13px;overflow-x:hidden;overflow-y:scroll;float:left;}
.Contentbox .Contentboxdiv2{width:305px;height:480px;float:left;}
/*-------------切换标签公共样式至此结束----------------*/
.ui-datepicker-trigger{padding-left:5px;}
.must_f{color:#f00;padding:5px;text-align:center;}
.nodeMsgClass{display:none;color:#f00;}
.nex_pre_btn{padding-top:5px;}
.nex_pre_btn a{color:#fff;}
.pre_btn{padding-right:10px;background:url(../images/more_btn.jpg) no-repeat left -18px;width:48px;height:18px;line-height:18px;text-align:center;}
.pre_btn:hover{background:url(../images/more_btn.jpg) no-repeat left top;}
.nex_btn{background:url(../images/more_btn.jpg) no-repeat left -18px;width:48px;height:18px;line-height:18px;text-align:center;}
.nex_btn:hover{background:url(../images/more_btn.jpg) no-repeat left top;}
.semanticExampleMore{background-color: #effbff;border: 1px solid #007ee2;bottom: 2px;display: none;padding-left: 10px;position: absolute;right: 38px;width: 180px;z-index: 9999;height:98px;overflow:hidden;}
a.navIcon{width:17px;height:16px;display:inline-block;text-decoration:none;outline:medium none;}
a.navIcon{background:url(../images/kb_icon3.jpg) no-repeat left top;}
a.navIcon:hover,a.navIcon:active{background:url(../images/kb_icon4.jpg) no-repeat left top;text-decoration:none;}
/*-------2013-07-25新增样式-------*/
.kb-cnrighttwo{width:302px;}
.del-one a,a.TLp1,a.TLp2,a.TLp3,a.TLp4,a.TLp5,.TLp1Click,.TLp2Click,.TLp3Click,.TLp4Click,.TLp5Click,.channel-logo .chlg-p2 a,.channel-fcp3 a,.channel-fcp4 a,a.Search_Icon1,a.Search_Icon2,a.Search_Icon3{background:url(../images/kb_icon5.jpg) 0px 0px no-repeat;}
.del-one{padding:3px 0px 0px 10px;}
.del-one a{width:16px;height:16px;display:block;text-decoration:none;}
.del-one a{background-position:0px -87px;}
.del-one a:hover,.del-one a:active{background-position:-34px -87px;}
.tooltitle1{background:url(../images/channels/title_cnbg.jpg) left bottom repeat-x;}
.tooltitle2{background:url(../images/channels/title_left.jpg) left bottom no-repeat;}
.tooltitle3{background:url(../images/channels/title_right.jpg) right bottom no-repeat;}
.channels{width:300px;height:60px;border:1px solid #cccccc;background-color:#fff;position:relative;}
a.TLp1,a.TLp2,a.TLp3,a.TLp4,a.TLp5,.TLp1Click,.TLp2Click,.TLp3Click,.TLp4Click,.TLp5Click{width:24px;height:17px;text-decoration:none;display:block;}
a.TLp1{background-position:0px 0px;}
a.TLp2{background-position:0px -22px;}
a.TLp3{background-position:0px -44px;}
a.TLp4{background-position:0px -66px;}
a.TLp5{background-position:0px -153px;}
.TLp1Click,a.TLp1:hover,a.TLp1:active{background-position:-34px 0px;}
.TLp2Click,a.TLp2:hover,a.TLp2:active{background-position:-34px -22px;}
.TLp3Click,a.TLp3:hover,a.TLp3:active{background-position:-34px -44px;}
.TLp4Click,a.TLp4:hover,a.TLp4:active{background-position:-34px -66px;}
.TLp5Click,a.TLp5:hover,a.TLp5:active{background-position:-34px -153px;}

a.Search_Icon1,a.Search_Icon2,a.Search_Icon3{width:16px;height:16px;text-decoration:none;display:inline-block;}
a.Search_Icon1{background-position:0px -194px;}
a.Search_Icon1:hover,a.Search_Icon1:active{background-position:-18px -194px;}
a.Search_Icon2{background-position:-38px -194px;}
a.Search_Icon2:hover,a.Search_Icon2:active{background-position:-56px -194px;}
a.Search_Icon3{background-position:0px -174px;}
a.Search_Icon3:hover,a.Search_Icon3:active{background-position:-18px -174px;}


.channel-logo{width:auto;height:22px;border-width:0px 1px 1px 0px;text-align:left;border-style:solid;border-color:#ededed;background-color:#fbfbfb;}
.channel-logo{position:absolute;left:0;top:0;z-index:1000;}
.channel-logo .chlg-p1{padding-right:1px;}
.channel-logo .chlg-p1 img{padding:3px 5px 0px 6px;}
.channel-logo .chlg-p2,.channel-logo .chlg-p2 a{width:10px;height:22px;}
.channel-logo .chlg-p2 a{display:block;text-decoration:none;}
.channel-logo .chlg-p2 a{background-position:0px -107px;}
.channel-logo .chlg-p2 a:hover,.channel-logo .chlg-p2 a:active{background-position:-14px -107px;}
.channel-iconcn1{height:19px;border-width:1px 0px 0px 1px;border-style:solid;border-color:#ededed;background-color:#fbfbfb;}
.channel-iconcn1{position:absolute;right:0;bottom:0;z-index:1001;}
.channel-content{padding:0px 5px 0px 8px;line-height:22px;text-align:left;word-wrap:break-word;font-size:12px;color:#666;text-indent:6.5em;}
a.iconlink1,a.iconlink2{width:10px;height:10px;display:inline-block;text-decoration:none;margin:4px 6px 0px 6px;}
a.iconlink1{background:url(../images/icon_7.jpg) left top no-repeat;}
a.iconlink2{background:url(../images/icon_6.jpg) left top no-repeat;}
a.iconlink1:hover,a.iconlink1:active{background:url(../images/icon_9.jpg) left top no-repeat;}
a.iconlink2:hover,a.iconlink2:active{background:url(../images/icon_8.jpg) left top no-repeat;}
.channel-fc{width:170px;position:absolute;left:15px;top:48px;padding-top:6px;z-index:9999;}
.channel-fctitp1{width:170px;height:6px;background:url(../images/channels/fc_toptitle.png) left top no-repeat;}
.channel-fccn1{width:168px;background-color:#fffff7;border-width:0px 1px 1px 1px;border-style:solid;border-color:#c9b09c;}
.channel-fctitle{width:168px;height:21px;backgorund-color:#fffefa;border-bottom:1px solid #c9b09c}
.channel-fcp1{width:12px;height:16px;padding:5px 10px 0px 11px;}
.channel-fcp2{line-height:21px;text-align:left;color:#444;padding-right:10px;}
.channel-fcp3,.channel-fcp4{padding:4px 8px 0px 0px;}
.channel-fcp3 a,.channel-fcp4 a{width:15px;height:15px;display:block;text-decoration:none;}
.channel-fcp3 a{background-position:0px -135px;}
.channel-fcp4 a{background-position:-19px -135px;}
.channel-fcp3 a:hover,.channel-fcp3 a:active{background-position:-38px -135px;}
.channel-fcp4 a:hover,.channel-fcp4 a:active{background-position:-57px -135px;}
.channel-fcul{width:168px;padding-bottom:5px;float:left;}
.channel-fcul li{width:160px;float:left;padding-top:2px;}
.channel-iconp1{padding:4px 10px 0px 2px;}
.channel-iconp2{line-height:22px;text-align:left;color:#444;}
.menu-link2{background-color:#fff6ca;color:#023a69;cursor:pointer;}/*-------2013-07-26新增样式-------*/
.menu-hover2{background-color:#ff7f22;color:#fff;font-weight:bold;}/*-------2013-07-26新增样式-------*/
/*-------2013-07-25新增样式-------*/

.answer-textarea-class{border:0;padding:0;width:100%;height:58px;resize: none;text-indent:12px;font-family: tahoma,Arial,Helvetica,sans-serif;font-size: 12px;}
.star-cn{height:20px;padding:5px 4px 0px 0px;float:right;}
.modify-cn1{width:92px;height:20px;text-align:center;margin:0 auto;display: inline-block;}
.modify-cn1 input{width:82px;height:20px;line-height:18px;border:1px solid #fdd1a6;font-size:12px;color:#555;text-align:left;padding:0px 2px;}
.modify-cn3{width:88px;height:20px;text-align:center;padding-top:5px;}
.kb-cn01{width:532px;border:1px solid #e6e6e6;background-color:#fff;padding:4px 10px;}/*-------2013-07-29样式修改-------*/
.kb-cn02{width:532px;border:2px solid #ff9140;background-color:#fffff7;padding:3px 9px}/*-------2013-07-29样式修改-------*/
.tooltitle1,.tooltitle2,.tooltitle3{width:302px;height:23px;}/*-------2013-07-29样式修改-------*/
.tooltitlecn{padding:0px 10px;height:23px;}/*-------2013-07-29样式修改-------*/
.tooltitlecn p{padding:4px 10px 0px 0px;float:left;}/*-------2013-07-29样式修改-------*/
/*-------2013-07-30 图文-------*/
.enter_btn {background-color: #F9F9F9;border-top: 1px solid #FFFFFF;padding: 20px;text-align: center;}
.btn {border-radius: 5px 5px 5px 5px;margin: 0 10px;text-align: center;}

.btn_blue {background-color: #3590D7;background-image: -moz-linear-gradient(center top, #4EBBE6 0px, #80CCFD 100%);border: 1px solid #04AFFD;border-radius: 3px 3px 3px 3px;color: #FFFFFF;cursor: pointer;display: inline-block;overflow: visible;padding: 5px 20px;text-align: center;line-height: 20px;
}

.btn_blue:hover {background-color: #4F9841;background-image: -moz-linear-gradient(center top, #4EBBE6 0px, #80CCFD 100%);box-shadow: 0 1px 1px #AAAAAA;color: #FFFFFF;
}

.btn_gray {background-color: #F1F1F1;background-image: -moz-linear-gradient(center top, #F9F9F9 0px, #F0F0F0 100%);border: 1px solid #AAAAAA;border-radius: 3px 3px 3px 3px;color: #000000;cursor: pointer;display: inline-block;overflow: visible;padding: 5px 20px;text-align: center;line-height: 20px;
}

.btn_gray:hover {background-color: #F9F9F9;background-image: -moz-linear-gradient(center top, #F9F9F9 0px, #F8F8F8 100%);box-shadow: 0 1px 1px #AAAAAA;
}

.sel{border:1px solid #1D9AFF;}

.CPM{height:100px;display:inline-block;}
.CPMtitle{width:100%;height:34px;position:relative;}
.CPM-title1,.CPM-title2{width:20px;height:34px;position:absolute;z-index:9999;top:0;}
.CPM-title1{background:url(../images/channels/cpm_title_l.png) left top no-repeat;left:0px;}
.CPM-title2{background:url(../images/channels/cpm_title_r.png) right top no-repeat;right:0px;}
.CPM-titlecn{width:auto;height:26px;background:url(../images/channels/cpm_title_bg.png) left top repeat-x;padding-top:8px;margin:0px 20px 0px 20px;}
.CPM-titlecn h5{width:200px;line-height:26px;color:#fff;text-align:left;float:left;padding-right:10px;font-weight:normal;font-size:12px;}
.CPM-titlecn p{width:12px;float:right;padding-top:6px;}
.CPM-titlecn p a{width:12px;height:12px;display:inline-block;background:url(../images/channels/close_icon.jpg) 0px 0px no-repeat;text-decoration:none;}
.CPM-titlecn p a{background-position:0px 0px;}
.CPM-titlecn p a:hover,.CPM-titlecn p a:active{background-position:0px -12px;}
html.CPM-content1,html.CPM-content2{width:100%;height:100%;}
.CPM-content1{background:url(../images/channels/cpm_left_bg.png) left top repeat-y;}
.CPM-content1 .CPM-content2{background:url(../images/channels/cpm_right_bg.png) right top repeat-y;}
.CPM-content1 .CPM-content2 .CPMcn{width:auto;background-color:#ecf7ff;margin:0px 20px;padding-top:10px;}
.CPM-cn{width:100%;line-height:22px;text-align:center;font-size:12px;color:#333;padding:10px 0px;}
.CPM-cnbutton{width:100%;height:24px;text-align:center;padding-bottom:5px;}
.CPM-cnbutton a{width:70px;height:24px;display:inline-block;background:url(../images/channels/cpm_button01.jpg) 0px 0px no-repeat;}
.CPM-cnbutton a{font-size:12px;line-height:24px;text-align:center;color:#222;}
.CPM-cnbutton a:hover,.CPM-cnbutton a:active{background-position:0px -24px;}
.CPMbottom{width:100%;height:20px;position:relative;}
.CPM-bottom1,.CPM-bottom3{width:20px;height:20px;position:absolute;top:0px;z-index:9999;}
.CPM-bottom1{background:url(../images/channels/cpm_left_bot.png) left bottom no-repeat;left:0;}
.CPM-bottom2{width:auto;height:20px;background:url(../images/channels/cpm_bottom_bg.png) left bottom repeat-x;margin:0px 20px;}
.CPM-bottom3{background:url(../images/channels/cpm_right_bot.png) right bottom no-repeat;right:0;}

.typeselect{width:65px;height: 20px;}


/*---------------2013-08-05新添加样式整合-----------------*/
.ASK-content{width:auto;margin-left:10px;}
.ASK-cn1{width:auto;line-height:24px;text-align:center;font-size:14px;color:#333;margin:20px 200px;}
.ASK-button{width:100%;text-align:center;}
.ASK-button a{width:129px;height:40px;display:inline-block;text-decoration:none;background:url(../images/channels/button_02.jpg);overflow:hidden;}
.ASK-button a{background-position:0px 0px;}
.ASK-button a:hover,.SQ-button a:active{background-position:0px -40px;}

/*--------header conteht style end-----New Style--------*/
.Headerone,.Headertwo{width:100%;}
.Headerone{height:62px;background:url(../images/header_bg.jpg) left top repeat-x;}
.Headertwo{height:70px;background:url(../images/header_bgthree.jpg) left top repeat-x;}
.header-content{width:980px;height:62px;}
.logo{width:335px;height:62px;padding-right:40px;}
.nav{width:400px;height:62px;}
.nav li{width:90px;height:62px;float:left;padding-right:5px;font-family:"微软雅黑";}
.nav li a.navbg{background:url(../images/nav_bg.jpg) left bottom no-repeat;color:#0080f7;}
.nav li a,.nav li a.navbg{width:90px;line-height:62px;display:block;font-size:15px;text-decoration:none;text-align:center;font-family:"微软雅黑";}
.nav li a{color:#333;}
.nav li a:hover,.nav li a:active{color:#0080f7;}
.login{width:140px;height:45px;padding-top:10px;overflow:hidden;}
a.login1,a.login2{width:69px;height:45px;display:block;text-decoration:none;}
.login,a.login1,a.login2{background:url(../images/login_buttonbg.jpg) 0px 0px no-repeat;}
.login{background-position:0px 10px;}
a.login1{background-position:0px -45px;}
a.login2{background-position:-71px -45px;}
a.login1:hover{background-position:0px -90px;}
a.login2:hover{background-position:-71px -90px;}
a.login1:active{background-position:0px -135px;}
a.login2:active{background-position:-71px -135px;}
/*--------header conteht style end-----New Style--------*/


/*--------banner conteht style end------New Style-------*/
.banner-content{width:100%;}
/* 幻灯开始*/
#imgshow_mask{width:100%; position:absolute; z-index:1; background:url(../images/banner/imgshow_mask.png) repeat-x 0 0; height:27px;}
.bannerbg {height:449px; overflow:hidden;}
#imageShow{ clear:both;border-bottom:1px solid #fff;}
#imageShow .imagebg{height:449px; overflow:hidden; position:relative;}
#imageShow .imagebg li { height: 449px; overflow: hidden; position:absolute; top:0; left:0; width:100%; display:block; filter:alpha(opacity=0); opacity: 0;}
.bannerbg_1{width:50%; position:absolute; top:0; left:0; height:449px;}
.bannerbg_2{width:50%; position:absolute; top:0; right:0; height:449px;}
.bannerbg_main{background-position:center; background-repeat:no-repeat; width:100%; position:absolute; top:0; right:0; height:449px;}
.banner {margin:0 auto;width:960px;height:449px;position:relative;overflow:hidden;}
.scrollbg {height:80px;background:#f4f4f4 url(../images/banner/scroll_bg.jpg) 0 100% repeat-x;}
.scroll {margin:0 auto;width:960px;height:76px;position:relative;}
.s_pre, .s_next {display:block;width:48px;height:76px;position:absolute;}
a.s_pre {background:url(../images/banner/arrow_l.png);top:2px;left:0;}
a.s_pre:hover{background:url(../images/banner/arrow_l_on.png);}
a.s_next{background:url(../images/banner/arrow_r.png);top:2px;right:0;}
a.s_next:hover{background:url(../images/banner/arrow_r_on.png);}
.outScroll_pic{height:76px;margin-left:10px;_margin-left:27px;overflow: hidden;position:relative;width:960px;top:2px;}
.outScroll_pic .scroll_pic{position:absolute}
.scroll_pic {margin:0 auto;width:auto; height:76px; }
.scroll_pic li{float:left;height:66px;width:174px; margin:5px 7px;_margin:5px 14px 5px 0px;cursor:pointer; background:#000;}
.scroll_pic li img{filter:alpha(opacity=60);-moz-opacity:0.8;opacity:0.8;}
.scroll_pic li:hover img,.scroll_pic li:hover{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.current{width:174px;height:66px;border:2px #00d2ff solid;background:url(../images/banner/arrow_on.png) 50% -4px no-repeat;z-index:10;position:absolute;top:5px;left:0;_margin-left:10px;}
.currently img{filter:alpha(opacity=100)!important;-moz-opacity:1!important;opacity:1!important;}
/* 幻灯结束*/
/*--------banner conteht style end------New Style-------*/

/*--------content box style start-------New Style------*/
.content-box{width:940px;background-color:#fff;padding:20px 20px 30px 20px;}
.Process{width:630px;}
.Process-title,.News-title{border:1px solid #e0dfe7;background-color:#f7f8fc;}
.Process-title{width:628px;height:40px;}
.Process-title .title-content,.News-title .News-titlecn{border:1px solid #ffffff;}
.Process-title .title-content{width:626px;height:38px;}
.Process-title .title-content h2,.News-title .News-titlecn h2{line-height:38px;padding:0px 20px;float:left;font-size:18px;text-align:left;color:#333;font-family:"微软雅黑";font-weight:normal;}
.Process-content,.News-content{border-width:0px 1px 1px 1px;border-style:solid;border-color:#e0dfe7;}
.Process-content{width:608px;height:280px;*height:292px;padding:10px;text-align:center;}
.News{width:280px;}
.News-title{width:278px;height:40px;}
.News-title .News-titlecn{width:276px;height:38px}
.News-title .News-titlecn h2{}
.News-title .News-titlecn p{padding:0px 10px;float:right;}
.News-title .News-titlecn p a{font-size:12px;color:#0069d1;text-decoration:none;line-height:38px;}
.News-title .News-titlecn p a:hover,.News-title .News-titlecn p a:active{text-decoration:underline;}
.News-content{width:278px;height:300px;*height:312px;}
.News-content ul{width:278px;padding:5px 0px 20px 0px;}
.News-content ul li{width:258px;height:36px;line-height:36px;text-align:left;background:url(../images/arrow_icon1.jpg) 10px 15px no-repeat;border-bottom:1px dotted #ccc;padding-left:20px;overflow:hidden;}
.News-content ul li font{width:65px;font-size:12px;padding-right:5px;color:#999;float:right;overflow:hidden;}
.News-content ul li p{width:175px;height:36px;overflow:hidden;float:left;white-space:nowrap;text-overflow:ellipsis;}
.News-content ul li p a{font-size:12px;color:#666;text-decoration:none;}
.News-content ul li p a:hover,.News-content ul li p a:active{text-decoration:underline;color:#0069d1;}
/*--------content box style end---------New Style------*/

/*--------footer content style start-------New Style------*/
.footer-content{width:960px;height:30px;padding:10px;background-color:#ececec;}
.footer-content .fc-p1,.footer-content .fc-p2{height:30px;line-height:30px;}
.footer-content .fc-p1{color:#444;padding-left:10px;}
.footer-content .fc-p2{color:#999;padding-right:10px;font-family:Helvetica,"宋体",Arial,Tahoma;}
.footer-content .fc-p1 a{color:#333;text-decoration:none;}
.footer-content .fc-p1 a:hover,.footer-content .fc-p1 a:active{color:#0069d1;text-decoration:underline;}
/*--------footer content style end-------New Style------*/

/*--------footer content style start-------New Style------*/
.Logintwo-header{width:100%;height:70px;background:url(../images/header_bgtwo.jpg) left top repeat-x;}
.Logintwo-headercn{width:980px;height:62px;}
.Logintwo-headercn p{padding-left:10px;float:left;}
.Logintwo{width:980px;height:500px;padding-top:100px;}
.Logintwo-banner{width:520px;height:334px;}
.Logintwo-content{width:426px;height:334px;background:url(../images/login/loginbg.jpg) left top no-repeat;position:relative;}
.Logintwo-title{width:406px;height:50px;padding:0px 10px;}
.Logintwo-title h2{font-family:"微软雅黑";line-height:48px;text-align:center;font-size:18px;color:#ff6600;font-weight:normal;text-shadow:1px 1px 0px #fff;-moz-text-shadow:1px 1px 0px #fff;}
.Logintwo-content form{width:360px;float:left;padding:20px 0px 0px 47px;}
.Logintwo-content form .Logintwoinput1,.Logintwo-content form .Logintwoinput2{width:269px;height:36px;float:left;padding:5px 0px 14px 60px;}
.Logintwo-content form .Logintwoinput1 input,.Logintwo-content form .Logintwoinput2 input{color: #666666;font-size:14px;height:30px;line-height:30px;text-align:left;width:259px;}
.Logintwo-content form .Logintwoinput1{background:url(../images/login/input_bg01.jpg) left top no-repeat;}
.Logintwo-content form .Logintwoinput2{background:url(../images/login/input_bg02.jpg) left top no-repeat;}
.Logintwocn1{width:346px;padding:0px 0px 0px 47px;}
.Logintwocn1 .Logintwocn-p1{padding:8px 10px 0px 2px;}
.Logintwocn1 .Logintwocn-p2{height:28px;line-height:28px;font-size:14px;font-family:"微软雅黑";color:#333;}
.Logintwocn1 .Logintwocn-p3{padding-right:6px;line-height:28px;}
.Logintwocn1 .Logintwocn-p3 a{color:#0083dd;text-decoration:none;font-size:14px;font-family:"微软雅黑";}
.Logintwocn1 .Logintwocn-p3 a:hover,.Logintwocn1 .Logintwocn-p3 a:active{text-decoration:underline;}
.Logintwo-error{width:320px;line-height:30px;background:url(../images/login/icon_6.jpg) 47px center no-repeat;font-size:14px;font-family:"微软雅黑";color:#FF0000;text-align:left;padding-left:70px;}
.Logintwo-button{width:329px;height:41px;position:absolute;left:47px;bottom:50px;z-index:1000;}
.Logintwo-button a{width:329px;height:41px;display:block;background:url(../images/login_buttonnew.jpg) 0px 0px no-repeat;}
.Logintwo-button a{background-position:0px -328px;}
.Logintwo-button a:hover,.Logintwo-button a:active{background-position:0px -369px;}
/*--------footer content style end-------New Style------*/

.channel-logo1{width:176px;height:182px;padding:20px 0px 0px 20px;}/*-------2013-07-30样式修改-------*/
.channel-cn01{width:540px;}
.channel-ul01{width:540px;padding:10px 0px 20px 0px;}
.channel-ul01 li{width:540px;float:left;}
.channel-ulp1,.channel-ulp2,.channel-ulp3{padding:10px 0px;}
.channel-ulp1,.channel-ulp2{line-height:24px;font-size:14px;font-family:"微软雅黑";}
.channel-ulp1{width:118px;}
.channel-ulp2,.channel-ulp3{width:370px;}
.channel-ulp3{width:370px;}
.channel-ulp3 input{height:24px;line-height:22px;border:1px solid #7f9db9;padding:0px 5px;font-size:12px;color:#666666;text-align:left;}
.channel-ulbutton{width:400px;text-align:right;padding:10px 20px 0px 0px;}
.channel-ulbutton a{width:97px;height:32px;display:inline-block;text-decoration:none;background:url(../images/button_04.jpg) 0px 0px no-repeat;}
.channel-ulbutton a{background-position:0px 0px;}
.channel-ulbutton a:hover,.channel-ulbutton a:active{background-position:0px -32px;}


/*-------------切换标签公共样式 2013-07-30样式修改----------------*/
.Menuboxtwo{width:764px;height:31px;float:left;padding-left:10px;}
.Menuboxtwo{background:url(../images/title_bg01.jpg) left bottom repeat-x;}
.Menuboxtwo ul{float:left;padding-top:6px;}
.Menuboxtwo li{width:67px;height:25px;line-height:25px;float:left;display:block;cursor:pointer;color:#006a92;text-align:center;margin-right:3px;}
.Menuboxtwo li.hover{width:67px;height:25px;background:url(../images/title_bg02.jpg) left bottom no-repeat}
.Menuboxtwo li.hover{line-height:25px;color:#000000;font-weight:bold;cursor:pointer;}
.Contentboxtwo{width:770px;height:auto;padding:0px 0px;overflow:hidden;clear:both;}/*-------2013-07-29样式修改-------*/
.Contentboxtwo .Contentboxdiv1,.Contentboxtwo .Contentboxdiv2{width:760px;float:left;overflow:hidden;padding:20px 0px;}/*-------2013-07-30样式修改-------*/
.Contentboxtwo .Contentboxdiv1{}
.Contentboxtwo .Contentboxdiv2{}
/*-------------切换标签公共样式至此结束 2013-07-30样式修改----------------*/

/*-------2013-07-29新增样式-------*/
.mark-content{position:relative;}
.mark-img{width:600px;height:600px;}
.mark-link,.mark-hover,.mark-hover-cn,.mark-click{cursor:pointer;}
.mark-link{height: 100%;position: absolute;top: 0;width: 100%;}
.mark-hover-cn{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;display:;height: 100%;position: absolute;top: 0;width: 100%;}
.mark-hover,.mark-hover-cn{display:block;}
.mark-click{background:url(../images/selected-icon.png) no-repeat scroll 50% 50% transparent;background-color:rgba(0, 0, 0, 0.6) !important;width:100%;height:100%;position:absolute;cursor:pointer;}
/*-------2013-07-29新增样式-------*/


/*------------------------------------------------*/
.logthr_wapper{background:url(../images/login_bg.jpg) no-repeat left top;width:920px;height:540px;margin:0 auto;padding:0 15px 15px;}
.logthr_title h2{width:920px;line-height:55px;color:#edf7ff;padding-left:20px;font-weight:normal;font-size:20px;font-family:"微软雅黑","STHeitiSC-Light",Verdana,Arial,Tahoma;}
.logthr_content{padding:20px;overflow:auto;zoom:1;}
.logthr_text{padding:20px 0 0;}
.logthr_left{border-right:1px dotted #bbb;width:430px;height:445px;}
.logthr_left_content{padding-left:25px;}
.logthr_slogan h2{font-size:20px;color:#f84000;font-weight:normal;font-family:"微软雅黑","STHeitiSC-Light",Verdana,Arial,Tahoma;}
.logthr_p1{width:259px;float:left;height:31px;padding:5px 10px 5px 60px;background:url(../images/input_bg01.jpg) no-repeat left top;overflow:hidden;}
.logthr_input1{height:31px;line-height:31px;color:#666;font-size:14px;text-align:left;font-family:"宋体";}
.logthr_cp1{background:url(../images/top_arrow_bg.png) left top no-repeat;width:329px;height:22px;float:left;line-height:22px;text-align:center;font-size:12px;padding:7px 0px 3px 0px;color:#df3a01;}
.logthr_p2{width:259px;height:31px;float:left;padding:5px 10px 5px 60px;background:url(../images/input_bg02.jpg) no-repeat left top;margin-top:30px;}
.logthr_cn{width:259px;padding-right:70px;height:40px;line-height:40px;float:left;margin-top:10px;}
.logthr_sub{color:#666;}
.forget_sub{color:#0088e8;text-decoration:none;}
.btn_wapper{padding:40px 0px 0px 70px;float:left;}
.logthr_but{display:block;background:url(../images/btn_log.jpg) 0px 0px no-repeat;width:198px;height:41px;line-height:41px;}
.logthr_but:hover{display:block;background:url(../images/btn_log_c.jpg) 0px 0px no-repeat;width:198px;height:41px;line-height:41px;}
.logthr_right{width:375px;padding:0 35px 0 0;}
.reg_text{overflow:hidden;zppm:1;}
.logthr_reg h2{font-size:20px;color:#f84000;font-weight:normal;font-family:"微软雅黑","STHeitiSC-Light",Verdana,Arial,Tahoma;padding:0 0 20px 35px;}
.logthr_cn1{width:390px;padding-bottom:15px;}
.logthr_cn1p1{width:65px;font-size:14px;color:#888;font-weight:700;line-height:34px;text-align:right;}
.logthr_c1{width:290px;padding-left:20px;}
.logthr_input2{line-height:36px;font-size:14px;color:#666;text-align:left;background:url(../images/input_bg03.jpg) no-repeat left top;width:270px;height:36px;}
.logthr_input2{padding:0px 10px;}
.logthr_input3{line-height:36px;font-size:14px;color:#666;text-align:left;background:url(../images/input_bg04.jpg) no-repeat left top;width:60px;height:36px;padding:0 10px;}
.logthr_cp2{width:290px;color:#999;line-height:25px;}
.logthr_cp3{background:url(../images/top_arrow_bg2.png) left top no-repeat;width:289px;height:22px; line-height:22px;text-align:center;font-size:12px;padding:7px 0px 3px 0px;color:#df3a01;}
.input_code{width:290px;overflow:auto;zoom:1;}
.logthr_code{padding:5px 0;}
.view_c{padding:5px 0 0 20px;}
.view_c a{color:#0089e9;text-decoration:none;}
.btn_wapper2{width:375px; text-align:center;}
.agree_btn{padding:15px 90px 0;}
.agreen_but{display:block;background:url(../images/btn_agreen.jpg) 0px 0px no-repeat;width:198px;height:41px;line-height:41px;}
.agreen_but:hover{display:block;background:url(../images/btn_agreen_c.jpg) 0px 0px no-repeat;width:198px;height:41px;line-height:41px;}
.agree_c{color:#0089e9;text-decoration:none;padding:10px 0; display:block;}

/*----------------2013-07-30新增样式-------------------*/
.weixin-mt p a,a.weixin-ma1,a.weixin-ma2,a.weixin-ma3,a.weixin-ma4,a.weixin-ma5{background:url(../images/icon_12.jpg) 0px 0px no-repeat;}
.weixin-mt p a,a.weixin-ma1,a.weixin-ma2,a.weixin-ma3,a.weixin-ma4,a.weixin-ma5{width:15px;height:15px;display:block;text-decoration:none;}
.weixin-content{width:100%;background:url(../images/channels/weiin_leftlistbg.jpg) left top repeat-y;padding-bottom:30px;}
.weixin-menuone{width:226px;}
.weixin-mt,.weixin-mtinput{width:225px;padding-top:10px;}/*------------------2013-08-01新增及修改样式----------------------*/
.weixin-mt h2{height:30px;line-height:30px;padding:0px 10px;float:left;font-size:12px;font-weight:bold;color:#333;text-align:left;}
.weixin-mt p{padding:10px 9px 0px 0px;float:right;}
.weixin-mt p a{background-position:-7px -10px;}
.weixin-mt p a:hover{background-position:-25px -10px;}
.weixin-mt p a:active{background-position:-42px -10px;}

/*------------------2013-08-01新增样式及修改----------------------*/
.weixin-mtinput{padding-bottom:10px;background:url(../images/channels/input_line01.jpg) 3px bottom no-repeat;}
.weixin-mtinput p{width:190px;float:left;height:28px;padding:0px 0px 10px 26px;background:url(../images/channels/input_bg01.jpg) 20px 0px no-repeat;}
.weixin-mtinput p input{width:172px;height:26px;line-height:26px;font-size:12px;color:#333;background:none;}
.weixin-mtinput div{width:200px;float:left;padding:0px 0px 0px 35px;}
.weixin-menubutton p a,.weixin-mtinput div a{width:70px;height:24px;line-height:24px;display:inline-block;text-decoration:none;background:url(../images/channels/button_01.jpg) 0px 0px no-repeat;}
.weixin-menubutton p a,.weixin-mtinput div a{font-size:12px;color:#0a0a0a;text-align:center;background-position:0px 0px;}
.weixin-menubutton p a:hover,.weixin-menubutton p a:active,.weixin-mtinput div a:hover,.weixin-mtinput div a:active{background-position:0px -24px;color:#0063dd;}

/*------------------2013-08-01新增样式及修改----------------------*/

.weixin-mdl{width:225px;}
.weixin-mdl dt{width:221px;height:26px;background-color:#f5f5f5;border-top:1px solid #fff;border-bottom:1px solid #ececec;padding-right:4px;}
.weixin-mdl dt h2{line-height:26px;text-align:left;font-size:12px;font-weight:normal;color:#555;padding:0px 10px 0px 20px;float:left;}
.weixin-mdl dt p{padding:7px 5px 0px 0px;float:right;}
a.weixin-ma1{background-position:-9px -48px;}
a.weixin-ma1:hover{background-position:-27px -48px;}
a.weixin-ma1:active{background-position:-45px -48px;}
a.weixin-ma2{background-position:-7px -78px;}
a.weixin-ma2:hover{background-position:-24px -78px;}
a.weixin-ma2:active{background-position:-41px -78px;}
a.weixin-ma3{background-position:-7px -104px;}
a.weixin-ma3:hover{background-position:-24px -104px;}
a.weixin-ma3:active{background-position:-41px -104px;}
a.weixin-ma4{background-position:-5px -140px;}
a.weixin-ma4:hover{background-position:-26px -140px;}
a.weixin-ma4:active{background-position:-47px -140px;}
a.weixin-ma5{background-position:-4px -166px;}
a.weixin-ma5:hover{background-position:-25px -166px;}
a.weixin-ma5:active{background-position:-45px -166px;}
.weixin-mdl dd{width:191px;height:30px;background:#fff url(../images/channels/wein_leftline.jpg) left bottom repeat-x;padding:0px 8px 0px 30px;}
.weixin-mdl dd h3{width:100px;line-height:30px;text-align:left;background:url(../images/icon_13.jpg) left 14px no-repeat;padding:0px 5px 0px 10px;float:left;}
.weixin-mdl dd h3{font-size:12px;font-weight:normal;color:#1986de;text-align:left;}
.weixin-mdl dd p{padding:7px 5px 0px 0px;display:inline-block;float:right;}
.weixin-menucontent{width:450px;}
.weixin-menubutton{width:340px;line-height:30px;padding:20px 0px 0px 10px;}
.weixin-menubutton p{padding:10px 17px 0px 5px;float:left;}

.weixin-menucn{width:335px;height:493px;background:url(../images/channels/weixin_bg.jpg) left top no-repeat;padding:12px 0px 0px 15px;position:relative;}
.weixin-ul-one1{position:absolute;left:50px;bottom:62px;z-index:10000;}
.weixin-ul-one1,.weixin-ul-one2,.weixin-ul-one3{width:104px;}
.weixin-ul-one1{background:url(../images/channels/weixin_menubg.jpg) left top repeat-y;}
.weixin-ul-one2{background:url(../images/channels/weixin_menutop.jpg) left top no-repeat;}
.weixin-ul-one3{background:url(../images/channels/weixin_menubottom.jpg) left bottom no-repeat;}
.weixin-ul-one3 ul{width:88px;padding:14px 8px 16px 8px;display:inline-block;}
.weixin-ul-one3 ul li{width:88px;}
.weixin-ul-one3 ul li h6{width:88px;height:39px;line-height:39px;}
.weixin-ul-one3 ul li p{width:88px;height:2px;float:left;background:url(../images/channels/weixin_menuline.jpg) center 0px no-repeat;overflow:hidden;float:left;}
.weixin-ul-one3 ul li h6,.weixin-ul-two li h6{text-align:center;font-size:14px;font-family:"微软雅黑";color:#fff;font-weight:normal;cursor:pointer}
.weixin-ul-two{width:274px;height:44px;position:absolute;left:15px;bottom:14px;z-index:999;padding-left:46px;display:inline-block;}
.weixin-ul-two li{width:90px;float:left;height:44px;}
.weixin-ul-two li h6,.weixin-ul-two li p{height:44ppx;line-height:44px;}
.weixin-ul-two li h6{width:88px;float:left;}
.weixin-ul-two li p{height:44px;width:2px;float:left;background:url(../images/channels/line01.jpg) left top no-repeat;}

/*----------------2013-07-30新增样式-------------------*/


/*---------------2013-08-05新添加样式整合-----------------*/

/*----------------2013-08-07新增样式-------------------*/
.Search{width:233px;position:absolute;left:-10px;top:10px;z-index:10000;}
.Search-title{width:213px;height:29px;background:url(../images/search_titlebg.png) left bottom no-repeat;padding:0px 10px 4px 10px;}
.Search-title h2{line-height:28px;padding-left:15px;font-size:12px;font-weight:bold;color:#fff;text-align:left;float:left;}
.Search-title p{padding:8px 10px 0px 10px;float:right;}
.Search-content{height: 380px;width:205px;padding:0px 14px 10px 14px;background:url(../images/search_contentbg.png) left top repeat-y;}
.Search-bottom{width:233px;height:10px;background:url(../images/search_bottombg.png) left top no-repeat;}
.Search-top{width:100%;background:#f5f5f5 url(../images/search_linebg1.jpg) left bottom repeat-x;padding:4px 0px;float:left;}
.Serch-topleft{width:165px;}
.Serch-topleft p{width:100%;padding:0px 0px 2px 0px;height:21px;overflow:hidden;float:left;}
.Serch-topleft p select{height:20px;border:1px solid #cccccc;font-size:12px;font-family:"宋体";color:#333;}
.Serch-topleft p input{height:18px;line-height:18px;border:1px solid #ccc;font-size:12px;color:#333;padding:0px 3px;}
.Search-topright{padding:7px 4px 0px 0px;}
.Search-topright a{width:30px;height:30px;display:inline-block;background:url(../images/button_bg2.jpg) 0px 0px no-repeat;text-decoration:none;}
.Search-topright a:hover{background-position:0px -30px;}
.Search-topright a:active{background-position:0px -60px;}
.Search-result{width:201px;padding:4px 0px 4px 4px;overflow:hidden;}
.Search-result li{width:197px;height:28px;line-height:28px;padding-bottom:1px;overflow:hidden;float:left;}
.Search-result li p{width:187px;height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;font-size:12px;color:#333;padding:0px 5px;}
.S-bg1{background-color:#d9f0ff;}
.S-bg2{background-color:#fff7de;}
.S-bg3{background-color:#f1f5f8;}
.Search-button{width:205px;text-align:center;padding:10px 0px;}
.Search-button a{padding:4px 12px;background-color:#0080e7;color:#fff;font-size:12px;text-decoration:none;}
.Search-button a:hover,.Search-button a:active{background-color:#006fc8;}
/*----------------2013-08-07新增样式-------------------*/




a.text-link1{font-size:14px;color:#1c88e4;text-decoration:underline;}
a.text-link1:hover,a.text-link1:active{text-decoration:none;}
.qd_content1{width:728px;height:128px;background-color:#fafafa;border:1px solid #eeeeee;display:inline-block;margin:0px 0px 20px 15px;}
.qd_logo01,.qd_logo02,.qd_logo03{width:130px;height:130px;}
.qd_logo01{background:url(../images/newimages/weixin_logo.jpg) 50% 50% no-repeat;}
.qd_logo02{background:url(../images/newimages/txwb_logo.jpg) 50% 50% no-repeat;}
.qd_logo03{background:url(../images/newimages/weibo_logo.jpg) 50% 50% no-repeat;}
.qd_cn{width:570px;padding:0px 10px 0px 0px;}
.qd_cn div{width:100%;height:85px;text-align:left;text-indent:2em;color:#666;line-height:22px;overflow:hidden;padding-top:10px;font-size:14px;}
.qd_cn p{width:100%;height:30px;line-height:30px;text-align:right;background:url(../images/newimages/line_bg1.jpg) left top repeat-x;}
.qd_cn p a{font-size:12px;color:#0e77ee;text-decoration:none;}
.qd_cn p a:hover,.qd_cn p a:active{text-decoration:underline;}



.CMOP-wxnav01,.CMOP-wxnav02,.CMOP-wxnav03,.CMOP-wxnav04,.CMOP-wxnav05,a.wx-button01,a.wx-button02,a.weltop-link01,a.weltop-link02,a.weltop-link03,a.weltop-link04,a.weltop-link05,.CMOP-tancengtitle a,a.CM-cta01,a.CM-cta02,a.CM-cta03,a.CM-cta04,a.CM-cta05,a.wx-button04,a.wx-button05{background:url(../images/newimages/weixin_sprites.jpg) 0px 0px no-repeat;}
.CMOP-title02 a,a.CM-button1,a.CM-button2,a.CM-button3,a.CM-button4,a.wx-button06{background:url(../images/newimages/bg_sprites.jpg) no-repeat;}
a.CM-cta06,a.CM-cta07{background:url(../images/newimages/weixin_sprites.jpg) 0px 0px no-repeat;}

.CMOP-content01{width:756px;padding:10px;position:relative;}
.CMOP-title01{width:736px;height:36px;display:inline-block;line-height:36px;color:#111;background:url(../images/newimages/line_bg1.jpg) left bottom repeat-x;padding:0px 10px;}
.CMOP-title02{padding:20px 10px 10px 10px;}
.CMOP-title02,.CMOP-title03{width:736px;height:22px;line-height:22px;}
.CMOP-title02 p{width:400px;padding-left:10px;text-align:left;color:#111;float:left;}

.CMOP-title02 a{width:68px;height:22px;text-decoration:none;display:inline-block;float:left;}
.CMOP-title02 a{background-position:0px 0px;}
.CMOP-title02 a:hover,.CMOP-title02 a:active{background-position:0px -23px;}
.CMOP-ceng{width:136px;height:84px;background:url(../images/newimages/prompt_bg.jpg) 0px 0px no-repeat;padding:8px 10px 0px 10px;position:absolute;left:76px;top:37px;z-index:1000;}
.CMOP-ceng{font-size:12px;color:#444;line-height:20px;text-align:left;}
.CMOP-cn{width:744px;padding-left:10px;display:inline-table;}
.CMOP-cn table,.table-line{border:1px solid #ebebeb;}
.CMOP-td1{border-right:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
.CMOP-td2{border-right:1px solid #ebebeb;}
.CMOP-td3{border-bottom:1px solid #ebebeb;}
.CMOP-cntwo{width:554px;padding:60px 100px 10px 100px;text-align:center;}
.CMOP-cntwop1{width:100%;padding-bottom:20px;font-size:20px;color:#ff4200;font-family:"微软雅黑";}
.CMOP-cntwop2{width:100%;padding:10px 0px;font-size:14px;color:#111;}
.CMOP-tdp1{width:180px;line-height:18px;text-align:left;padding:0px 10px; word-break:break-all;}

.CMOP-title03{padding-top:10px;}
.CMOP-titcn1{padding-right:16px;float:left;background:url(../images/newimages/icon_01.jpg) right center no-repeat;}
.CMOP-titcn2{padding-right:2px;}
.CMOP-titcn1 a,.CMOP-titcn2 a{color:#0f7ed3;text-decoration:none;}
.CMOP-titcn1 a:hover,.CMOP-titcn1 a:active{text-decoration:none;}
.CMOP-titcn2 a:hover,.CMOP-titcn2 a:active{text-decoration:underline;}
.CM-c1{color:#ff4200;}

a.wx-button01,.CMOP-facetext,a.wx-button05{font-family:"微软雅黑";}
a.wx-button01,a.wx-button02,a.wx-button03{text-align:center;display:inline-block;text-decoration:none;}
a.wx-button01{width:110px;height:36px;line-height:36px;}
a.wx-button01{font-size:18px;color:#fff;}
a.wx-button01{background-position:-72px -231px;}
a.wx-button01:hover,a.wx-button01:active{background-position:-72px -268px;}
a.wx-button02{width:70px;height:26px;line-height:26px;font-size:14px;color:#fff;}
a.wx-button02{background-position:0px -231px;}
a.wx-button02:hover,a.wx-button02:active{background-position:0px -258px;}
a.wx-button04{width:135px;height:30px;line-height:30px;display:inline-block;text-decoration:none;text-align:center;}
a.wx-button04{font-size:12px;font-weight:bold;color:#fff;}
a.wx-button04{background-position:-364px -231px;}
a.wx-button04:hover,a.wx-button04:active{background-position:-364px -262px;}
a.wx-button05{width:180px;height:40px;line-height:40px;text-align:center;text-decoration:none;display:inline-block;}
a.wx-button05{font-size:18px;color:#fff;}
a.wx-button05{background-position:-183px -231px;}
a.wx-button05:hover,a.wx-button05:active{background-position:-183px -272px;}
a.wx-button06{width:68px;height:22px;display:inline-block;text-decoration:none;}
a.wx-button06{background-position:-93px -46px;}
a.wx-button06:hover,a.wx-button06:active{background-position:-93px -69px;}

a.CM-link1{font-size:12px;color:#0f7ed3;text-decoration:none;}
a.CM-link1:hover,a.CM-link1:active{text-decoration:underline;}
a.CM-button1{width:92px;height:22px;line-height:22px;text-align:center;display:inline-block;color:#1b639e;}
a.CM-button1{background-position:0px -46px;}
a.CM-button1:hover,a.CM-button1:active{background-position:0px -69px;color:#1a242c;}
a.CM-button2{width:142px;height:40px;text-decoration:none;display:inline-block;}
a.CM-button2{background-position:0px -92px;}
a.CM-button2:hover,a.CM-button2:active{background-position:0px -133px;}
a.CM-button3{width:55px;height:22px;display:inline-block;text-decoration:none;}
a.CM-button3{line-height:22px;text-align:center;color:#1b639e;}
a.CM-button3{background-position:0px -174px;}
a.CM-button3:hover,a.CM-button3:active{background-position:-56px -174px;color:#1a242c;}
a.CM-button4{width:98px;height:22px;text-decoration:none;}
a.CM-button4{background-position:-69px 0px;}
a.CM-button4:hover,a.CM-button4:active{background-position:-69px -23px;}


a.weltop-link01,a.weltop-link02,a.weltop-link03,a.weltop-link04,a.weltop-link05{width:43px;height:40px;line-height:40px;color:#666;text-decoration:none;float:left;display:inline-block;padding-left:45px;}
a.weltop-link01{background-position:-530px -236px;}
a.weltop-link02{background-position:-530px -277px;}
a.weltop-link03{background-position:-530px -318px;}
a.weltop-link04{background-position:-530px -359px;}
a.weltop-link05{background-position:-530px -400px;}
a.weltop-link01:hover,a.weltop-link01:active{background-position:-626px -236px;color:#038ef7;}
a.weltop-link02:hover,a.weltop-link02:active{background-position:-626px -277px;color:#038ef7;}
a.weltop-link03:hover,a.weltop-link03:active{background-position:-626px -318px;color:#038ef7;}
a.weltop-link04:hover,a.weltop-link04:active{background-position:-626px -359px;color:#038ef7;}
a.weltop-link05:hover,a.weltop-link05:active{background-position:-626px -400px;color:#038ef7;}

a.CM-cta01,a.CM-cta02,a.CM-cta03,a.CM-cta04,a.CM-cta05,a.CM-cta06,a.CM-cta07{width:15px;height:15px;display:inline-block;text-decoration:none;}
a.CM-cta01{background-position:-40px -331px;}
a.CM-cta02{background-position:-56px -330px;}
a.CM-cta03{background-position:-72px -330px;}
a.CM-cta04{background-position:-40px -363px;}
a.CM-cta05{background-position:-56px -363px;}
a.CM-cta06{background-position:-88px -331px;}
a.CM-cta07{background-position:-72px -363px;}
a.CM-cta01:hover,a.CM-cta01:active{background-position:-40px -347px;}
a.CM-cta02:hover,a.CM-cta02:active{background-position:-56px -346px;}
a.CM-cta03:hover,a.CM-cta03:active{background-position:-72px -346px;}
a.CM-cta04:hover,a.CM-cta04:active{background-position:-40px -379px;}
a.CM-cta05:hover,a.CM-cta05:active{background-position:-56px -379px;}
a.CM-cta06:hover,a.CM-cta06:active{background-position:-88px -347px;}
a.CM-cta07:hover,a.CM-cta07:active{background-position:-72px -379px;}
a.CMOP-on,a.CMOP-off{width:61px;height:24px;display:inline-block;text-decoration:none;background:url(../images/newimages/account_nooff.jpg);}
a.CMOP-on,a.CMOP-on:hover,a.CMOP-on:active{background-position:0px -24px;}
a.CMOP-off,a.CMOP-off:hover,a.CMOP-off:active{background-position:0px 0px;}

a.questions{width:14px;height:14px;display:inline-block;text-decoration:none;}
a.questions{background:url(../images/newimages/weixin_sprites.jpg);}
a.questions,a.questions:hover,a.questions:active{background-position:0px -286px;}

.A-w756{width:756px;}
.Account-cn01{widht:746px;padding-left:10px;line-height:24px;}
.A-bgcolor1{background-color:#f9f9f9;}
.Account-p01{width:190px;padding-left:30px;}
.Account-p02{width:300px;padding-left:10px;}

.Account-content01{width:754px;border:1px solid #e6e6e6;}
.Account-cntitl{width:754px;height:29px;background:url(../images/newimages/account_titlebg.jpg) left top repeat-x;}
.Account-cntitl h2{font-size:12px;line-height:29px;font-weight:bold;color:#333;text-align:left;padding-left:10px;}

.Account-cn02{width:754px;}
.Acc-line01{border-bottom:1px solid #e6e6e6;}
.Account-left{width:312px;border-right:1px dashed #e6e6e6;padding:10px;}
.Account-leftP1{width:84px;height:84px;}
.Account-leftP2{width:205px;padding-right:10px;line-height:20px;text-align:left;color:#666;}

.Account-right{width:405px;}
.Account-right ul{width:395px;padding-right:10px;}
.Account-right ul li{width:395px;height:22px;padding-top:6px;display:inline-block;}
.Account-right ul li .Acc-rightP1{width:270px;height:24px;line-height:30px;color:#666;}
.Account-right ul li .Acc-rightP2{width:100px;}

.Account-cn03{width:373px;}
.Account-cn03tit{width:363px;padding-left:10px;height:30px;line-height:30px;}

.Account-cn04{width:333px;padding:0px 20px 10px 20px;}

.Accountone{width:734px;padding:10px;}
.Accountone-title1{height:30px;line-height:30px;background-color:#f6f9fb;}
.Accountone-content{width:100%;padding-top:10px;}

.A-p01{padding:0px 10px;line-height:20px;}
.A-p02{background:url(../images/newimages/icon_01.jpg) 0px 8px no-repeat;padding:8px 0px 8px 20px;}

.Account-cntwo{width:736px;padding:10px;}
.Account-tc01{width:480px;background-color:#fff;}
.Acc-border01{border:2px solid #d7d8da;}
.Account-tc02{width:150px;padding:5px 10px;text-align:left;line-height:22px;border:1px solid #ffc3a4;background-color:#fffcf1;}

.help_icon{padding:7px;background:url(../images/newimages/icon_01.jpg) 0px 0px no-repeat;cursor:pointer;display:inline-block;_margin-bottom:-15px;}


/*----注："CMOP-weixin"简写为"CMOP-wx"-------------*/
.CMOP-weixin{width:756px;}
.CMOP-wxnav01,.CMOP-wxnav02,.CMOP-wxnav03,.CMOP-wxnav04,.CMOP-wxnav05{width:756px;height:46px;}
.CMOP-wxnav01{background-position:0px 0px;}
.CMOP-wxnav02{background-position:0px -46px;}
.CMOP-wxnav03{background-position:0px -92px;}
.CMOP-wxnav04{background-position:0px -138px;}
.CMOP-wxnav05{background-position:0px -184px;}

.Pt20{padding-top:20px;}
.Pt30{padding-top:30px;}

.Pb10{padding-bottom:10px;}
.Pb20{padding-bottom:20px;}
.Pb30{padding-bottom:30px;}
.Pl10{padding-left:10px;}
.Pl20{padding-left:20px;}
.Pl30{padding-left:30px;}

.CM-w756{width:756px;}

.CM-lh20{line-height:20px;}
.CM-lh22{line-height:22px;}
.CM-lh24{line-height:24px;}
.CM-lh26{line-height:26px;}
.CM-lh30{line-height:34px;}
.CM-lh34{line-height:34px;}

.CM-fz12{font-size:12px;}
.CM-fz14{font-size:14px;}
.CM-fz16{font-size:16px;}
.CM-fz18{font-size:18px;}
.CM-fz20{font-size:20px;}

.CM-fw{font-weight:bold;}

.CM-cl01{color:#333;}
.CM-cl02{color:#666;}
.CM-cl03{color:#888;}
.CM-cl04{color:#999;}
.CM-cl05{color:#d1d1d1;}
.CM-cl06{color:#ff4200;}
.CM-cl07{color:#1986de;}

.CM-dsp{display:inline-block;}

.CMOP-lxecn01{width:100%;}
.CMOP-lxecn02{width:736px;padding:30px 10px 0px 10px;}

.CM-porttitle{width:716px;padding-left:40px;}
.CM-portcn01{width:756px;display:inline-block;}
.CM-portcn02{width:676px;padding-left:80px;}
.CM-portcn03{width:756px;border-top:1px solid #dedede;padding:10px 0px;}

.CM-portcnp1{width:80px;}
.CM-portcnp2{padding-right:10px;}
.CM-portcnp3{padding:4px 10px 0px 0px;}
.CM-portcnp4{width:590px;background-color:#fafeff;border:1px dashed #e2e3e5;padding:10px;}
.CM-portcnp5{width:626px;padding:10px 0px 10px 10px;}

.CM-input01{height:32px;line-height:30px;border:1px solid #e4e4e4;background-color:#fdfdfd;padding:0px 5px;text-align:left;}

.CMOP-wxcn01{width:696px;padding:30px 0px 40px 60px;}
.CMOP-welcontent{width:636px;float:left;}

.CMOP-weltop01,.CMOP-weltop02,.CMOP-weltop03,.CMOP-welbottom01,.CMOP-welbottom02,.CMOP-welbottom03{width:636px;height:41px;}
.CMOP-weltop01{background:url(../images/newimages/wel_topbg.jpg) left top repeat-x;}
.CMOP-weltop02{background:url(../images/newimages/wel_topleft.jpg) left top no-repeat;}
.CMOP-weltop03{background:url(../images/newimages/wel_topright.jpg) right top no-repeat;}
.CMOP-weltop03 ul{width:616px;padding:1px 10px 0px 10px;height:40px;overflow:hidden;}
.CMOP-weltop03 ul li{width:90px;height:40px;float:left;background:url(../images/newimages/wel_topline.jpg) right top no-repeat;}

.CMOP-welbottom01{background:url(../images/newimages/wel_bottombg.jpg) left bottom repeat-x;}
.CMOP-welbottom02{background:url(../images/newimages/wel_bottomleft.jpg) left bottom no-repeat;}
.CMOP-welbottom03{background:url(../images/newimages/wel_bottomright.jpg) right bottom no-repeat;}


.CMOP-welcn{width:634px;height:200px;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;overflow:hidden;}
.CMOP-welcntextarea{width:624px;height:200px;font-size:12px;line-height:22px;text-align:left;color:#666;padding-left:10px;border:0px;}
.CMOP-face{width:100px;height:29px;padding:10px 0px 1px 20px;}
.CMOP-facetext{width:240px;line-height:38px;text-align:right;padding:0px 20px 1px 0px;font-style:italic;}


.CMOP-tanceng{width:350px;height:253px;background:url(../images/newimages/weixin_tcbg.png) left top no-repeat;padding:30px;}
.CMOP-tancengtitle{width:340px;height:32px;background:url(../images/newimages/line_bg1.jpg) left bottom repeat-x;padding:5px 10px 0px 0px;text-align:right;}
.CMOP-tancengtitle a{width:26px;height:26px;text-decoration:none;display:inline-block;}
.CMOP-tancengtitle a{background-position:-1px -331px;}
.CMOP-tancengtitle a:hover,.CMOP-tancengtitle a:active{background-position:-1px -359px;}

.CMOP-tancengcn01{width:350px;padding:20px 0px 10px 0px;text-align:center;}
.CMOP-tancengcn01 span{font-size:14px;font-weight:bold;color:#ff4200;padding:6px 10px 5px 35px;background:url(../images/newimages/icon_02.jpg) left center no-repeat;}
.CMOP-tancengcn02{width:310px;padding:10px 20px;}
.CMOP-tancengcn03{width:350px;padding-top:10px;text-align:center;}

.CMOP-custom{width:736px;padding:20px 10px 0px 10px;}
.CMOP-customtitle{width:736px;padding-bottom:10px;display:inline-block;}
.CMOP-customtitle p{padding-left:10px;text-align:left;line-height:22px;float:left;}
.CMOP-customcontent{width:736px;display:inline-block;}
.CMOP-customleft{width:397px;}
.CMOP-ct01{width:397px;height:34px;background:url(../images/newimages/custom_titlebg.jpg) left bottom no-repeat;}
.CMOP-ct01 p{height:34px;line-height:34px;text-align:center;color:#fff;background:url(../images/newimages/custom_titleline.jpg) right top no-repeat;overflow:hidden;float:left;font-weight:bold;}
.CMOP-ct02{width:395px;border-style:solid;border-color:#b0bdc8;border-width:0px 1px 1px 1px;}
.CMOP-cttd01{border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.CMOP-cttd02{border-right:1px solid #ececec;}
.CMOP-cttd03{border-bottom:1px solid #ececec;}

.CMOP-ctp1,.CMOP-ctp2{height:34px;line-height:34px;padding-left:10px;overflow:hidden;}
.CMOP-ctp1{width:100px;}
.CMOP-ctp2{width:140px;}
.CMOP-customright{width:320px;}

.CMOP-ct03{width:381px;padding:10px 8px;}
.CMOP-ct03 li{width:370px;padding-left:11px;line-height:20px;text-align:left;color:#999;background:url(../images/newimages/icon_03.jpg) 0px 8px no-repeat;padding-bottom:5px;}

.CMOP-ct04{width:387px;padding:20px 0px 0px 10px;}
.CMOP-ct04 p{line-height:30px;float:left;text-align:left;padding-left:10px;}
.CMOP-ct04 p a{color:#037cde;text-decoration:none;}
.CMOP-ct04 p a:hover,.CMOP-ct04 p a:active{text-decoration:underline;}

.CMOP-win{width:756px;text-align:center;padding-top:50px;}
.CMOP-winspan1{padding:20px 10px 20px 70px;background:url(../images/newimages/icon_04.jpg) left center no-repeat;font-size:30px;font-family:"微软雅黑";color:#ff4200;}

.CMOP-cnthree{width:756px;}

.SDK-contentleft{width:220px;height:420px;padding:20px 30px 20px 30px;}
.SDK-contentright{width:420px;}
.SDK-contentright h2{width:420px;text-align:left;padding-top:20px;}
.SDK-ul01,.SDK-buttoncn,.SDK-dl01{width:420px;}
.SDK-ul01 li{width:410px;height:22px;line-height:22px;padding-left:10px;background:url(../images/newimages/sdkios_icon01.jpg) 0px 8px no-repeat;text-align:left;font-size:12px;color:#006a92;overflow:hidden;}
.SDK-buttoncn{padding-top:20px;}
.SDK-dl01{padding-top:10px;}
.SDK-dl01 dt{width:410px;height:30px;line-height:30px;text-align:left;font-size:14px;font-weight:bold;color:#111;background-color:#f4f5f5;padding-left:10px;overflow:hidden;}
.SDK-dl01 dd{width:400px;padding:10px;text-align:left;line-height:22px;color:#666;}
.SDK-title01{width:746px;padding:20px 0px 10px 10px;}
.SDK-ul02{width:756px;padding-top:10px;}
.SDK-ul02 li{width:206px;float:left;padding-left:30px;overflow:hidden;}
.SDK-ul02 li　img{width:206px;height:306px;padding-bottom:10px;}
.SDK-ul02 li p{width:206px;background-color:#fafafa;padding:10px;text-align:left;color:#666;line-height:22px;}
.SDK-wel{width:756px;}
.SDK-welp1{padding:10px 0px 0px 20px;}
.SDK-welp2{padding:5px 0px 0px 5px;}
.SDK-welp3{padding:6px 0px 5px 20px;font-size:12px;color:#ff3600;background:url(../images/newimages/icon_05.jpg) left 7px no-repeat;}
.SDK-input1,.SDK-input2{border:1px solid #ccc;padding-left:5px;font-size:12px;color:#666;text-align:left;line-height:20px;}
.SDK-input2{height:24px;line-height:24px;}


/*-----------------我的应用样式内容-----------------*/
.p-t5{padding-top:5px;}
.Apply-home{}
.Apply-ul01,.Apply-content01{width:760px;display:inline-block;overflow:hidden;padding:0px 1px 10px 1px;}
.Apply-ul01 li{width:100%;float:left;padding:10px 0px;}
.Apply_icon01{width:60px;height:60px;padding:3px 20px 0px 20px;}
.Apply-ul01 li .Apply_intro{width:500px;}
.Apply-ul01 li .Apply_intro h2{text-align:left;}
.Apply-ul01 li .Apply_intro h2 a{font-size:12px;font-weight:bold;color:#1786df;text-decoration:none;}
.Apply-ul01 li .Apply_intro h2 a:hover,.Apply-ul01 li .Apply_intro h2 a:active{text-decoration:underline;}
.Apply-ul01 li .Apply_intro p{width:500px;height:22px;line-height:22px;text-align:left;overflow:hidden;colorl:#5f5f5f;}
.Apply-ul01 li .Apply_right{width:130px;padding-right:20px;}
.Apply-ul01 li .Apply_right p{width:130px;heihgt:30px;line-height:30px;text-align:right;}
.liline01{border-bottom:1px solid #e3e3e3;}
.libg01{background-color:#fbfbfb;}
a.link3{font-size:12px;color:#1986db;text-decoration:none;}
a.link3:hover,a.link3:active{text-decoration:underline;}
.flip_over{width:auto;padding:10px 0px;margin:0px 20px;}
.Apply-content01{}
.Apply-title01{width:auto;height:30px;line-height:30px;text-align:left;text-indent:15px;font-size:12px;font-weight:bold;color:#333;margin:0px 10px;background-color:#f6f6f6;}
.Apply-formcn01,.Apply-form-pp1{width:774px;}
.Apply-form-pp1{display:inline-block;}
.Apply-formp1{width:100px;text-align:right;line-height:32px;color:#333;}
.Apply-formp2,.Apply-formicon{width:398px;text-aling:left;}
.Apply-formp3{width:320px;padding-top:5px;color:#666;text-align:right;}
.Apply-formp3 span{font-size:18px;font-family:"微软雅黑";color:#f4380c;font-style:oblique;}
.Apply-formp4{width:154px;height:24px;overflow:hidden;padding-right:10px;background:url(../images/apply/input_bg01.jpg) left top no-repeat;padding:3px 5px;}
.Apply-formp4 input{height:22px;line-height:22px;text-align:left;background:none;color:#333;}
.Apply-formp5{line-height:30px;padding-left:10px;}
.Apply-formicon{}
.Apply-formicon02{width:230px;padding-top:10px;border:1px solid #2095cb;position:absolute;background-color:#f4fdff;}
.Apply-formicon02 li{padding:0px 0px 10px 10px;float:left;}
.Apply-input01{height:100px;font-size:12px;line-height:22px;text-align:left;padding-left:5px;;border:1px solid #ccc;color:#666;}


.validation_error{
	border:1px solid red
}












