body,td,th,input,select,button,dd,dl,dt,ol,textarea {
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a:visited,a:link {
	text-decoration: none;
}

a {
	color: #2E7DC6;
}

/*-----------------------------------dialog--------------------------------*/
.dialog {
	background-color: #F3F3F3;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 3px 8px #AAAAAA;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.title_img {
	background-color: #E9E9E9;
	background-image: -moz-linear-gradient(center top, #F3F2F2 0%, #DFDFDF 100%);
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #FFFFFF;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-align: left;
	text-shadow: 0 1px 1px #FFFFFF;
}

.dialog_content {
	width: auto;
	/*border-bottom: 1px solid #DDDDDD;*/
	border-top: 1px solid #FFFFFF;
	color: #666666;
	min-height: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px 15px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 1px #FFFFFF;
}

.dialog_list {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

.page_nav {
	height: 30px;
	width: 695px;
}

.checkbox {
	padding: 3px;
	width: 20px;
}

.file_infor {
	width: 640px;
}

.list_ul {
	overflow: hidden;
	clear: both;
	padding-bottom: 10px;
}

.float-p {
	border-bottom: 1px solid #D3D3D3;
	padding: 10px 0;
	position: relative;
	float: left;
}

.app-ul {
	width:'100%';
	float: left;
	display:block;
}

.app_icon {
	width: 60px;
	height: 60px;
	padding: 3px 20px 0px 30px;
	_padding-top: 0px;
}

.f_l {
	float: left;
}

.app-ul li .app_intro h2 {
	text-align: left;
	line-height: 15px;
	margin-bottom: 5px;
	height: 15px;
}

.app_intro p {
	width: 500px;
	height: 15px;
	line-height: 15px;
	text-align: left;
	overflow: hidden;
	color: black;
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0;
}

.app-ul li .app_intro h2 a {
	font-size: 12px;
	font-weight: bold;
	color: #1786df;
	text-decoration: none;
}