ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,img {
	padding: 0;
	margin: 0 auto;
	border: 0;
}
/*----------------------2014-01-16 - button style start--------------------*/
a.button_two1,a.button_two2 {
	background: url(../images/imageex/buttons.jpg);
	display: inline-block;
	text-decoration: none;
	text-align: center;
}

a.button_two1,a.button_two2 {
	color: #fff;
}

a.button_two1:hover,a.button_two2:hover,a.button_two1:active,a.button_two2:active
	{
	text-decoration: none;
}

a.button_two1,a.button_two2,a.button_two3,.button_two4 {
	width: 67px;
	height: 28px;
	line-height: 28px;
}

a.button_two1 {
	background-position: -92px 0px;
}

a.button_two1:hover {
	background-position: -92px -29px;
}

a.button_two1:active {
	background-position: -92px -58px;
}

a.button_two2 {
	background-position: -92px -87px;
}

a.button_two2:hover {
	background-position: -92px -116px;
}

a.button_two2:active {
	background-position: -92px -145px;
}
/*----------------------2014-01-16 - button style end--------------------*/
.f_l {
	float: left;
}

.f_r {
	float: right;
}

.ov_fl {
	overflow: hidden;
}

.t-c {
	text-align: center;
}

/*----------------------2014-01-16 - 自定义知识库样式--------------------*/
.TC-contenttop,.TC-contentbottom {
	width: 100%;
	height: 12px;
	overflow: hidden;
	position: relative;
}

.TC-contenttop p,.TC-contenttop font,.TC-contentbottom p,.TC-contentbottom font
	{
	width: 12px;
	height: 12px;
	position: absolute;
}

.TC-contenttop p,.TC-contentbottom p {
	left: 0px;
	top: 0px;
	z-index: 10px;
}

.TC-contenttop font,.TC-contentbottom font {
	right: 0px;
	top: 0px;
	z-index: 10px;
}

.TC-contenttop p {
	float: left;
	background: url(../images/imageex/tc_t01.png) left top no-repeat;
}

.TC-contentbottom p {
	float: left;
	background: url(../images/imageex/tc_b01.png) left bottom no-repeat;
}

.TC-contenttop font {
	background: url(../images/imageex/tc_t03.png) right 0px no-repeat;
}

.TC-contentbottom font {
	background: url(../images/imageex/tc_b03.png) right 0px no-repeat;
}

.TC-contenttop div {
	background: url(../images/imageex/tc_t02.png) left top repeat-x;
}

.TC-contenttop div,.TC-contentbottom div {
	margin: 0px 12px;
	height: 12px;
}

.TC-contentbottom div {
	background: url(../images/imageex/tc_b02.png) left bottom repeat-x;
}

.TC-title {
	width: 100%;
	height: 40px;
	overflow: hidden;
}

.TC-title h2 {
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
	width: 320px;
	font-size: 14px;
	color: #095a89;
	text-align: left;
}

.TC-title p {
	padding: 10px 10px 0px 0px;
	float: right;
}

.TC-title p a {
	width: 20px;
	height: 20px;
	display: inline-block;
	text-decoration: none;
}

.TC-title p a {
	background: url(../images/imageex/button_tanc.gif) 0px 0px no-repeat;
}

.TC-title p a {
	background-position: 0px -20px;
}

.TC-title p a:hover,.TC-title p a:active {
	background-position: 0px 0px;
}

.TC-titline {
	border-bottom: 1px solid #d2d6da;
}

.TC-cn01 {
	width: 100%;
}

.TC-imgcn1 {
	padding: 10px 0px;
	display: table;
	width: 100%;
}

.TC-contentone,.TC-contenttwo {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.TC-contentone {
	background: url(../images/imageex/tc_m01.png) left top repeat-y;
}

.TC-contenttwo {
	background: url(../images/imageex/tc_m02.png) right top repeat-y;
}

.TC-content {
	width: auto;
	height: 100%;
	margin: 0px 10px;
	padding: 0px 10px;
	overflow: hidden;
	background-color: #fff;
}

.ml10 {
	margin-left: 10px;
}

.h10 {
	width: 100%;
	height: 10px;
	display: inline-block;
}
/*----------------------2014-01-16 - 自定义知识库样式结束--------------------*/

/*----------------------2014-01-22 - 新增样式开始--------------------*/
.Form-input01:hover,.Form-input01:active,.Form-input01:focus {
	border: 1px solid #5b8dbc;
}

.pst {
	position: relative;
}

.Form-content {
	width: 100%;
	display: inline-block;
	position: relative;
}

.Form-cn1 {
	width: 180px;
}

.Form-cn2 {
	width: 550px;
}

.Form-input01,.Error-input01 {
	height: 28px;
	line-height: 26px;
	font-size: 12px;
	color: #666;
	padding-left: 5px;
}

.Form-input01 {
	border: 1px solid #ccc;
}

.sucai-imgcn {
	width: 326px;
	height: 100%;
	padding: 20px 0px 10px 20px;
	position: relative;
}

.sucai-imgcn img {
	max-width: 100%;
	width: expression(document.body.clientWidth > 100% ? "100%" :"auto");
}

.sucai-imgcn p {
	width: auto;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 10px;
	top: 72%;
	z-index: 100;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #fff;
	text-align: right;
	text-shadow: 0px 0px 4px #000;
}

.sucai-imgcn h2 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	text-align: center;
}

.sucai-cn01 {
	width: 260px;
	padding: 90px 30px 0px 0px;
}

.sucai-cn01 p {
	width: 100%;
	text-align: left;
	color: #666;
	line-height: 30px;
}

.image_load {
	padding: 5px;
	background: #f0f0f0;
	border: 1px solid #e2e2e2;
	float:left;
	width:110px;
}

.right_con a:hover {
	text-decoration: underline;
}

.file_name_area input[type=button]:focus,input[type=submit]:focus {
	outline: none;
}

.file_name_area input[type=button]::-moz-focus-inner {
	outline: 0;
}