p,dd,dl,dt,ul,ol,li,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0
}

img {
	border: 0;
	display: inline-block;
	text-decoration: none;
}


.show-img-msg-left {
	float: left;
}

* zoom    :            1 .float-p:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden
}

.n {
	font-weight: normal;
	font-style: normal
}

.b {
	font-weight: bold
}

.i {
	font-style: italic
}

.rel {
	position: relative
}

input[type="text"]:-moz-placeholder,textarea[placeholder]:-moz-placeholder
	{
	color: #aaa
}

input[type="text"]:-ms-input-placeholder,textarea[placeholder]:-ms-input-placeholder
	{
	color: #aaa
}

input[type="text"]:-webkit-input-placeholder,textarea[placeholder]:-webkit-input-placeholder
	{
	color: #aaa
}

.msg-item-wrapper {
	position: relative;
	margin-bottom: 26px;
	border: 1px solid #b8b8b8;
	background-color: #f4f4f4;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 178px;
	margin-bottom: 26px;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
}

.msg-item {
	padding: 2px 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	width: 180px;
}

.msg-t a {
	color: #333
}

.cover .msg-t a {
	color: #fff
}

.msg-meta {
	margin: 0 14px 6px;
	font-size: 13px
}

.msg-text {
	margin: 0 14px;
	font-size: 14px;
	line-height: 1.6;
	padding-bottom: 8px;
	text-align: left
}

.multi-msg .msg-meta {
	margin: 0 14px;
	line-height: 28px
}

.cover {
	margin: 5px 10px 12px;
	position: relative;
	font-size: 0;
	height: 80px;
	overflow: hidden;
}

.cover .msg-t {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	margin: 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.6) !important;
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0,
		startColorstr='#60000000', endColorstr='#60000000' );
}

.cover .i-title {
	display: block;
	padding-left: 4px;
	padding-right: 4px;
	width: 162px;
}

.cover img {
	width: 165px;
}

.msg-t {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 18px;
}

.default-tip {
	width: 100%;
	display: block;
	text-align: center;
	background-color: #ececec;
	text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
}

.cover .default-tip {
	font-size: 22px;
	color: #aaa;
	line-height: 160px;
}

.sub-msg-item {
	padding: 12px 14px;
	overflow: hidden;
	zoom: 1;
	border-top: 1px solid #c6c6c6
}

.sub-msg-item .msg-t { /*margin-left: 0px;
	margin-right: 85px;*/
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 12px;
	line-height: 17px;
	max-height: 48px;
	font-size: 11px;
	overflow: hidden
}

.thumb {
	float: right;
	font-size: 0
}

.thumb img {
	width: 50px;
	height: 50px;
	border: 1px solid #b2b8bd
}

.thumb .default-tip {
	font-size: 16px;
	color: #c0c0c0;
	width: 70px;
	line-height: 70px;
	border: 1px solid #b2b8bd
}


.sub-msg-opr {
	top: 0;
	left: 100%;
	height: 100%;
	width: 100%;
	/*background-color: #e5e5e5;
	background: rgba(229, 229, 229, 0.85);*/
}

.sub-msg-opr-show .sub-msg-opr {
	left: 0
}
