.App-menucn01{width:754px;padding:0 10px;}
.Apply-menuright{width:360px;margin-left:20px;}
.Apply-menuright h2,.Apply-formcn1{height:30px;padding-left:10px;line-height:30px;background-color:#a4d5ee;font-size:12px;font-weight:bold;}
.Apply-menuright h2{widht:290px;color:#333;}
.Apply-menuright-cn{width:348px;border-width:0px 1px 1px;border-style:solid;border-color:#e3e3e3;padding:0px 5px 5px 5px;}
.Apply-formcn1{width:350px;}
.Apply-formcn1 a{font-weight:bold;color:#2867b5;text-decoration:none;}
.Apply-formcn1 a:hover,.Apply-formcn1 a:active{text-decoration:underline;color:#092c6c;}
.Apply-formcn2{width:360px;}
.Ap-line1{border:1px solid #ebebeb;}
.Ap-line2{border-right:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
.Ap-line3{border-right:1px solid #ebebeb;}
.Ap-line4{border-bottom:1px solid #ebebeb;}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; margin-top:5px; color:red; }

.icon-add {
	background-image: url(../images/icon/add.png) !important;
}

.icon-save {
	background-image: url(../images/icon/disk.png) !important;
}

.icon-edit {
	background-image: url(../images/icon/application_edit.png) !important;
}

.icon-delete {
	background-image: url(../images/icon/delete.gif) !important;
}

.icon-refresh {
	background-image: url(../images/icon/refresh.gif) !important;
}

.icon-preview {
	background-image: url(../images/icon/zoom.png) !important;
}

.icon-search {
	background-image: url(../images/icon/search.png) !important;
}

.icon-cancel {
	background-image: url(../images/icon/cancel.png) !important;
}

.icon-ok {
	background-image: url(../images/icon/accept.png) !important;
}

.icon-statistic {
	background-image: url(../images/icon/calculator.png) !important;
}

.icon-report {
	background-image: url(../images/icon/table.png) !important;
}

.icon-table-edit {
	background-image: url(../images/icon/table_edit.png) !important;
	display: inline-block;
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	padding-right: 2px;
}

.icon-backspace {
	background-image: url(../images/icon/arrow_left.png) !important;
}

.icon-dynamic-menu {
	background-image: url(../images/icon/sitemap_color.png) !important;
}

.dynamic-menu-nonactive .x-tree-node-anchor span {
	color: red;
}

.dynamic-menu-active .x-tree-node-anchor span {
	color: black;
}

.x-grid3-cell-inner {
	overflow: visible;
	padding: 3px 3px 3px 5px;
	white-space: normal;
}

.ux-mselect {
	overflow: auto;
	background: white;
	position: relative; /* for calculating scroll offsets */
	zoom: 1;
	overflow: auto;
}

.x-list-body dt em {
	font-size: 12px;
}

.x-form-field-wrap .x-form-attachment-trigger {
	cursor: pointer;
	background-image: url(../images/icon/attachment-trigger.gif);
}

#f_content iframe{height:108px;}

.tanceng-content1{width:765px;}
.tanceng-title{width:701px;height:47px;background:url(../images/newimages/tanceng_topbg.png) left bottom no-repeat;position:relative;}
.tanceng-title{padding:32px 32px 0px 32px;}
.tanceng-title ul{width:680px;padding:0px 10px;display:inline-block;height:47px;background:url(../images/newimages/cnl-line01.jpg) left bottom repeat-x;}
.tanceng-title ul li{width:90px;line-height:46px;text-align:center;font-weight:bold;color:#1280d9;float:left;font-size:14px;}
.tanceng-title ul li a,.tanceng-title ul li a:hover,.tanceng-title ul li a:active{font-size:14px;color:#333;text-decoration:none;}
.tanceng-title p{position:absolute;top:42px;right:42px;}
.tanceng-title p,.tanceng-title p a{width:26px;height:26px;}
.tanceng-title p a{background:url(../images/app/weixin_sprites.jpg);display:inline-block;}
.tanceng-title p a{background-position:-1px -331px;}
.tanceng-title p a:hover,.tanceng-title p a:active{background-position:-1px -359px;}
.tanceng-box{width:701px;padding:0px 32px;background:url(../images/newimages/tanceng_contentbg.png) left top repeat-y;}
.tanceng-bottom{width:765px;height:45px;background:url(../images/newimages/tanceng_bottonbg.png) left bottom no-repeat;}
.Apply-ul01,.Apply-content01{width:774px;display:inline-block;overflow:hidden;padding:0px 1px 10px 1px;}
.Apply-ul01 li{width:100%;float:left;padding:10px 0px;}
.Apply_icon01{width:60px;height:60px;padding:3px 20px 0px 20px;_padding-top:0px;}
.Apply-ul01 li .Apply_intro{width:400px;}
.Apply-ul01 li .Apply_intro h2{text-align:left;}
.Apply-ul01 li .Apply_intro h2 a{font-size:12px;font-weight:bold;color:#1786df;text-decoration:none;}
.Apply-ul01 li .Apply_intro h2 a:hover,.Apply-ul01 li .Apply_intro h2 a:active{text-decoration:underline;}
.Apply-ul01 li .Apply_intro p{width:400px;height:22px;line-height:22px;text-align:left;overflow:hidden;colorl:#5f5f5f;}
.Apply-ul01 li .Apply_right{width:120px;padding-right:20px;}
.Apply-ul01 li .Apply_right p{width:120px;heihgt:30px;line-height:30px;text-align:right;}
.liline01{border-bottom:1px solid #e3e3e3;}
.libg01{background-color:#fbfbfb;}
a.link3{font-size:12px;color:#1986db;text-decoration:none;}
a.link3:hover,a.link3:active{text-decoration:underline;}
.flip_over{width:auto;padding:10px 0px;margin:0px 20px;}
.Apply-content01{}
.Apply-title01{width:auto;height:30px;line-height:30px;text-align:left;text-indent:15px;font-size:12px;font-weight:bold;color:#333;margin:0px 10px;background-color:#f6f6f6;}
.Apply-formcn01,.Apply-form-pp1{width:774px;}
.Apply-form-pp1{display:inline-block;}
.Apply-formp1{width:100px;text-align:right;line-height:32px;color:#333;}
.Apply-formp2,.Apply-formicon{width:398px;text-aling:left;}
.Apply-formp3{width:320px;padding-top:5px;color:#666;text-align:right;}
.Apply-formp3 span{font-size:18px;font-family:"微软雅黑";color:#f4380c;font-style:oblique;}
.Apply-formp4{width:154px;height:24px;overflow:hidden;padding-right:10px;background:url(../images/apply/input_bg01.jpg) left top no-repeat;padding:3px 5px;}
.Apply-formp4 input{height:22px;line-height:22px;text-align:left;background:none;color:#333;}
.Apply-formp5{line-height:30px;padding-left:10px;}
.Apply-formicon{}
.Apply-formicon02{width:230px;padding-top:10px;border:1px solid #2095cb;position:absolute;left:100px;top:120px;background-color:#f4fdff;}
.Apply-formicon02 li{padding:0px 0px 10px 10px;float:left;}
.Apply-input01{height:100px;font-size:12px;line-height:22px;text-align:left;padding-left:5px;;border:1px solid #ccc;color:#666;}

.Apply-one{width:774px;display:inline-block;overflow:hidden;}
.Apply-Icon{padding:0px 20px 0px 20px;}
.Apply-Iconcn1{width:380px;}
.Apply-Iconcn1 h2{width:380px;padding-top:3px;text-align:left;font-size:14px;color:#333;}
.Apply-Iconcn2{width:380px;padding:8px 0px 5px 0px;}
.star-red,.star-grey{width:15px;height:15px;display:inline-block;background:url(../images/apply/star_icon.jpg);}
.star-red{background-position:0px 0px;}
.star-grey{background-position:-18px 0px;}
.Apply-Iconcn3{width:380px;color:#999;text-align:left;}
.Apply-Iconcn4{width:100px;}
.Apply-Iconcn4 p{text-align:right;padding:5px 0px;height:}

a.Apply-button01{width:62px;height:22px;background:url(../images/app/weixin_sprites.jpg);display:inline-block;}
a.Apply-button01{font-size:12px;color:#fff;text-align:center;line-height:22px;}
a.Apply-button01{background-position:-364px -293px;}
a.Apply-button01:hover,a.Apply-button01:active{background-position:-428px -293px;}


.Apply-Intro{width:774px;}
.Apply-Intro h2{line-height:24px;text-align:left;font-size:14px;color:#333;padding-left:10px;float:left;}
.Apply-Introcn{padding-right:10px;height:20px;line-height:20px;display:inline-block;}
.Apply-Introcn h3{height:20px;padding-right:1px;float:left;font-size:12px;font-weight:bold;color:#333;text-align:right;}
.Apply-Introcn p{height:20px;line-height:20px;text-align:left;float:left;}
.Apply-Introcn p img{padding-right:5px;}

.l-h20{line-height:20px;}
.Apply-onetext1{width:754px;}
.A-c01{color:#666;}
.Apply-title02{height:24px;line-height:24px;width:764px;font-size:14px;text-align:left;color:#333;padding:10px 0px 0px 10px;}
.Apply-onetext1{font-size:12px;color:#666;padding:0px 0px 10px 0px;}

input{display:inline;}