body,p,td,th,input,select,button,dd,dl,dt,ul,ol,li,textarea {
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a:visited,a:link {
	text-decoration: none;
}

a {
	color: #2E7DC6;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clr {
	clear: both;
}

.material_content {
	margin-left: -2px;
	min-height: 455px;
	padding: 20px;
	width: 727px;
}

.list_title {
	padding: 2px 10px;
	background-color: #F1F1F1;
	border: 1px solid #D3D3D3;
	border-radius: 3px 3px 3px 3px;
	overflow: hidden;
}

.title {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

.opt {
	text-align: center;
	width: 100px;
}

.list_content {
	width: 707px;
	padding: 0px 10px 10px;
}

.list_item {
	padding: 10px 0px;
	border-bottom: 1px solid #d3d3d3;
}

.file_name_area {
	padding: 5px 0;
}

.file_name {
	padding: 2px 6px;
	line-height: 20px;
	display: block;
}

.xi_img {
	position: relative;
	float: left;
	cursor: pointer;
}

.img_loading {
	background: url(../images/loader.gif) no-repeat scroll 0 0 transparent;
	position: absolute;
	display: block;
	width: 31px;
	height: 31px;
	z-index: 1000;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: none;
}

.xi_imgloading {
	display: block;
}

.oper,.size {
	width: 100px;
	text-align: center;
	color: #aaaaaa;
}

.icon18 {
	background: url(../images/icon18.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 18px;
	width: 18px;
	margin-left: 3px;
}

.icon18 {
	display: inline-block;
	margin-left: 3px;
}

.icon_edit {
	background-position: 0px -1px;
}

.icon_edit:hover {
	background-position: -28px -1px;
}

.icon_download {
	background-position: 0px -28px;
}

.icon_download:hover {
	background-position: -28px -28px;
}

.icon_del {
	background-position: 0px -56px;
}

.icon_del:hover {
	background-position: -28px -56px;
}
/*-----------------------------------dialog--------------------------------*/
.dialog {
	background-color: #F3F3F3;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 3px 8px #AAAAAA;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.title_img {
	background-color: #E9E9E9;
	background-image: -moz-linear-gradient(center top, #F3F2F2 0%, #DFDFDF 100%);
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #FFFFFF;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-align: left;
	text-shadow: 0 1px 1px #FFFFFF;
}

.dialog .close_tip_icon {
	background: url(../images/icon_popup_close.png) no-repeat scroll 0 0
		transparent;
	height: 16px;
	right: 13px;
	top: 13px;
	width: 16px;
}

.close_tip_icon:hover {
	background-position: -16px 0;
}

.close_tip_icon {
	background: url(../images/closeIcon.png) no-repeat scroll 0 0
		transparent;
	height: 24px;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 23px;
}

.dialog_content {
	width: auto;
	/*border-bottom: 1px solid #DDDDDD;*/
	border-top: 1px solid #FFFFFF;
	color: #666666;
	min-height: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px 15px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 1px #FFFFFF;
}

.dialog_list {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

.page_nav {
	height: 30px;
	width: 695px;
}

.checkbox {
	padding: 3px;
	width: 20px;
}

.file_infor {
	width: 640px;
}

.list_ul {
	overflow: hidden;
	clear: both;
	padding-bottom: 10px;
}

.float-p {
	border-bottom: 1px solid #D3D3D3;
	padding: 10px 0;
	position: relative;
	float: left;
}
/*---------------------------------textinfor------------------------------------*/
.textinfor_content {
	width: auto;
	height: 400px;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #FFFFFF;
	color: #666666;
	min-height: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px 15px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 1px #FFFFFF;
	overflow-x: hidden;
	overflow-y: auto;
}

.img_content {
	padding-top: 14px;
	text-align: justify;
	background: #fff;
	clear: both;
	overflow: hidden;
	zoom: 1;
	cursor: pointer;
}

.col_imgmsg {
	width: 340px;
	background-color: #F4F4F4;
	border: 1px solid #D3D3D3;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 26px;
	position: relative;
}

.col_content {
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	padding: 2px 0;
	display: inline-block;
	width: 320px;
	margin: 10px 0;
	border: 1px solid #D3D3D3;
}

.col_text_left {
	width: 230px;
}

.default_img {
	color: #AAAAAA;
	font-size: 22px;
	line-height: 160px;
	background-color: #ECECEC;
	display: block;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	margin: 0 14px;
}

.default_small_img {
	color: #AAAAAA;
	font-size: 14px;
	line-height: 70px;
	background-color: #ECECEC;
	display: block;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
}

.col_img_right {
	padding: 5px 15px 5px 0;
	width: 70px;
	height: 70px;
}

.col_img_title {
	margin: 0 14px;
	padding: 2px;
}

.col_h4 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 28px;
	margin: 6px 14px 0;
	max-height: 56px;
	overflow: hidden;
}

.col_date {
	font-size: 13px;
	margin: 0 14px 6px;
}

.col_img {
	font-size: 0;
	height: 160px;
	margin: 0 14px 0;
	overflow: hidden;
	position: relative;
}

.col_text {
	font-size: 14px;
	line-height: 70px;
	margin: 0 14px;
	padding-bottom: 8px;
	text-align: left;
}

.hover_mask_bg {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.hover_mask {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.hover_true {
	background: url(../images/selected-icon.png) no-repeat scroll 50% 50%
		transparent;
	height: 100%;
	position: absolute;
	width: 100%;
	display: inline-block;
	text-align: justify;
}

.smal_context {
	overflow: hidden;
	zoom: 1;
}