.icon-user-login {
	background-image: url(images/cog.png) !important;
}

.icon-user-add {
	background-image: url(images/user_add.gif) !important;
}

.icon-user-delete {
	background-image: url(images/user_delete.gif) !important;
}

.icon-add {
	background-image: url(images/add.gif) !important;
}

.icon-save {
	background-image: url(images/disk.png) !important;
}

.icon-delete {
	background-image: url(images/delete.gif) !important;
}

.icon-grid {
	background-image: url(images/grid.png) !important;
}

.icon-image-add {
	background-image: url(images/image_add.png) !important;
}

.icon-table-add {
	background-image: url(images/table_add.png) !important;
}

.icon-table-edit {
	background-image: url(images/table_edit.png) !important;
}

.icon-table-delete {
	background-image: url(images/table_delete.png) !important;
}

.icon-table-save {
	background-image: url(images/table_save.png) !important;
}

.icon-refresh {
	background-image: url(images/refresh.gif) !important;
}

.icon-search {
	background-image: url(images/search.png) !important;
}
.icon-common-chat {
	background-image: url(images/user_comment.png) !important;
}

.icon-ontology-root {
	background-image: url(images/database.png) !important;
}

.icon-ontology-cate {
	background-image: url(images/pkg.gif) !important;
}

.icon-ontology-cate-add {
	background-image: url(images/folder_add.png) !important;
}

.icon-ontology-cate-edit {
	background-image: url(images/folder_edit.png) !important;
}

.icon-ontology-cate-del {
	background-image: url(images/folder_delete.png) !important;
}

.icon-ontology-class {
	background-image: url(images/ontology_class.png) !important;
}

.icon-ontology-class-add {
	background-image: url(images/ontology_class_add.png) !important;
}

.icon-ontology-class-edit {
	background-image: url(images/ontology_class_edit.png) !important;
}

.icon-ontology-class-delete {
	background-image: url(images/ontology_class_delete.png) !important;
}

.icon-ontology-attr {
	background-image: url(images/shape_square.png) !important;
}

.icon-ontology-attr-add {
	background-image: url(images/shape_square_add.png) !important;
}

.icon-ontology-attr-edit {
	background-image: url(images/shape_square_edit.png) !important;
}

.icon-ontology-attr-del {
	background-image: url(images/shape_square_delete.png) !important;
}

.icon-ontology-object {
	background-image: url(images/note.png) !important;
}

.icon-ontology-object-add {
	background-image: url(images/note_add.png) !important;
}

.icon-ontology-object-edit {
	background-image: url(images/note_edit.png) !important;
}

.icon-ontology-object-del {
	background-image: url(images/note_delete.png) !important;
}

.icon-ontology-sync {
	background-image: url(images/database_go.png) !important;
}

.icon-ontology-export {
	background-image: url(images/ontology_export.png) !important;
}

.icon-ontology-import {
	background-image: url(images/ontology_import.png) !important;
}

.icon-ontology-root-add {
	background-image: url(images/database_add.png) !important;
}

.icon-aitester {
	background-image: url(images/application_osx_terminal.png) !important;
}

.icon-wordclass-root {
	background-image: url(images/book.png) !important;
}

.icon-wordclass-category {
	background-image: url(images/report.png) !important;
}

.icon-wordclass-add {
	background-image: url(images/report_add.png) !important;
}

.icon-wordclass-edit {
	background-image: url(images/report_edit.png) !important;
}

.icon-wordclass-del {
	background-image: url(images/report_delete.png) !important;
}

.icon-wordclass-search {
	background-image: url(images/report_magnify.png) !important;
}

.icon-wordclass-root-sync {
	background-image: url(images/book_go.png) !important;
}

.icon-wordclass-root-add {
	background-image: url(images/book_add.png) !important;
}

.icon-expand {
	background-image: url(images/lorry_add.png) !important;
}

.icon-comment {
	background-image: url(images/font_go.png) !important;
}

.icon-collapse {
	background-image: url(images/lorry_flatbed.png) !important;
}

.icon-correct-pinyin {
	background-image: url(images/pill.png) !important;
}

.icon-instruction {
	background-image: url(images/link.png) !important;
}

.icon-dimension {
	background-image: url(images/chart_line.png) !important;
}

.icon-dimension-edit {
	background-image: url(images/chart_line_edit.png) !important;
}

.icon-dimension-add {
	background-image: url(images/chart_line_add.png) !important;
}

.icon-dimension-delete {
	background-image: url(images/chart_line_delete.png) !important;
}

.icon-presuffix {
	background-image: url(images/comment.png) !important;
}

.icon-presuffix-add {
	background-image: url(images/comment_add.png) !important;
}

.icon-presuffix-delete {
	background-image: url(images/comment_delete.png) !important;
}

.icon-module-config {
	background-image: url(images/brick.png) !important;
}

.icon-module-config-add {
	background-image: url(images/brick_add.png) !important;
}

.icon-module-config-edit {
	background-image: url(images/brick_edit.png) !important;
}

.icon-module-config-delete {
	background-image: url(images/brick_delete.png) !important;
}

.icon-context {
	background-image: url(images/page_white_stack.png) !important;
}

.icon-context-reverse-ask {
	background-image: url(images/font_go.png) !important;
}

.icon-context-node {
	background-image: url(images/page_white_world.png) !important;
}

.x-form-field-wrap .x-form-add-trigger {
	cursor: pointer;
	background-image: url(images/add-trigger.gif);
}

.x-form-field-wrap .x-form-attachment-trigger {
	cursor: pointer;
	background-image: url(images/attachment-trigger.gif);
}

.icon-text-replace {
	background-image: url(images/text_replace.png) !important;
}

a.mylink {
	text-decoration: none;
	font-size: 12px;
	color: #15428B;
	display: block;
}

a.mylink:hover {
	text-decoration: underline;
	color: #15428B;
}

.x-panel-collapsed-text {
	color: #15428B;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 0 4px;
	line-height: 18px;
}

.app-msg .x-box-mc {
	text-align: left;
}

.x-icon-text {
	background-repeat: no-repeat;
	padding-left: 20px;
	font-family: tahoma;
}

.icon-status-ok {
	background-image: url(images/accept.png) !important;
}

.icon-status-error {
	background-image: url(images/error.png) !important;
}

.icon-status-notice {
	background-image: url(images/information.png) !important;
}

.icon-status-cancel {
	background-image: url(images/cross.gif) !important;
}

.icon-toolbox {
	background-image: url(images/wrench.png) !important;
}

.icon-view-switcher {
	background-image: url(images/application_view_list.png) !important;
}

.column-hd-btn-patch td {
	border: none;
}

.x-grid3-cell-inner {
	overflow: visible;
	padding: 3px 3px 3px 5px;
	white-space: normal;
}

.node-wordclass-important .x-tree-node-anchor span {
	color: red;
}

.node-wordclass-similar .x-tree-node-anchor span {
	color: blue;
}

.node-wordclass-both .x-tree-node-anchor span {
	color: purple;
}

.x-grid3-row td {
	-moz-user-select: text;
}

.yyyInput {
	width: 80px;
	border: 1px solid grey
}

.mylink1 {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	color: grey;
	font-weight: normal;
}

.editObjectDetail {
	position: relative;
	top: 5px;
	left: 5px
}

.icon-nav-pre {
	background-image: url("images/book_previous.png") !important;
}

.icon-nav-next {
	background-image: url("images/book_next.png") !important;
}
.icon-attr-link {
	background-image: url(images/attr_link.png) !important;
}
.icon-attr-link-del {
	background-image: url(images/attr_link_del.png) !important;
}

.icon-edit {
	background-image: url(images/application_edit.png) !important;
}

.icon-ok {
	background-image: url(images/accept.png) !important;
}

.icon-export {
	background-image: url(images/export.png) !important;
}

.icon-import {
	background-image: url(images/import.png) !important;
}

/*******************************************
 * 
 * DateRangeField styles
 *
 ******************************************/
.ext-dt-range label {
    font-size: 12px;
}
.ext-dt-range .x-form-check-wrap {
    white-space: nowrap;
}
.ext-dt-range .x-table-layout-cell {
    padding-right: 5px;
}
.x-grid-group-hd div.x-grid-group-title{
	font-size: 12px
}
.dimension-chooser-vertical .x-form-item {
margin-bottom:0;padding-bottom:0
}
.icon-attr-copy{
	background-image: url(images/copy.png) !important;
}
.icon-attr-cut{
	background-image: url(images/cut.png) !important;
}
.icon-attr-paste{
	background-image: url(images/paste.png) !important;
}
.icon-attr-audit-submit{
	background-image: url(images/book_edit.png) !important;
}
.x-form-download-trigger{
	background-image: url(images/down.jpg) !important;
}
.x-selectable, .x-selectable * {   
 -moz-user-select: text!important ;   
 -khtml-user-select: text!important ;
 -webkit-user-select: text!important ;
}

.x-grid-group-hd { cursor: default; }
.x-grid-group-hd div.x-grid-group-title { background-image: none; padding-left:4px}

.presetCateFieldHolder div{display: inline-block;margin-left:5px}

.top-module-appmgr {
	background-image: url(images/bricks.png) !important;
}
.top-module-presetcfg {
	background-image: url(images/cog.png) !important;
}
.top-module-appmonitor {
	background-image: url(images/chart_line.png) !important;
}
.top-module-pubappmgr{
	background-image: url(images/database_add.png) !important;
}
.top-module-authmgr {
	background-image: url(images/authmgr.png) !important;
}
.icon-mgrapp{
	background-image: url(images/brick.png) !important;
}
.icon-mgrapp-disabled,.icon-mgrapp-disabled a span{
	text-decoration: line-through;font-style:italic ;
}