.CPM{height:100px;display:inline-block;}
.CPMtitle{width:100%;height:34px;position:relative;}
.CPM-title1,.CPM-title2{width:20px;height:34px;position:absolute;z-index:9999;top:0;}
.CPM-title1{background:url(../images/cpm_title_l.png) left top no-repeat;left:0px;}
.CPM-title2{background:url(../images/cpm_title_r.png) right top no-repeat;right:0px;}
.CPM-titlecn{width:auto;height:26px;background:url(../images/cpm_title_bg.png) left top repeat-x;padding-top:8px;margin:0px 20px 0px 20px;}
.CPM-titlecn h5{width:200px;line-height:26px;color:#fff;text-align:left;float:left;padding-right:10px;font-weight:normal;font-size:12px;}
.CPM-titlecn p{width:12px;float:right;padding-top:6px;}
.CPM-titlecn p a{width:12px;height:12px;display:inline-block;background:url(../images/close_icon.jpg) 0px 0px no-repeat;text-decoration:none;}
.CPM-titlecn p a{background-position:0px 0px;}
.CPM-titlecn p a:hover,.CPM-titlecn p a:active{background-position:0px -12px;}
html.CPM-content1,html.CPM-content2{width:100%;height:100%;}
.CPM-content1{background:url(../images/cpm_left_bg.png) left top repeat-y;}
.CPM-content1 .CPM-content2{background:url(../images/cpm_right_bg.png) right top repeat-y;}
.CPM-content1 .CPM-content2 .CPMcn{width:auto;background-color:#ecf7ff;margin:0px 20px;padding-top:10px;}
.CPM-cn{width:100%;line-height:22px;text-align:center;font-size:12px;color:#333;padding:10px 0px;}
.CPM-cnbutton{width:100%;height:24px;text-align:center;padding-bottom:5px;}
.CPM-cnbutton a{width:70px;height:24px;display:inline-block;background:url(../images/cpm_button01.jpg) 0px 0px no-repeat;text-decoration:none;}
.CPM-cnbutton a{font-size:12px;line-height:24px;text-align:center;color:#222;}
.CPM-cnbutton a:hover,.CPM-cnbutton a:active{background-position:0px -24px;}
.CPMbottom{width:100%;height:20px;position:relative;}
.CPM-bottom1,.CPM-bottom3{width:20px;height:20px;position:absolute;top:0px;z-index:9999;}
.CPM-bottom1{background:url(../images/cpm_left_bot.png) left bottom no-repeat;left:0;}
.CPM-bottom2{width:auto;height:20px;background:url(../images/cpm_bottom_bg.png) left bottom repeat-x;margin:0px 20px;}
.CPM-bottom3{background:url(../images/cpm_right_bot.png) right bottom no-repeat;right:0;}