@charset "utf-8";
/* CSS Document */
/*----------------------------------Author:lvzhaohua-----------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{padding:0;margin:0 auto;border:0;}
body{font-size:12px;color:#333;background-color:#fff;font-family:"宋体";}
ol,ul,li,img{list-style-type: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
abbr,acronym { border: 0;}
.clearbh:after{height:0;visibility:hidden;display:block;clear:both;content:" ";}
.clearbh{ clear:both;font-size:0; height:0; overflow:hidden;display:inline-block;}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
input{outline:0 none;}
/* fix IE hack \*/
*html .clearbh{height:1%;}

body{height:100%;width:100%;}
/*--------------------------------全局样式结束------------------------------*/

.pl10{padding-left:10px;}
.pr10{padding-left:10px;}
.cl6{color:#666;}
.fw{font-weight:bold;}
.mb20{margin-bottom:8px;}
.mt20{margin-top:20px;}


.header{position:absolute;height:110px;width:100%;top:0;border-bottom:1px solid #108cdf;background:#4fa6f6;}
.header_left{float:left;}
.header_right{float:right;margin-right:15px;display:inline;}
.header_right li{float:right;margin-top:11px;text-align:right;width:100%;}

.header{height:54px;width:100%;border-bottom:1px solid #108cdf;background:#4fa6f6;}
.header_left{float:left;}
.header_left_top{width:100%;height:60px; font-family:Arial, Helvetica, sans-serif;font-size:27px;font-weight:bold;color:#FFF;margin-top:10px;}
.header_left_top p{margin-left:15px;}
.header_left_top p label{font-size:14px; font-weight:normal; position:relative; top:-15px; right:-4px;}
.header_left_bottom{width:100%;margin-top:2px;}
.header_left_bottom ul{margin-left:10px;}
.header_left_bottom li{width:40px;float:left;}
.header_left_bottom_bg{width:30px;float:left;height:30px;line-height:30px;background:url(../images/top_line.jpg) right center no-repeat;text-align:center;margin-right:5px;padding-right:5px;}


.top_ico1{background:url(../images/top_icon1.png) center center no-repeat;width:24px;height:30px; text-decoration:none;display:block; cursor:pointer;}
.top_ico1:disabled{background:url(../images/top_ico1.png) no-repeat center center; cursor:default;}

.top_ico2{background:url(../images/top_icon2.png) center center no-repeat;width:23px;height:30px; text-decoration:none;display:block;cursor:pointer;}
.top_ico2:disabled{background:url(../images/top_ico2.png) center center no-repeat;cursor:default;}

.top_ico3{background:url(../images/top_icon3.png) no-repeat center center;width:22px;height:30px; text-decoration:none;display:block;cursor:pointer;}
.top_ico3:disabled{background:url(../images/top_ico3.png) center center no-repeat;cursor:default;}


.content{width:100%;top:54px;bottom:36px;position:absolute;}
.content_r{width:100%;height:100%;position:relative;}
/*************左边****************/
.content_left{position:absolute;left:0;top:0;width:210px;height:100%;background:#FFF;border-right:1px solid #d0dae1;background-color:#f9f9f9;}
.content_left_top{width:100%;height:164px;float:left;}
.content_left_ico1{background:url(../images/content_left_ico1.jpg) no-repeat top center;text-align:center;color:#666;width:70px;padding-top:50px;height:20px;margin-top:10px;float:left; text-decoration:none;}
.content_left_ico1:hover,.content_left_ico1:active{text-decoration:none;color:#000;}
.content_left_ico2{background:url(../images/content_left_ico2.jpg) no-repeat top center;text-align:center;color:#666;width:70px;padding-top:50px;height:20px;margin-top:10px;float:left;text-decoration:none;}
.content_left_ico2:hover,.content_left_ico2:active{text-decoration:none;color:#000;}
.content_left_ico3{background:url(../images/content_left_ico3.jpg) no-repeat top center;text-align:center;color:#666;width:70px;padding-top:50px;height:20px;margin-top:10px;float:left;text-decoration:none;}
.content_left_ico3:hover,.content_left_ico3:active{text-decoration:none;color:#000;}
.content_left_bottom{width:210px;height:100%;border-right:0px solid #d0dae1;border-top:1px solid #d0dae1;float:left;}
.content_bottomimg{position:fixed;bottom:30px;left:0;}

/*************中间****************/
.content_center{position:absolute;top:0;bottom:0;left:211px;right:211px;background:#FFF;overflow:scroll;}
.content_content{width:1280px;height:000px;float:left;}

/*************右边****************/
.content_right{position:absolute;right:0;top:0;bottom:0;width:211px;background:#FFF;border-left:1px solid #d0dae1;font-family:"微软雅黑";font-size:14px;overflow-x:hidden;}

.content_right_title p{float:left;}
.content_right_title a{float:right;margin-right:10px;display:inline;padding-top:3px;}

.content_right_title{background:#edeff1;width:201px;height:36px;line-height:36px; border-bottom:1px solid #d3dde3;}
.input_box{padding:10px;height:30px;line-height:30px;width:200px;font-size:12px;}
.input_box span{float:left;width:65px;margin-left:2px;display:inline;}
.input_box input{height:28px;line-height:28px;border:1px solid #ccc;width:105px;float:left;background:#FFF;padding:0 3px;color:#666;}
.input_box .input_box_btn{height:30px;line-height:30px;background:url(../images/content_right_btn.jpg) no-repeat;border:none; cursor:pointer;}
.content_right_list{width:100%;overflow-y:scroll;}
.content_right_list li{height:39px;line-height:39px;border-bottom:1px solid #e7ecf0;padding-left:10px;font-size:12px;}
.content_right_list a{color:#666666;text-decoration:none;}
.content_right_list a:hover,.content_right_list a:active{color:#000;text-decoration:none;}

.kong{height:35px;background:#edeff1;width:100%;position:fixed;bottom:0;left:0;border-top:1px solid #d0dae1;}



/*****************弹层***************/
.box{background:#FFF;border:5px solid #666666;width:380px;height:390px;height:auto;position:absolute;font-family:"微软雅黑";}
.box_title{height:40px;line-height:40px;margin:0 15px;border-bottom:2px solid #afd6fb;width:350px;float:left;}
.box_title font{float:left;font-size:16px;font-weight:bold;}
.box_title a{float:right;padding-top:5px;}
.box_title a:hover,.box_title a:active{}
.box_con{height:auto;padding:0 15px;width:350px;margin-bottom:20px;float:left;max-height:290px;overflow-y:auto;overflow-x:hidden;}
.box_con ul{clear:both;}
.box_con li{width:100%;height:35px;margin-top:12px;float:left;}
.box_con li span{float:left;width:70px;font-size:14px;padding-left:5px;height:35px;line-height:35px;color:#000;}
.box_con li input{float:left;width:240px;height:33px;line-height:33px;border:1px solid #e0e0e0;padding:0 5px; border-radius:3px;}
.box_btn{width:100%;height:43px;line-height:55px;background:#f8f8f8;float:left;padding-top:12px;}
.box_btn1{width:80px;height:30px;line-height:30px;cursor:pointer;background:#4fa6f6;color:#FFF; border-radius:3px;border:1px solid #4fa6f6;float:right;margin-right:10px;display:inline;font-family:"微软雅黑";}
.box_btn1:hover,.box_btn1:active{background:#378fe1;}
.box_btn2{width:78px;height:30px;line-height:30px;cursor:pointer;background:#fff;color:#666666; border-radius:3px;border:1px solid #ced1d3;float:right;margin-right:20px;display:inline;font-family:"微软雅黑";}
.box_btn2:hover,.box_btn2:active{background:#f5f5f5;}

.header_left_bottom img{margin-left:18px;margin-top:5px;}

.content_right_title p{float:left;}
.content_right_title a{float:right;margin-right:10px;display:inline;padding-top:3px;}

.content_content_bottom{width:100%;height:100%;float:left;}
.content_content_top{width:100%;height:36px;line-height:36px;background:#fff;position:fixed;top:54px;border-bottom:1px solid #d3dde3;}
.content_content_top ul{margin-left:20px;clear:both;}
.content_content_top li{margin-right:20px;float:left;}
.content_content_top a{color:#9c9c9c; text-decoration:none;float:left;font-family:"微软雅黑";font-size:14px;}
.content_content_top a:hover,.content_content_top a:active{color:#4fa6f6;}

.content_content_top_ico1{background:url(../images/content_content_top_icon1.png) no-repeat center left;padding-left:20px;}
.content_content_top_ico1:hover,.content_content_top_ico1:active{background:url(../images/content_content_top_ico1.png) no-repeat center left;}
.content_content_top_ico2{background:url(../images/content_content_top_icon2.png) no-repeat center left;padding-left:18px;}
.content_content_top_ico2:hover,.content_content_top_ico2:active{background:url(../images/content_content_top_ico2.png) no-repeat center left;}
.content_content_top_ico3{background:url(../images/content_content_top_icon3.png) no-repeat center left;padding-left:15px;}
.content_content_top_ico3:hover,.content_content_top_ico3:active{background:url(../images/content_content_top_ico3.png) no-repeat center left;color:#ff0000 !important;}


.content_left_ico4{background:url(../images/content_left_ico4.jpg) no-repeat top center;text-align:center;color:#666;width:70px;padding-top:50px;height:20px;margin-top:10px;float:left;text-decoration:none;}
.content_left_ico4:hover,.content_left_ico3:active{text-decoration:none;color:#000;}

path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

/*bear.li start*/
i.save{background:url(../images/icon_save_h.png) no-repeat center left; display:inline-block; width:15px; height:17px;}
.toolbar{font-size:14px; background-color:#edeff1}
.toolbar .add_button{cursor:pointer;}
.toolbar li{height:36px; border-bottom:1px solid #d0dae1; line-height:36px;}
.toolbar li div:first-child,.toolbar li span:first-child{padding-left:20px;}
.toolbar i{display:inline-block;}
.toolbar i.down{float:right; margin:14px 10px 0 0; background:url(../images/down.png) no-repeat center left; width:16px; height:9px;}
.toolbar i.right{float:right; margin:10px 10px 0 0; background:url(../images/right.png) no-repeat center left; width:9px; height:16px;}
.toolbar i.add_icon{background:url(../images/add_icon.png) no-repeat center left; width:13px; height:13px;}
.toolbar i.search{background:url(../images/search.png) no-repeat center left; width:16px; height:16px; float:right; margin:10px 10px 0 0; cursor:pointer;}
.toolbar .function-block{display:inline-block; width:60px; height:63px; text-align:center; margin:5px 0 0 5px; cursor: pointer;}
.toolbar .function-block i{display:inline-block; width:31px; height:45px;}
.toolbar .icon-mobile{background:url(../images/mobile.png) no-repeat center left;}
.toolbar .icon-tv{background:url(../images/tv.png) no-repeat center left;}
.toolbar .icon-computer{background:url(../images/computer.png) no-repeat center left;}
.toolbar .icon-smart{background:url(../images/smart.png) no-repeat center left;}
.toolbar .function-block span{display:block; line-height:0px; text-decoration:none;}
.toolbar .function-block:link,.toolbar .function-block:visited{color:#333; text-decoration: none;}

.content_content_top button{border:none; font-size:14px; background-color:#fff; color:#9c9c9c;cursor:pointer;}
.content_content_top button:disabled{color:#c7c7c7; cursor:default;}
.icon{display:inline-block; margin-right:3px; position:relative; top:2px;}
.icon-new{width:16px; height:16px; background:url(../images/icon_new_h.png);}
.content_content_top button:disabled i.icon-new{background:url(../images/icon_new.png);}
.icon-delete{width:16px; height:16px; background:url(../images/icon_delete_h.png);}
.content_content_top button:disabled i.icon-delete{background:url(../images/icon_delete.png);}

.bg_f9{background-color:#f9f9f9; margin:0;}
/*end*/

.footer{line-height:36px;background-color:#ececec;text-align:center;font-size:14px;color:#999;font-family:"微软雅黑","STHeitiSC-Light",Verdana,Arial,Tahoma;}